extends ../page.pug

append config
	- title = '1 Foundation | Beautyforce.ru'
	- h1 = '1 Foundation'
	- desc = 'Жидкая тональная основа 1 Foundation one drop miracle выпускается корейским производителем RIJUWORLD INTL CO. Продукт впервые был представлен на рынке в 2017 году и быстро стал хитом.'
	-	image	=	'headers/brands/1foundation.jpg'

block content
	.container
		.breadcrumbs
			ul.breadcrumbs__list
				li.breadcrumbs__item
					a.breadcrumbs__link(href="/") Главная
				li.breadcrumbs__item
					a.breadcrumbs__link(href="brands.html") Бренды
				li.breadcrumbs__item 1 Foundation
		.page
			.page__content
				h2.page__title 1 Foundation
				main.main

					img(src="img/gallery/1foundation/1foundation_01.jpg", alt="1 Foundation")

					p Жидкая тональная основа 1 Foundation one drop miracle выпускается корейским производителем RIJUWORLD INTL CO. Продукт впервые был представлен на рынке в 2017 году и быстро стал хитом. После производители представили и другие средства, среди которых маски для лица, лосьоны, скрабы и др.

					h3 Продукция компании

					p Под брендом 1 Foundation выпускается косметика хорошего качества. Торговая марка представила первую тональную основу с жидкими маслами. Производители предлагают и другие средства для красоты, в том числе очищающие лосьоны и маски.

					p Бренд 1 Foundation  выпускает продукцию, которая была удостоена различных наград. Среди них It Products 2019 в Лос-Анджелесе, Cosmoprof Worldwide 2018 в Болонье, Pure Beauty Global  Awards и др. Косметику отличают такие достоинства:

					ul.page-list
						li.page-list__item Инновационные формулы
						li.page-list__item Удобство применения
						li.page-list__item Упаковка
						li.page-list__item Функциональность
						li.page-list__item Экологичность

					p Продукция не проходит тестирование на животных. Косметика не вызывает раздражения и аллергических реакций. В ней отсутствуют отдушки и искусственные красители.

					img.page__img(src="img/gallery/1foundation/1foundation_02.jpg", alt="1 Foundation")

					p #[strong 1 Foundation one drop miracle – это тональная основа с инновационной формулой, которая характеризуется следующими особенностями:]

					ul.page-list
						li.page-list__item Уникальный состав
						li.page-list__item Флакон из стекла
						li.page-list__item Удобный дозатор
						li.page-list__item Элегантная упаковка
						li.page-list__item Стойкость

					p Косметика поставляется в коробке с розово-золотой голограммой. Стеклянный флакон удобен для того, чтобы отслеживать количество тонального крема. Дозатор позволяет экономно расходовать средство. Продукция предлагается в нескольких оттенках. Основа хорошо ложится на кожу, имеет приятную текстуру. Она придает естественное сияние и свежесть. Крем подстраивается под цвет кожи, идеально с ним сливается.

					img.page__img(src="img/gallery/1foundation/1foundation_03.jpg", alt="1 Foundation")

					p #[strong Основу косметики составляют активные действующие вещества:]

					ul.page-list
						li.page-list__item Масло авокадо
						li.page-list__item Жожоба
						li.page-list__item Зеленый чай и др.

					p Косметика южнокорейского бренда пользуется заслуженной популярностью не только на Родине, но и в других странах мира. Множество женщин уже смогли оценить ее качество и инновационные формулы. В кремах присутствуют компоненты, защищающие от ультрафиолетовых лучей.

					p #[strong Официальный дилер 1 Foundation предлагает выгодное сотрудничество. Компания «Бьюти Форс» поможет в организации доставки и реализации качественной корейской косметики. Наши клиенты могут выбрать удобный способ доставки в любой регион России.]

			.page-sidebar
				h3.page-sidebar__title О бренде:
				.sidebar
					.sidebar__col
						a(href="./presentations/1foundation.pdf" target="_blank") Скачать презентацию
