extends ../page.pug

append config
	- title = '3W Clinic | Beautyforce.ru'
	- h1 = '3W Clinic'
	- desc = 'Корейский бренд 3W Clinic относится к собственности компании Dodo Company Ltd, известной качественной профессиональной косметикой.'
	-	image	=	'headers/brands/3w-clinic.jpg'

block content
	.container
		.breadcrumbs
			ul.breadcrumbs__list
				li.breadcrumbs__item
					a.breadcrumbs__link(href="/") Главная
				li.breadcrumbs__item
					a.breadcrumbs__link(href="brands.html") Бренды
				li.breadcrumbs__item 3W Clinic
		.page
			.page__content
				h2.page__title 3W Clinic
				main.main

					p Корейский бренд 3W Clinic относится к собственности компании Dodo Company Ltd, известной качественной профессиональной косметикой. Продукцию под этой маркой начали выпускать с 2009 г. Ее оценили как жители Южной Кореи, так и далеко за пределами страны. Товары создаются с учетом последних достижений в отрасли.

					h3 Особенности 3W Clinic

					p Бренд 3W Clinic отличается применением в производстве только натуральных ингредиентов. В состав включены биологически активные вещества, которые увлажняют, питают кожу, разглаживают морщины. Южнокорейская косметика рекомендуется для ежедневного применения, комплексной очистки.

					p Под брендом 3W Clinic выпускают:

					ul.page-list
						li.page-list__item Составы для рук
						li.page-list__item Лосьоны для тела
						li.page-list__item Пенки для умывания
						li.page-list__item Сыворотки для кожи
						li.page-list__item Ночные и дневные маски
						li.page-list__item Эмульсии для кожи
						li.page-list__item Пилинг-гели
						li.page-list__item Крема для ног и др.

					p Корейская косметика известна благодаря тому, что в линейке выпускаются товары как для женщин, так и для мужчин. Гипоаллергенные крема и лосьоны совершенно безопасны для применения, не вызывают нежелательных реакций. Производители предлагают сыворотки и эмульсии с противовозрастным эффектом. Средства имеют приятную текстуру и запах, дают ощущение свежести и чистоты.

					p В состав лосьонов, сывороток, эмульсий включаются следующие ингредиенты:

					ul.page-list
						li.page-list__item Коллаген
						li.page-list__item Гилауроновая кислота
						li.page-list__item Экстракты лекарственных трав
						li.page-list__item Плацента
						li.page-list__item Экстракт золота, черного жемчуга
						li.page-list__item Лошадиное масло

					p Бренд 3W Clinic сочетает последние достижения с восточными традициями. Ингредиенты составов воздействуют на глубокие слои эпидермиса, активизируя процессы регенерации на клеточном уровне. Всего через несколько применений можно оценить результат. Крема способствуют разглаживанию мимических морщин, дают лифтинг-эффект, обладают антивозрастным действием.

					p Вещества, входящие в состав, оказывают щадящее деликатное воздействие на эпидермис, что дает ощущение свежести и подтянутости. Большой выбор ухаживающих средств позволяет подобрать продукцию, помогающую решить индивидуальные проблемы кожи.

					p: strong Официальный дилер 3W Clinic «Бьюти Форс» предлагает корейскую косметику по доступной цене. Производители регулярно разрабатывают новую продукцию с улучшенными свойствами. Компания «Бьюти Форс» предлагает сотрудничество тем, кто ищет качественную косметику по доступной цене.

			.page-sidebar
				h3.page-sidebar__title О бренде
				.sidebar
					.sidebar__col
						.sidebar__title Изготовитель:
						p XAI Cosmetics Korea Co., Ltd.
					.sidebar__col
						.sidebar__title Адрес производителя:
						p Республика Корея, 151, Gukhoe-daero, Gangeo-gu, Seoul, 07787
					.sidebar__col
						.sidebar__title Год основания:
						p 2009
					.sidebar__col
						.sidebar__title Год выхода в России:
						p 2016