extends ../page.pug

append config
	- title = 'О компании | Beautyforce.ru'
	- h1 = 'О компании'
	- desc = 'Дистрибьюторская компания Beauty Force (Россия) была основана в 2010 году. Мы следим за "тенденциями развития" рынка косметики и выбираем лучшие бренды.'
	-	image	=	'brands.jpg'
	- currentURL = 'about.html'

block content
	.container
		.breadcrumbs
			ul.breadcrumbs__list
				li.breadcrumbs__item
					a.breadcrumbs__link(href="/") Главная
				li.breadcrumbs__item О компании
		main.main
			h2.page__title О компании
			p Дистрибьюторская компания Beauty Force (Россия) была основана в 2010 году. Мы следим за "тенденциями развития" рынка косметики и выбираем лучшие бренды.
			p Инвестируя в подготовку и реализацию нашего проекта, мы приобрели надежных партнеров по всей России.
			p Безусловно, главная миссия нашей компании - приносить радость с помощью замечательной косметики, любимые бренды и наше надежное партнерство. Мы постоянно совершенствуем свой профессионализм и подбираем лучшую косметику. Сегодня у нас есть бренды декоративной косметики и средств по уходу за кожей из США, ЕС, Южная Корея входит в портфель компании.
			p Наша команда ценит качество, хорошее обслуживание и сотрудничество!
			p Мы также предлагаем различные бренды для обслуживания розничных и распределительных каналов в течение 10 лет.
			p Маркетинговая поддержка, обучение, оперативный и качественный сервис, бесперебойные поставки продукции – мы ориентированы исключительно на взаимовыгодное сотрудничество в долгосрочной перспективе.
			ul.page-list
				li.page-list__item 2009 – начало работы с брендом Sophin.
				li.page-list__item 2011 – к нам присоединились бренды Organic Ocean, Magic Henna.
				li.page-list__item 2012 – к нам присоединились бренды OPI, CND.
				li.page-list__item 2013 – к нам присоединились бренды The Saem, Zinger.
				li.page-list__item 2014 – к нам присоединились бренды Tony Moly, Elizavecca, Mizon, Petitfee, Koelf.
				li.page-list__item 2015 – к нам присоединились бренды Emansi, Real Techniques, Catrice, Essence, Ecotools, Revolution Make up, Sleek make up, Vival, MAM, Локсы.
				li.page-list__item 2016 – к нам присоединились бренды Esthetic House, J:on.
				li.page-list__item 2017 – мы стали эксклюзивным дистрибьютером брендов Dr.Gloderm и 3W Clinic.
				li.page-list__item 2018 – мы стали официальным дилером кристаллов и бижутерии Swarovski, и эксклюзивным дистрибьютором бренда Cellmiin.
				li.page-list__item 2019 – к нам присоединились бренды группы Coty (Wella, Londa, Nioxin, SebMan, SP, Sebastian) и натуральная российская косметика Flovera.
			p
				b С 2019 года состоим в Российской Парфюмерно-Косметической Ассоциация (РПКА).