extends ../page.pug

append config
	- title = 'О компании | Beautyforce.ru'
	- h1 = 'О компании'
	- desc = 'Дистрибьюторская компания Beauty Force (Россия) была основана в 2010 году. Мы следим за "тенденциями развития" рынка косметики и выбираем лучшие бренды.'
	-	image	=	'headers/5'
	- currentURL = 'about.html'

block content
	.container
		.breadcrumbs
			ul.breadcrumbs__list
				li.breadcrumbs__item
					a.breadcrumbs__link(href="/") Главная
				li.breadcrumbs__item О компании
		main.main
			h2.page__title О компании
			p Дистрибьюторская компания Beauty Force (Россия) была основана в 2010 году. За 10 лет работы мы успели собрать хорошее бренд-портфолио, развить прямой импорт и представлять лучшие бренды на российском рынке. Мы следим за тенденциями развития рынка косметики и выбираем лучшее. Сегодня у нас есть бренды декоративной косметики и средств по уходу за кожей из США, ЕС, Южная Корея входит в портфель компании.
			p Нашими партнерами являются крупнейшие розничные магазины, аптеки и интернет-магазины. В рейтингах поставщиков всегда входим в ТОП 10 крупнейших и надежных.
			p Безусловно, главная миссия нашей компании - приносить радость с помощью замечательной косметики, любимых брендов и надежным партнерством. Мы постоянно совершенствуем свой профессионализм и наша команнда работает оперативно и слажено. Наша команда ценит качество, хорошее обслуживание и сотрудничество!
			p #[strong Маркетинговая поддержка, обучение, оперативный и качественный сервис, бесперебойные поставки продукции – мы ориентированы исключительно на взаимовыгодное сотрудничество в долгосрочной перспективе.]

			ul.page-list
				li.page-list__item 2010 – начало работы.
				li.page-list__item 2011 – к нам присоединились бренды Organic Ocean, Magic Henna.
				li.page-list__item 2012 – к нам присоединились бренды OPI, CND.
				li.page-list__item 2013 – к нам присоединились бренды The Saem, Zinger.
				li.page-list__item 2014 – к нам присоединились бренды Tony Moly, Elizavecca, Mizon, Petitfee, Koelf.
				li.page-list__item 2015 – к нам присоединились бренды Emansi, Real Techniques, Catrice, Essence, Ecotools, Revolution Make up, Sleek make up, Vival, MAM, Локсы.
				li.page-list__item 2016 – к нам присоединились бренды Esthetic House, J:on.
				li.page-list__item 2017 – мы стали эксклюзивным дистрибьютером брендов Dr.Gloderm и 3W Clinic.
				li.page-list__item 2018 – мы стали официальным дилером кристаллов и бижутерии Swarovski, и эксклюзивным дистрибьютором бренда Cellmiin.
				li.page-list__item 2019 – к нам присоединились бренды группы Coty (Wella, Londa, Nioxin, SebMan, SP, Sebastian) и натуральная российская косметика Flovera.
				li.page-list__item 2020 – стали эксклюзивными представителями корейской косметики Foreverskin, Oattbe, Dearboo и натуральных средств женской гигиены Yejimiin и уникальной тональной основы 1Foundation.

			p В планах на ближайшее время развивать направление Уход за домом и гигиена. В июне 2020 году будет доступна уникальная бытовая химия на основе кокосового масла.

			p #[strong Состоим в Торгово-промышленной палате России.]

			p #[strong Сотрудничаем с Корейским агентством содействия торговле и инвестициям (КОТРА).]

			p #[strong Сотрудничаем с Korea International Trade Association (КИТА).]

			p Мы будем рады сотрудничеству с вами и сделаем ваш бизнес лучше и успешнее!