extends ../page.pug

append config
	- title = 'Alsoft R | Beautyforce.ru'
	- h1 = 'Alsoft R'
	- desc = 'Бренд Alsoft R выпускает японский концерн Saraya. Компания более 60 лет разрабатывает антисептические средства для личной гигиены.'
	-	image	=	'headers/brands/placeholder'

block content
	.container
		.breadcrumbs
			ul.breadcrumbs__list
				li.breadcrumbs__item
					a.breadcrumbs__link(href="/") Главная
				li.breadcrumbs__item
					a.breadcrumbs__link(href="brands.html") Бренды
				li.breadcrumbs__item Alsoft R
		.page
			.page__content
				h2.page__title Alsoft R
				main.main

					p Бренд Alsoft R выпускает японский концерн Saraya. Компания более 60 лет разрабатывает антисептические средства для личной гигиены.

					p История концерна началась с выпуска антибактериального мыла, которое стало первым подобным продуктом в Японии. Линейка антисептических средств рекомендуется для медицинских организаций, производственных помещений, домашнего использования.

					h3 Обзор товаров

					p #[strong Alsoft R – это растворы для обработки рук, медицинских инструментов, хирургических столов и др. Средства обладают антимикробной активностью в отношении бактерий:]

					ul.page-list
						li.page-list__item Аденовирусов
						li.page-list__item Герпеса
						li.page-list__item Кандидозных грибков
						li.page-list__item Вируса гриппа
						li.page-list__item Грамположительных микобактерий и др.

					p В составах присутствуют ингредиенты, которые ухаживают за кожей рук. Средства имеют продолжительный срок действия до 3 часов.

					p Производители делают акцент на экологичности и натуральности своей продукции. Она выпускается в удобных упаковках, из материала, который разлагается в природной среде. Антисептические средства могут использоваться в таких сферах, как:

					ul.page-list
						li.page-list__item Медицинские и фармацевтические организации
						li.page-list__item Места общественного питания
						li.page-list__item Детские учреждения
						li.page-list__item Общественные санузлы
						li.page-list__item Косметические и массажные салоны

					p Составы являются действенным средством профилактики, соответствуют гигиеническим требованиям.

					h3 Достоинства

					p #[strong Alsoft R – это средства, обладающее следующими качествами:]

					ul.page-list
						li.page-list__item Экологичность
						li.page-list__item Доступность
						li.page-list__item Широкая сфера применения
						li.page-list__item Безопасность
						li.page-list__item Соответствие мировым стандартам качества
						li.page-list__item Удобная упаковка

					p Товары торговой марки могут использоваться в домашних условиях или организациях, где необходимо соблюдать гигиенические требования. Антисептики защитят от заболеваний, причиной которых являются вирусные или бактериальные возбудители. Обработка рук займет от 20 секунд, а операционного места – от 1 минуты. В состав включены смягчающие и увлажняющие компоненты, ухаживающие за кожей. Антисептики не вызывают раздражения и покраснения.

					p #[strong Официальный дилер Alsoft R в России «Бьюти Форс» сотрудничает с крупными оптовыми и небольшими розничными сетями. Компания организовывает быструю и надежную доставку продукции в регионы страны. Мы предлагаем выгодные условия сотрудничества, бонусы и скидки постоянным клиентам. Менеджеры компании ответят на возникшие вопросы, помогут сделать первый заказ.]

			//- .page-sidebar
			//- 	h3.page-sidebar__title О бренде
			//- 	.sidebar
			//- 		.sidebar__col
			//- 			.sidebar__title Изготовитель:
			//- 			p
			//- 		.sidebar__col
			//- 			.sidebar__title Адрес производителя:
			//- 			p
			//- 		.sidebar__col
			//- 			.sidebar__title Год основания:
			//- 			p
			//- 		.sidebar__col
			//- 			.sidebar__title Год выхода в России:
			//- 			p