extends ../page.pug

append config
	- title = 'Arau | Beautyforce.ru'
	- h1 = 'Arau'
	- desc = 'Бренд Arau выпускается концерном Saraya, основанным в середине прошлого века. История компании началась с выпуска антибактериального мыла, которое стало востребованным среди потребителей.'
	-	image	=	'headers/brands/placeholder'

block content
	.container
		.breadcrumbs
			ul.breadcrumbs__list
				li.breadcrumbs__item
					a.breadcrumbs__link(href="/") Главная
				li.breadcrumbs__item
					a.breadcrumbs__link(href="brands.html") Бренды
				li.breadcrumbs__item Arau
		.page
			.page__content
				h2.page__title Arau
				main.main

					p Бренд Arau выпускается концерном Saraya, основанным в середине прошлого века. История компании началась с выпуска антибактериального мыла, которое стало востребованным среди потребителей. Под торговой маркой производят бытовую химию и косметические средства.

					h3 Обзор товаров

					p Производители выпускают эффективные экологически чистые продукты для уборки и гигиены. Под брендом Arau представлена линейка средств для ухода за детьми с первых дней жизни. В основе продукции кокосовые и пальмовые масла, экстракты растительных трав. Особенностью товаров является отсутствие отдушин, красителей, синтетических добавок. Средства отличаются натуральностью и экологической безопасностью.

					p #[strong Под торговой маркой представлены такие товары, как:]

					ul.page-list
						li.page-list__item Лосьоны и крема для детей
						li.page-list__item Концентраты для стирки
						li.page-list__item Гель-пенка для купания новорожденных
						li.page-list__item Средства для мытья посуды и др.

					p Продукция выпускается в упаковке из биоразлагающихся материалов. Составы растворяются в воде, не загрязняют окружающую среду. В качестве ингредиентов для косметики используются:

					ul.page-list
						li.page-list__item Масло ши
						li.page-list__item Вытяжки морских водорослей
						li.page-list__item Экстракты ромашки, шалфея
						li.page-list__item масло жожоба и др.

					p Крема и лосьоны не вызывают раздражения даже на нежной детской коже. Они могут использоваться сразу после рождения малыша, полностью безопасны.

					h3 Преимущества

					p #[strong Косметика и бытовая химия Arau имеют такие характеристики, как:]

					ul.page-list
						li.page-list__item Экологичность
						li.page-list__item Хороший результат
						li.page-list__item Удобная упаковка
						li.page-list__item Безопасный состав
						li.page-list__item Доступность

					p В составе гелей и концентратов для стирки отсутствуют агрессивные вещества, отбеливатели. При этом их использование дает хороший результат. Они легко справляются даже с сильными загрязнениями. Средства подходят для стирки детской и взрослой одежды. Они ухаживают за тканями, сохраняя их первоначальный вид длительное время.

					p Косметика японского производителя отличается натуральным составом и эффективностью. Она предназначена для ухода за кожей лица и тела. В средствах отсутствуют синтетические добавки, поэтому они не вызывают раздражения и аллергических реакций.

					p #[strong На территории России бренд представляет официальный дилер Arau «Бьюти Форс». Компания предлагает выгодное сотрудничество, быструю доставку и разумные цены. Менеджеры «Бьюти Форс» готовы дать подробную консультацию по всем представленным товарам.]

			//- .page-sidebar
			//- 	h3.page-sidebar__title О бренде
			//- 	.sidebar
			//- 		.sidebar__col
			//- 			.sidebar__title Изготовитель:
			//- 			p
			//- 		.sidebar__col
			//- 			.sidebar__title Адрес производителя:
			//- 			p
			//- 		.sidebar__col
			//- 			.sidebar__title Год основания:
			//- 			p
			//- 		.sidebar__col
			//- 			.sidebar__title Год выхода в России:
			//- 			p