extends ../page.pug

append config
	- title = 'Бренды | Beautyforce.ru'
	- h1 = 'Бренды'
	- desc = 'Мы постоянно совершенствуем свой профессионализм и подбираем лучшую косметику. Сегодня у нас есть бренды декоративной косметики и средств по уходу за кожей из США, ЕС, Южная Корея входит в портфель компании.'
	-	image	=	'headers/page-header-01.jpg'
	- currentURL = 'brands.html'

block content
	.container
		.breadcrumbs
			ul.breadcrumbs__list
				li.breadcrumbs__item
					a.breadcrumbs__link(href="/") Главная
				li.breadcrumbs__item Бренды
		main.main
			h2.page__title Бренды
			p Мы постоянно совершенствуем свой профессионализм и подбираем лучшую косметику. Сегодня у нас есть бренды декоративной косметики и средств по уходу за кожей из США, ЕС, Южная Корея входит в портфель компании.
			.brands
				h3.brands__heading Уход за кожей
				ul.brands__list
					li.brands__item
						a.brands__link(href="dr-gloderm.html")
							img(src="img/brands/dr-gloderm.jpg", alt="Dr.Gloderm")
							.brands__content
								h2.brands__title Dr.Gloderm
								span.brands__desc Dr.Gloderm представляет процедуры по уходу за кожей с рекомендованными дозами, которые отличают их продукты от существующих на рынке.
					li.brands__item
						a.brands__link(href="3w-clinic.html")
							img(src="img/brands/3w-clinic.jpg", alt="3w-clinic")
							.brands__content
								h2.brands__title 3w Clinic
								span.brands__desc Косметика 3W Clinic – это комбинация восточных медицинских традиций и современных достижений науки.
					li.brands__item
						a.brands__link(href="cellmiin.html")
							img(src="img/brands/cellmiin.jpg", alt="Cellmiin")
							.brands__content
								h2.brands__title Cellmiin
								span.brands__desc Бренд лечебной натуральной косметики Cellmiin был запушен компанией WELCRON HEALTHCARE в 2017 году, когда компания разработала множество различных рецептур по уходу за кожей лица и тела без добавления химических ингредиентов.
					li.brands__item
						a.brands__link(href="coscodi.html")
							img(src="img/brands/coscodi.jpg", alt="Coscodi")
							.brands__content
								h2.brands__title Coscodi
								span.brands__desc Специалисты COSCODI сосредоточены на том, чтобы сделать вашу кожу здоровой, используя лучшие натуральные ингредиенты, которые клинически доказали свою эффективность.
					li.brands__item
						a.brands__link(href="j-on.html")
							img(src="img/brands/j-on.jpg", alt="J:ON")
							.brands__content
								h2.brands__title J:ON
								span.brands__desc J:ON молодой корейский бренд, специализирующийся на производстве альгинатных масок.
					li.brands__item
						a.brands__link(href="petitfee.html")
							img(src="img/brands/petitfee.jpg", alt="Petitfee")
							.brands__content
								h2.brands__title Petitfee
								span.brands__desc Новый корейский косметический бренд, объединившийся в июле 2007-го года с маркой Koelf. Основан группой врачей из сферы эстетической медицины.
					li.brands__item
						a.brands__link(href="koelf.html")
							img(src="img/brands/koelf.jpg", alt="Koelf")
							.brands__content
								h2.brands__title Koelf
								span.brands__desc Продукция Koelf заслужила доверие покупателей своей натуральностью, эффективностью и высоким качеством.
					li.brands__item
						a.brands__link(href="the-skin-house.html")
							img(src="img/brands/the-skin-house.jpg", alt="Koelf")
							.brands__content
								h2.brands__title The skin House
								span.brands__desc Бренд, основанный в Южной Корее в 1979 году. В процессе создания продукции используются ингредиенты, сертифицированные для этих целей Ecocert.
					li.brands__item
						a.brands__link(href="l-sanic.html")
							img(src="img/brands/l-sanic.jpg", alt="L.Sanic")
							.brands__content
								h2.brands__title L.Sanic
								span.brands__desc Новый южнокорейский бренд с собственным производством. Специализируется на выпуске гидрогелевых патчей для глаз. Принадлежит компании JT Co., Ltd, которая разрабатывает уходовую косметику.
					li.brands__item
						a.brands__link(href="elizavecca.html")
							img(src="img/brands/elizavecca.jpg", alt="Elizavecca")
							.brands__content
								h2.brands__title Elizavecca
								span.brands__desc Все средства Elizavecca - это, в первую очередь, высокие стандарты качества, новейшие и наиболее эффективные достижения в области косметологии, а также множество безопасных органических экстрактов.
				h3.brands__heading Уход за волосами
				ul.brands__list
					li.brands__item
						a.brands__link(href="wella.html")
							img(src="img/brands/wella.jpg", alt="Wella")
							.brands__content
								h2.brands__title Wella
								span.brands__desc Немецкая компания, является одной из ведущих компаний в мире в области косметики и парфюмерии. Основанная в 1880 году, Wella AG присутствует в более чем 150 странах. Производит средства для ухода за волосами, краски для волос.
					li.brands__item
						a.brands__link(href="londa.html")
							img(src="img/brands/londa.jpg", alt="Londa")
							.brands__content
								h2.brands__title Londa
								span.brands__desc Профессиональный салонный бренд с более чем 60-летним наследием. Коллекция продуктов для ухода за волосами, окрашивания и стайлинга создана, чтобы подчеркнуть красоту в повседневной жизни.
					li.brands__item
						a.brands__link(href="wella-system-professional.html")
							img(src="img/brands/wella-system-professional.jpg", alt="wella-system-professional")
							.brands__content
								h2.brands__title Wella System Professional
								span.brands__desc Немецкий бренд Wella System Professional известен уже более 100 лет. Он предлагает модные инновации для ухода, лечения, стайлинга и преображения локонов.
					li.brands__item
						a.brands__link(href="nioxin.html")
							img(src="img/brands/nioxin.jpg", alt="Nioxin")
							.brands__content
								h2.brands__title Nioxin
								span.brands__desc Продукты, предназначенные для сохранения оздоровления волосяного стержня и избавления кожи от раздражения, снижения негативного эффекта от процедуры окрашивания и закрепления цвета, что позволит уменьшить частоту применения краски.
					li.brands__item
						a.brands__link(href="sebastian.html")
							img(src="img/brands/sebastian.jpg", alt="Sebastian")
							.brands__content
								h2.brands__title Sebastian
								span.brands__desc Профессиональная косметика для волос SEBASTIAN Professional – это общеизвестный торговый бренд, который был создан парой креативных стилистов Джон Себастиан и Джери Кузенца в 1970 году.
					li.brands__item
						a.brands__link(href="sebman.html")
							img(src="img/brands/sebman.jpg", alt="Sebman")
							.brands__content
								h2.brands__title Sebman
								span.brands__desc SEBASTIAN представляет новую мужскую линию продуктов SEB MAN для ухода за волосами, стайлинга и груминга.
					li.brands__item
						a.brands__link(href="esthetic-house.html")
							img(src="img/brands/esthetic-house.jpg", alt="Sebman")
							.brands__content
								h2.brands__title Esthetic House
								span.brands__desc Косметический бренд из Южной Кореи, производящий декоративные средства для лица и уходовые продукты для волос и кожи.
					li.brands__item
						a.brands__link(href="valmona.html")
							img(src="img/brands/valmona.jpg", alt="Valmona")
							.brands__content
								h2.brands__title Valmona
								span.brands__desc Корейский бренд Valmona сосредоточил свои силы в узкой направленности и специализируется на производстве средств по уходу за волосами и кожей головы.
					li.brands__item
						a.brands__link(href="ghd.html")
							img(src="img/brands/ghd.jpg", alt="GHD")
							.brands__content
								h2.brands__title GHD
								span.brands__desc Первоклассные изобретения для укладки волос: стайлеры, фены, щипцы и плойки работающие по технологиям, которые позволяют сделать эффектную укладку, не травмируя волосы.
					li.brands__item
						a.brands__link(href="coco-palm.html")
							img(src="img/brands/coco-palm.jpg", alt="Elizavecca")
							.brands__content
								h2.brands__title Coco Palm
								span.brands__desc Японская торговая марка Cocopalm известна своей ухаживающей СПА-серией, получившей лестные отзывы дерматологов и парикмахеров за мягкое действие и интенсивный уход на основе природных компонентов.
				h3.brands__heading Товары для детей
				ul.brands__list
					li.brands__item
						a.brands__link(href="mam.html")
							img(src="img/brands/mam.jpg", alt="MAM")
							.brands__content
								h2.brands__title MAM
								span.brands__desc История бренда MAM началась еще в 1975 году. Педиатры того времени всеми силами пытались убедить молодых родителей в том, что пустышки – далеко не самый полезный аксессуар для ребенка.
				h3.brands__heading Декоративная косметика
				ul.brands__list
					li.brands__item
						a.brands__link(href="catrice.html")
							img(src="img/brands/catrice.jpg", alt="Catrice")
							.brands__content
								h2.brands__title Catrice
								span.brands__desc Симбиоз красоты и моды является одним из главных преимуществ бренда CATRICE. Бренд, вдохновленный трендами мировых столиц моды!
					li.brands__item
						a.brands__link(href="essence.html")
							img(src="img/brands/essence.jpg", alt="Essence")
							.brands__content
								h2.brands__title Essence
								span.brands__desc Декоративная косметика essence обладает средней пигментированностью – поэтому она не загрязняет поры и не выглядит как маска.
					li.brands__item
						a.brands__link(href="revolution-makeup.html")
							img(src="img/brands/revolution-makeup.jpg", alt="Revolution Makeup")
							.brands__content
								h2.brands__title Revolution Makeup
								span.brands__desc Амбициозный бренд из Лондона REVOLUTION Makeup своим появлением на рынке в 2014 году произвёл настоящий бум.
					li.brands__item
						a.brands__link(href="revolution-pro.html")
							img(src="img/brands/revolution-pro.jpg", alt="Revolution PRO")
							.brands__content
								h2.brands__title Revolution PRO
								span.brands__desc Revolution PRO - британский бренд, безумно популярный во всей Европе, теперь доступен и в России!  Определяющая его успеха - это комбинация высокого качества, многогранной палитры оттенков и адекватной цены.
					li.brands__item
						a.brands__link(href="opi.html")
							img(src="img/brands/opi.jpg", alt="OPI")
							.brands__content
								h2.brands__title OPI
								span.brands__desc Лидер индустрии профессионального ухода за ногтями. Культ цвета заложен в ДНК бренда.
					li.brands__item
						a.brands__link(href="sleek-make-up.html")
							img(src="img/brands/sleek-make-up.jpg", alt="Sleek Make Up")
							.brands__content
								h2.brands__title Sleek Make Up
								span.brands__desc Изначально бренд позиционировал себя, как косметика для темнокожих девушек. Чуть позже они расширили свои границы, решив создавать качественную, стойкую и экономную косметику для всех типов кожи.
				h3.brands__heading Бытовая химия
				ul.brands__list
					li.brands__item
						a.brands__link(href="lv.html")
							img(src="img/brands/lv.jpg", alt="LV")
							.brands__content
								h2.brands__title LV
								span.brands__desc Марка гипоаллергенных средств по уходу за телом и бытовой химии. Все продукты бренда созданы финскими специалистами в сотрудничестве с некоммерческой организацией «Союз против Аллергии и Астмы.
					li.brands__item
						a.brands__link(href="saraya.html")
							img(src="img/brands/saraya.jpg", alt="Saraya")
							.brands__content
								h2.brands__title Saraya
								span.brands__desc Японская компания с многолетней историей и большим опытом в сфере производства гигиенического оборудования, моющих и дезинфицирующих средств, а также медицинских расходных материалов.
					li.brands__item
						a.brands__link(href="arau.html")
							img(src="img/brands/arau.jpg", alt="Arau")
							.brands__content
								h2.brands__title Arau
								span.brands__desc Средства для ухода за детской одеждой arau. baby созданы на основе натурального мыла, полученного из кокосового и пальмового масел, с добавлением эфирных масел лаванды и мяты.
					li.brands__item
						a.brands__link(href="happy-elephant.html")
							img(src="img/brands/happy-elephant.jpg", alt="Happy Elephant")
							.brands__content
								h2.brands__title Happy Elephant
								span.brands__desc Японская компания Saraya представляет новую уникальную серию чистящих и моющих средств для дома – Happy Elephant.
					li.brands__item
						a.brands__link(href="yashinomi.html")
							img(src="img/brands/yashinomi.jpg", alt="Yashinomi")
							.brands__content
								h2.brands__title Yashinomi
								span.brands__desc Натуральные моющие средства. Не содержат синтетических красителей и ароматизаторов. Сертификаты EcoMark и Biomass подтверждают экологичность упаковки.
					li.brands__item
						a.brands__link(href="smile-helper.html")
							img(src="img/brands/smile-helper.jpg", alt="Yashinomi")
							.brands__content
								h2.brands__title Smile Helper
								span.brands__desc Полностью нейтрализует неприятные запахи, подавляет гнилостные процессы и газообразование, способствует растворению отходов и легкому очищению баков. Обладает моющими свойствами и антимикробным действием.
				h3.brands__heading Продукты питания
				ul.brands__list
					li.brands__item
						a.brands__link(href="lakanto.html")
							img(src="img/brands/lakanto.jpg", alt="Lakanto")
							.brands__content
								h2.brands__title Lakanto
								span.brands__desc Lakanto является прекрасным решением для людей, следящих за собственным весом и придержива ющихся правил здорового питания.
				h3.brands__heading Аксессуары
				ul.brands__list
					li.brands__item
						a.brands__link(href="swarovski.html")
							img(src="img/brands/swarovski.jpg", alt="Swarovski")
							.brands__content
								h2.brands__title Swarovski
								span.brands__desc Swarovski AG — австрийская компания, специализирующаяся на производстве рассыпных кристаллов, украшений, кристальных фигурок и огранке синтетических и природных драгоценных камней.
					li.brands__item
						a.brands__link(href="real-techniques.html")
							img(src="img/brands/real-techniques.jpg", alt="Real Techniques")
							.brands__content
								h2.brands__title Real Techniques
								span.brands__desc Легендарный бренд кистей и аксессуаров для макияжа, созданный сестрами Николь и Саманта Чепмен в коллаборации с Paris Presents.
					li.brands__item
						a.brands__link(href="ecotools.html")
							img(src="img/brands/ecotools.jpg", alt="EcoTools")
							.brands__content
								h2.brands__title EcoTools
								span.brands__desc Более десяти лет Paris Presents с гордостью продолжают выпускать аутентичные, полностью натуральные продукты, которые помогают женщинам чувствовать себя по-настоящему красивыми.