extends ../page.pug

append config
	- title = 'Бренды | Beautyforce.ru'
	- h1 = 'Бренды'
	- desc = 'Мы постоянно совершенствуем свой профессионализм и подбираем лучшую косметику. Сегодня у нас есть бренды декоративной косметики и средств по уходу за кожей из США, ЕС, Южная Корея входит в портфель компании.'
	-	image	=	'headers/page-header-01.jpg'
	- currentURL = 'brands.html'

block content
	.container
		.breadcrumbs
			ul.breadcrumbs__list
				li.breadcrumbs__item
					a.breadcrumbs__link(href="/") Главная
				li.breadcrumbs__item Бренды
		main.main
			h2.page__title Бренды
			p Мы постоянно совершенствуем свой профессионализм и подбираем лучшую косметику. Сегодня у нас есть бренды декоративной косметики и средств по уходу за кожей из США, ЕС, Южной Кореи.
			.brands
				h3.brands__heading Уход за кожей
				ul.brands__list
					li.brands__item
						a.brands__link(href="dr-gloderm.html")
							img.brands__img(src="img/brands/dr-gloderm.jpg", alt="Dr.Gloderm")
							.brands__content
								h2.brands__title Dr.Gloderm
								span.brands__desc Производственная компания заработала в 2016 году. Dr. Gloderm стал известным брендом в 9 лидирующий странах мира. В России продукция начала распространяться с 2019 года.
					li.brands__item
						a.brands__link(href="3w-clinic.html")
							img.brands__img(src="img/brands/3w-clinic.jpg", alt="3w-clinic")
							.brands__content
								h2.brands__title 3w Clinic
								span.brands__desc Корейский бренд 3W Clinic относится к собственности компании Dodo Company Ltd, известной качественной профессиональной косметикой.
					li.brands__item
						a.brands__link(href="cellmiin.html")
							img.brands__img(src="img/brands/cellmiin.jpg", alt="Cellmiin")
							.brands__content
								h2.brands__title Cellmiin
								span.brands__desc Cellmiin является брендом компании Welcron Healthcare. Производители известны выпуском промышленных товаров широкого назначения. В 2017 году они представили косметику на основе натуральных ингредиентов.
					li.brands__item
						a.brands__link(href="coscodi.html")
							img.brands__img(src="img/brands/coscodi.jpg", alt="Coscodi")
							.brands__content
								h2.brands__title Coscodi
								span.brands__desc Южнокорейский бренд, представляющий косметику для ухода за кожей лица. Создатели компании придерживаются мнения о том, что гармоничным человека делает сочетание внешней и внутренней красоты.
					li.brands__item
						a.brands__link(href="j-on.html")
							img.brands__img(src="img/brands/j-on.jpg", alt="J:ON")
							.brands__content
								h2.brands__title J:ON
								span.brands__desc Молодой корейский бренд J:ON известен тканевыми масками для кожи лица. Товары компании популярны как на родине, так и за ее пределами.
					li.brands__item
						a.brands__link(href="petitfee.html")
							img.brands__img(src="img/brands/petitfee.jpg", alt="Petitfee")
							.brands__content
								h2.brands__title Petitfee
								span.brands__desc Корейский бренд Petitfee был образован в 2007 году группой врачей эстетической медицины. Название торговой марки переводится с французского как «маленькая фея».
					li.brands__item
						a.brands__link(href="koelf.html")
							img.brands__img(src="img/brands/koelf.jpg", alt="Koelf")
							.brands__content
								h2.brands__title Koelf
								span.brands__desc Koelf является брендом южнокорейского производителя NS Retail. Компания также выпускает косметику под торговой маркой Petitfee.
					li.brands__item
						a.brands__link(href="the-skin-house.html")
							img.brands__img(src="img/brands/the-skin-house.jpg", alt="Koelf")
							.brands__content
								h2.brands__title The skin House
								span.brands__desc The Skin House является молодым брендом Южной Кореи, основанным в 2011 году на базе разработок лаборатории эстетической медицины компании NokSibCho.
					li.brands__item
						a.brands__link(href="l-sanic.html")
							img.brands__img(src="img/brands/l-sanic.jpg", alt="L.Sanic")
							.brands__content
								h2.brands__title L.Sanic
								span.brands__desc Корейский бренд L.SANIC относится к компании JT Co. Производители специализируются на выпуске косметики для ухода за кожей.
					li.brands__item
						a.brands__link(href="elizavecca.html")
							img.brands__img(src="img/brands/elizavecca.jpg", alt="Elizavecca")
							.brands__content
								h2.brands__title Elizavecca
								span.brands__desc Бренд Elizavecca основан компанией MIZ Trade Inc., история которой началась еще в 1986 году. Производители первые разработали и выпустили BB-крем, дающий хорошие результаты ухода за кожей.
				h3.brands__heading Уход за волосами
				ul.brands__list
					li.brands__item
						a.brands__link(href="wella.html")
							img.brands__img(src="img/brands/wella.jpg", alt="Wella")
							.brands__content
								h2.brands__title Wella
								span.brands__desc Немецкий бренд Wella появился более века назад, в конце 19 столетия. За весь период существования он занял лидирующие позиции в производстве косметики. Компания приобрела популярность благодаря выпуску ухаживающих средств для волос.
					li.brands__item
						a.brands__link(href="londa.html")
							img.brands__img(src="img/brands/londa.jpg", alt="Londa")
							.brands__content
								h2.brands__title Londa
								span.brands__desc Немецкий бренд Londa появился в середине 20 столетия. Компания выпускает средства для ухода за волосами. Изначально торговая марка входила в состав Wella AG.
					li.brands__item
						a.brands__link(href="wella-system-professional.html")
							img.brands__img(src="img/brands/wella-system-professional.jpg", alt="Wella System Professional")
							.brands__content
								h2.brands__title Wella System Professional
								span.brands__desc Немецкий бренд Wella System Professional выпускает косметику для профессионального ухода за волосами.
					li.brands__item
						a.brands__link(href="nioxin.html")
							img.brands__img(src="img/brands/nioxin.jpg", alt="Nioxin")
							.brands__content
								h2.brands__title Nioxin
								span.brands__desc История бренда Nioxin началась в 1987 году, когда его основательница Ева Грехам открыла первую лабораторию. Целью исследований было найти причину выпадения волос и остановить их потерю.
					li.brands__item
						a.brands__link(href="sebastian-professional.html")
							img.brands__img(src="img/brands/sebastian.jpg", alt="Sebastian Professional")
							.brands__content
								h2.brands__title Sebastian Professional
								span.brands__desc Бренд Sebastian Professional появился в 70-х годах прошлого столетия. Основателями компании стали Джон Себастиан и Джерри Кузен. Производители известны инновационной продукцией для волос, которая может использоваться в домашних условиях.
					li.brands__item
						a.brands__link(href="sebman.html")
							img.brands__img(src="img/brands/sebman.jpg", alt="Sebman")
							.brands__content
								h2.brands__title SEBMAN
								span.brands__desc SEBMAN – это косметика для мужчин известного производителя Sebastian Professional. Торговая марка была образована владельцем парикмахерской, который прославился нестандартным подходом к изготовлению париков и шиньонов.
					li.brands__item
						a.brands__link(href="esthetic-house.html")
							img.brands__img(src="img/brands/esthetic-house.jpg", alt="Sebman")
							.brands__content
								h2.brands__title Esthetic House
								span.brands__desc Продукция компания сочетает в себе инновационные разработки и натуральные, проверенные временем ингредиенты. Торговая марка выпускает средства для ухода за лицом, телом и волосами.
					li.brands__item
						a.brands__link(href="valmona.html")
							img.brands__img(src="img/brands/valmona.jpg", alt="Valmona")
							.brands__content
								h2.brands__title Valmona
								span.brands__desc Корейский бренд Valmona выпускает косметические средства для ухода за волосами и кожей головы. Секрет эффективности товаров компании в натуральных компонентах и инновационной формуле. Косметика подходит для различного типа волос.
					li.brands__item
						a.brands__link(href="ghd.html")
							img.brands__img(src="img/brands/ghd.jpg", alt="GHD")
							.brands__content
								h2.brands__title GHD
								span.brands__desc Европейский бренд, который поставляет технику и аксессуары для стайлинга волос. История компании началась в 2001 году с продажи выпрямителя для волос.
					li.brands__item
						a.brands__link(href="coco-palm.html")
							img.brands__img(src="img/brands/coco-palm.jpg", alt="Elizavecca")
							.brands__content
								h2.brands__title Coco Palm
								span.brands__desc Японская торговая марка Cocopalm известна своей ухаживающей СПА-серией, получившей лестные отзывы дерматологов и парикмахеров за мягкое действие и интенсивный уход на основе природных компонентов.
				h3.brands__heading Товары для детей
				ul.brands__list
					li.brands__item
						a.brands__link(href="mam.html")
							img.brands__img(src="img/brands/mam.jpg", alt="MAM")
							.brands__content
								h2.brands__title MAM
								span.brands__desc История бренда MAM началась еще в 1975 году. Педиатры того времени всеми силами пытались убедить молодых родителей в том, что пустышки – далеко не самый полезный аксессуар для ребенка.
				h3.brands__heading Декоративная косметика
				ul.brands__list
					li.brands__item
						a.brands__link(href="catrice.html")
							img.brands__img(src="img/brands/catrice.jpg", alt="Catrice")
							.brands__content
								h2.brands__title Catrice
								span.brands__desc Симбиоз красоты и моды является одним из главных преимуществ бренда CATRICE. Бренд, вдохновленный трендами мировых столиц моды!
					li.brands__item
						a.brands__link(href="essence.html")
							img.brands__img(src="img/brands/essence.jpg", alt="Essence")
							.brands__content
								h2.brands__title Essence
								span.brands__desc Декоративная косметика essence обладает средней пигментированностью – поэтому она не загрязняет поры и не выглядит как маска.
					li.brands__item
						a.brands__link(href="revolution-makeup.html")
							img.brands__img(src="img/brands/revolution-makeup.jpg", alt="Revolution Makeup")
							.brands__content
								h2.brands__title Revolution Makeup
								span.brands__desc Амбициозный бренд из Лондона REVOLUTION Makeup своим появлением на рынке в 2014 году произвёл настоящий бум.
					li.brands__item
						a.brands__link(href="revolution-pro.html")
							img.brands__img(src="img/brands/revolution-pro.jpg", alt="Revolution PRO")
							.brands__content
								h2.brands__title Revolution PRO
								span.brands__desc Revolution PRO - британский бренд, безумно популярный во всей Европе, теперь доступен и в России!  Определяющая его успеха - это комбинация высокого качества, многогранной палитры оттенков и адекватной цены.
					li.brands__item
						a.brands__link(href="opi.html")
							img.brands__img(src="img/brands/opi.jpg", alt="OPI")
							.brands__content
								h2.brands__title OPI
								span.brands__desc Лидер индустрии профессионального ухода за ногтями. Культ цвета заложен в ДНК бренда.
					li.brands__item
						a.brands__link(href="sleek-make-up.html")
							img.brands__img(src="img/brands/sleek-make-up.jpg", alt="Sleek Make Up")
							.brands__content
								h2.brands__title Sleek Make Up
								span.brands__desc Изначально бренд позиционировал себя, как косметика для темнокожих девушек. Чуть позже они расширили свои границы, решив создавать качественную, стойкую и экономную косметику для всех типов кожи.
				h3.brands__heading Гигиена
				ul.brands__list
					li.brands__item
						a.brands__link(href="vival.html")
							img.brands__img(src="img/brands/vival.jpg", alt="Vival")
							.brands__content
								h2.brands__title Vival
								span.brands__desc Отечественный производитель, благодаря которому больше не нужно бегать по магазинам в поисках аксессуаров для личной гигиены. Их мочалки – это не только то, что регулярно очищает кожу от загрязнений. Они не менее эффективны в борьбе с целлюлитом.
					li.brands__item
						a.brands__link(href="elis.html")
							img.brands__img(src="img/brands/elis.jpg", alt="Elis")
							.brands__content
								h2.brands__title Elis
								span.brands__desc Elis Megami для деликатной защиты чувствительной кожи при обильных выделениях: мягкая поверхность и края прокладки - отсутствие раздражений; особый рельеф внутренней поверхности - меньше контакта с кожей, больше комфорта; суперабсорбирующий слой - эффективное впитывание и удержание влаги внутри; дышащий материал – ощущение свежести.
					li.brands__item
						a.brands__link(href="alsoft-r.html")
							img.brands__img(src="img/brands/alsoft-r.jpg", alt="Alsoft R")
							.brands__content
								h2.brands__title Alsoft R
								span.brands__desc Алсофт Р — кожный антисептик для дезинфекции рук. Обладает широким спектром антимикробной активности и пролонгированным действием в течение 3 часов. Содержит компоненты для ухода за кожей рук.
					li.brands__item
						a.brands__link(href="shavo-green.html")
							img.brands__img(src="img/brands/shavo-green.jpg", alt="Shavo Green")
							.brands__content
								h2.brands__title Shavo Green
								span.brands__desc Натуральное пенящееся мыло для рук для ежедневного использования. Создано на основе натурального мыла растительного происхождения.
				h3.brands__heading Бытовая химия
				ul.brands__list
					li.brands__item
						a.brands__link(href="lv.html")
							img.brands__img(src="img/brands/lv.jpg", alt="LV")
							.brands__content
								h2.brands__title LV
								span.brands__desc Марка гипоаллергенных средств по уходу за телом и бытовой химии. Все продукты бренда созданы финскими специалистами в сотрудничестве с некоммерческой организацией «Союз против Аллергии и Астмы.
					li.brands__item
						a.brands__link(href="saraya.html")
							img.brands__img(src="img/brands/saraya.jpg", alt="Saraya")
							.brands__content
								h2.brands__title Saraya
								span.brands__desc Японская компания с многолетней историей и большим опытом в сфере производства гигиенического оборудования, моющих и дезинфицирующих средств, а также медицинских расходных материалов.
					li.brands__item
						a.brands__link(href="arau.html")
							img.brands__img(src="img/brands/arau.jpg", alt="Arau")
							.brands__content
								h2.brands__title Arau
								span.brands__desc Средства для ухода за детской одеждой arau. baby созданы на основе натурального мыла, полученного из кокосового и пальмового масел, с добавлением эфирных масел лаванды и мяты.
					li.brands__item
						a.brands__link(href="happy-elephant.html")
							img.brands__img(src="img/brands/happy-elephant.jpg", alt="Happy Elephant")
							.brands__content
								h2.brands__title Happy Elephant
								span.brands__desc Японская компания Saraya представляет новую уникальную серию чистящих и моющих средств для дома – Happy Elephant.
					li.brands__item
						a.brands__link(href="yashinomi.html")
							img.brands__img(src="img/brands/yashinomi.jpg", alt="Yashinomi")
							.brands__content
								h2.brands__title Yashinomi
								span.brands__desc Натуральные моющие средства. Не содержат синтетических красителей и ароматизаторов. Сертификаты EcoMark и Biomass подтверждают экологичность упаковки.
					li.brands__item
						a.brands__link(href="smile-helper.html")
							img.brands__img(src="img/brands/smile-helper.jpg", alt="Yashinomi")
							.brands__content
								h2.brands__title Smile Helper
								span.brands__desc Полностью нейтрализует неприятные запахи, подавляет гнилостные процессы и газообразование, способствует растворению отходов и легкому очищению баков. Обладает моющими свойствами и антимикробным действием.
				h3.brands__heading Продукты питания
				ul.brands__list
					li.brands__item
						a.brands__link(href="lakanto.html")
							img.brands__img(src="img/brands/lakanto.jpg", alt="Lakanto")
							.brands__content
								h2.brands__title Lakanto
								span.brands__desc Lakanto является прекрасным решением для людей, следящих за собственным весом и придержива ющихся правил здорового питания.
				h3.brands__heading Аксессуары
				ul.brands__list
					li.brands__item
						a.brands__link(href="swarovski.html")
							img.brands__img(src="img/brands/swarovski.jpg", alt="Swarovski")
							.brands__content
								h2.brands__title Swarovski
								span.brands__desc Swarovski AG — австрийская компания, специализирующаяся на производстве рассыпных кристаллов, украшений, кристальных фигурок и огранке синтетических и природных драгоценных камней.
					li.brands__item
						a.brands__link(href="real-techniques.html")
							img.brands__img(src="img/brands/real-techniques.jpg", alt="Real Techniques")
							.brands__content
								h2.brands__title Real Techniques
								span.brands__desc Легендарный бренд кистей и аксессуаров для макияжа, созданный сестрами Николь и Саманта Чепмен в коллаборации с Paris Presents.
					li.brands__item
						a.brands__link(href="ecotools.html")
							img.brands__img(src="img/brands/ecotools.jpg", alt="EcoTools")
							.brands__content
								h2.brands__title EcoTools
								span.brands__desc Более десяти лет Paris Presents с гордостью продолжают выпускать аутентичные, полностью натуральные продукты, которые помогают женщинам чувствовать себя по-настоящему красивыми.