extends ../page.pug

append config
	- title = 'Бренды | Beautyforce.ru'
	- h1 = 'Бренды'
	- desc = 'Мы постоянно совершенствуем свой профессионализм и подбираем лучшую косметику. Сегодня у нас есть бренды декоративной косметики и средств по уходу за кожей из США, ЕС, Южная Корея входит в портфель компании.'
	-	image	=	'headers/1.png'
	- currentURL = 'brands.html'

block content
	.container
		.breadcrumbs
			ul.breadcrumbs__list
				li.breadcrumbs__item
					a.breadcrumbs__link(href="/") Главная
				li.breadcrumbs__item Бренды
		main.main
			h2.page__title Бренды
			p Мы постоянно совершенствуем свой профессионализм и подбираем лучшую косметику. Сегодня у нас есть бренды декоративной косметики и средств по уходу за кожей из США, ЕС, Южной Кореи.
			.brands
				h3.brands__heading Уход за кожей
				ul.brands__list
					li.brands__item
						a.brands__link(href="dr-gloderm.html")
							img.brands__img(src="img/brands/dr-gloderm.jpg", alt="Dr.Gloderm")
							.brands__content
								h2.brands__title Dr.Gloderm
								span.brands__desc Производственная компания заработала в 2016 году. Dr. Gloderm стал известным брендом в 9 лидирующий странах мира. В России продукция начала распространяться с 2019 года.
					li.brands__item
						a.brands__link(href="cellmiin.html")
							img.brands__img(src="img/brands/cellmiin.jpg", alt="Cellmiin")
							.brands__content
								h2.brands__title Cellmiin
								span.brands__desc Cellmiin является брендом компании Welcron Healthcare. Производители известны выпуском промышленных товаров широкого назначения. В 2017 году они представили косметику на основе натуральных ингредиентов.
					li.brands__item
						a.brands__link(href="coscodi.html")
							img.brands__img(src="img/brands/coscodi.jpg", alt="Coscodi")
							.brands__content
								h2.brands__title Coscodi
								span.brands__desc Южнокорейский бренд, представляющий косметику для ухода за кожей лица. Создатели компании придерживаются мнения о том, что гармоничным человека делает сочетание внешней и внутренней красоты.
					li.brands__item
						a.brands__link(href="j-on.html")
							img.brands__img(src="img/brands/j-on.jpg", alt="J:ON")
							.brands__content
								h2.brands__title J:ON
								span.brands__desc Молодой корейский бренд J:ON известен тканевыми масками для кожи лица. Товары компании популярны как на родине, так и за ее пределами.
					li.brands__item
						a.brands__link(href="petitfee.html")
							img.brands__img(src="img/brands/petitfee.jpg", alt="Petitfee")
							.brands__content
								h2.brands__title Petitfee
								span.brands__desc Корейский бренд Petitfee был образован в 2007 году группой врачей эстетической медицины. Название торговой марки переводится с французского как «маленькая фея».
					li.brands__item
						a.brands__link(href="koelf.html")
							img.brands__img(src="img/brands/koelf.jpg", alt="Koelf")
							.brands__content
								h2.brands__title Koelf
								span.brands__desc Koelf является брендом южнокорейского производителя NS Retail. Компания также выпускает косметику под торговой маркой Petitfee.
					li.brands__item
						a.brands__link(href="the-skin-house.html")
							img.brands__img(src="img/brands/the-skin-house.jpg", alt="Koelf")
							.brands__content
								h2.brands__title The skin House
								span.brands__desc The Skin House является молодым брендом Южной Кореи, основанным в 2011 году на базе разработок лаборатории эстетической медицины компании NokSibCho.
					li.brands__item
						a.brands__link(href="l-sanic.html")
							img.brands__img(src="img/brands/l-sanic.jpg", alt="L.Sanic")
							.brands__content
								h2.brands__title L.Sanic
								span.brands__desc Корейский бренд L.SANIC относится к компании JT Co. Производители специализируются на выпуске косметики для ухода за кожей.
					li.brands__item
						a.brands__link(href="elizavecca.html")
							img.brands__img(src="img/brands/elizavecca.jpg", alt="Elizavecca")
							.brands__content
								h2.brands__title Elizavecca
								span.brands__desc Бренд Elizavecca основан компанией MIZ Trade Inc., история которой началась еще в 1986 году. Производители первые разработали и выпустили BB-крем, дающий хорошие результаты ухода за кожей.
					li.brands__item
						a.brands__link(href="foreverskin.html")
							img.brands__img(src="img/brands/foreverskin.jpg", alt="foreverskin")
							.brands__content
								h2.brands__title Foreverskin
								span.brands__desc Бренд Foreverskin был основан в 2016 году компанией Dr. Su Skin Cosmetics. Основное направление работы – выпуск масок и патчей для глаз. Торговая марка за короткие сроки стала популярна не только в Корее, но и за ее пределами.
					li.brands__item
						a.brands__link(href="dearboo.html")
							img.brands__img(src="img/brands/dearboo.jpg", alt="dearboo")
							.brands__content
								h2.brands__title Dearboo
								span.brands__desc Dearboo — бренд южнокорейской компании From B Lab. Новая торговая марка только начинает набирать популярность на родине и за ее пределами. Продукция рассчитана на молодых девушек и женщин старшего возраста.
					li.brands__item
						a.brands__link(href="oattbe.html")
							img.brands__img(src="img/brands/oattbe.jpg", alt="oattbe")
							.brands__content
								h2.brands__title Oattbe
								span.brands__desc Бренд Oattbe выпускает южнокорейская компания MH Global. Производители выпускают продукцию хорошего качества для ухода за кожей. В основе работы компании – поиск инновационных решений в изготовлении косметики.
					li.brands__item
						a.brands__link(href="cure+.html")
							img.brands__img(src="img/brands/cure+.jpg", alt="cure+")
							.brands__content
								h2.brands__title Cure+
								span.brands__desc Бренд Cure+ представлен компанией Kim Jeong Moon Aloe Co, разрабатывающей и производящей южнокорейскую косметику. Под торговой маркой выпускаются крема для рук и лица, бальзамы, шампуни и другие средства для поддержания здоровья и красоты.
				h3.brands__heading Уход за волосами
				ul.brands__list
					li.brands__item
						a.brands__link(href="wella.html")
							img.brands__img(src="img/brands/wella.jpg", alt="Wella")
							.brands__content
								h2.brands__title Wella
								span.brands__desc Немецкий бренд Wella появился более века назад, в конце 19 столетия. За весь период существования он занял лидирующие позиции в производстве косметики. Компания приобрела популярность благодаря выпуску ухаживающих средств для волос.
					li.brands__item
						a.brands__link(href="londa.html")
							img.brands__img(src="img/brands/londa.jpg", alt="Londa")
							.brands__content
								h2.brands__title Londa
								span.brands__desc Немецкий бренд Londa появился в середине 20 столетия. Компания выпускает средства для ухода за волосами. Изначально торговая марка входила в состав Wella AG.
					li.brands__item
						a.brands__link(href="wella-system-professional.html")
							img.brands__img(src="img/brands/wella-system-professional.jpg", alt="Wella System Professional")
							.brands__content
								h2.brands__title Wella System Professional
								span.brands__desc Немецкий бренд Wella System Professional выпускает косметику для профессионального ухода за волосами.
					li.brands__item
						a.brands__link(href="nioxin.html")
							img.brands__img(src="img/brands/nioxin.jpg", alt="Nioxin")
							.brands__content
								h2.brands__title Nioxin
								span.brands__desc История бренда Nioxin началась в 1987 году, когда его основательница Ева Грехам открыла первую лабораторию. Целью исследований было найти причину выпадения волос и остановить их потерю.
					li.brands__item
						a.brands__link(href="sebastian-professional.html")
							img.brands__img(src="img/brands/sebastian.jpg", alt="Sebastian Professional")
							.brands__content
								h2.brands__title Sebastian Professional
								span.brands__desc Бренд Sebastian Professional появился в 70-х годах прошлого столетия. Производители известны инновационной продукцией для волос, которая может использоваться в домашних условиях.
					li.brands__item
						a.brands__link(href="sebman.html")
							img.brands__img(src="img/brands/sebman.jpg", alt="Sebman")
							.brands__content
								h2.brands__title SEBMAN
								span.brands__desc SEBMAN – это косметика для мужчин известного производителя Sebastian Professional. Торговая марка была образована владельцем парикмахерской, который прославился нестандартным подходом к изготовлению париков и шиньонов.
					li.brands__item
						a.brands__link(href="esthetic-house.html")
							img.brands__img(src="img/brands/esthetic-house.jpg", alt="Sebman")
							.brands__content
								h2.brands__title Esthetic House
								span.brands__desc Продукция компания сочетает в себе инновационные разработки и натуральные, проверенные временем ингредиенты. Торговая марка выпускает средства для ухода за лицом, телом и волосами.
					li.brands__item
						a.brands__link(href="valmona.html")
							img.brands__img(src="img/brands/valmona.jpg", alt="Valmona")
							.brands__content
								h2.brands__title Valmona
								span.brands__desc Корейский бренд Valmona выпускает косметические средства для ухода за волосами и кожей головы. Секрет эффективности товаров компании в натуральных компонентах и инновационной формуле. Косметика подходит для различного типа волос.
					li.brands__item
						a.brands__link(href="ghd.html")
							img.brands__img(src="img/brands/ghd.jpg", alt="GHD")
							.brands__content
								h2.brands__title GHD
								span.brands__desc Европейский бренд, который поставляет технику и аксессуары для стайлинга волос. История компании началась в 2001 году с продажи выпрямителя для волос.
					li.brands__item
						a.brands__link(href="cocopalm.html")
							img.brands__img(src="img/brands/coco-palm.jpg", alt="Elizavecca")
							.brands__content
								h2.brands__title Coco Palm
								span.brands__desc Японский бренд Cocopalm предлагает косметические средства для оздоровления волос и кожи головы. Торговая марка относится к компании Saraya, разрабатывающей уникальные рецепты действенных продуктов.
				h3.brands__heading Товары для детей
				ul.brands__list
					li.brands__item
						a.brands__link(href="mam.html")
							img.brands__img(src="img/brands/mam.jpg", alt="MAM")
							.brands__content
								h2.brands__title MAM
								span.brands__desc Бренд MAM появился в 1976 году. У истоков его основания находился австрийский инженер-технолог Петер Рериг. Концепция компании заключается в производстве функциональных, безопасных, эстетичных аксессуаров для детей.
				h3.brands__heading Декоративная косметика
				ul.brands__list
					li.brands__item
						a.brands__link(href="catrice.html")
							img.brands__img(src="img/brands/catrice.jpg", alt="Catrice")
							.brands__content
								h2.brands__title Catrice
								span.brands__desc Косметику Catrice выпускает немецкий концерн Cosnova. Торговая марка появилась в 2004 году, но быстро стала популярной у женщин, следящих за своей внешностью.
					li.brands__item
						a.brands__link(href="essence.html")
							img.brands__img(src="img/brands/essence.jpg", alt="Essence")
							.brands__content
								h2.brands__title Essence
								span.brands__desc Бренд Essence принадлежит компании Cosnova. История торговой марки началась в 2002 году. Производители поставили задачу представить эффективную косметику для молодых девушек, подходящую и для женщин постарше.
					li.brands__item
						a.brands__link(href="revolution-makeup.html")
							img.brands__img(src="img/brands/revolution-makeup.jpg", alt="Revolution Makeup")
							.brands__content
								h2.brands__title Revolution Makeup
								span.brands__desc Бренд Revolution Makeup появился в 2014 году. Торговая марка является собственностью компании TAM Beauty, которая более 25 лет производит косметические средства.
					li.brands__item
						a.brands__link(href="revolution-pro.html")
							img.brands__img(src="img/brands/revolution-pro.jpg", alt="Revolution PRO")
							.brands__content
								h2.brands__title Revolution PRO
								span.brands__desc Revolution PRO – это английский бренд, появившийся в 2018 году. Продукция является линейкой известной косметики MakeUp Revolution. Под торговой маркой выпускаются бюджетные средства для профессиональных визажистов.
					li.brands__item
						a.brands__link(href="opi.html")
							img.brands__img(src="img/brands/opi.jpg", alt="OPI")
							.brands__content
								h2.brands__title OPI
								span.brands__desc Американская торговая марка OPI выпускает средства для ногтей и ухода за кожей рук. Основателем компании считается Джордж Шеффер. История бренда насчитывает почти три десятилетия.
					li.brands__item
						a.brands__link(href="sleek-make-up.html")
							img.brands__img(src="img/brands/sleek-make-up.jpg", alt="Sleek Make Up")
							.brands__content
								h2.brands__title Sleek Make Up
								span.brands__desc Бренд Sleek Make Up был основан в Великобритании в 1995 году. За историю своего существования компания смогла добиться признания в сфере производства и продаж декоративной косметики.
				h3.brands__heading Гигиена
				ul.brands__list
					li.brands__item
						a.brands__link(href="vival.html")
							img.brands__img(src="img/brands/vival.jpg", alt="Vival")
							.brands__content
								h2.brands__title Vival
								span.brands__desc Торговая марка Vival выпускает мочалки из качественного сырья. Российский производитель предлагает аксессуары для ванны и душа из разнообразных материалов.
					li.brands__item
						a.brands__link(href="elis.html")
							img.brands__img(src="img/brands/elis.jpg", alt="Elis")
							.brands__content
								h2.brands__title Elis
								span.brands__desc Продукция японского производителя популярна во многих странах мира, несмотря на то, что появилась не так давно. В России она представлена только с 2019 года, но ее уже смогли оценить тысячи женщин.
					li.brands__item
						a.brands__link(href="alsoft-r.html")
							img.brands__img(src="img/brands/alsoft-r.jpg", alt="Alsoft R")
							.brands__content
								h2.brands__title Alsoft R
								span.brands__desc Бренд Alsoft R выпускает японский концерн Saraya. Компания более 60 лет разрабатывает антисептические средства для личной гигиены.
					li.brands__item
						a.brands__link(href="shavo-green.html")
							img.brands__img(src="img/brands/shavo-green.jpg", alt="Shavo Green")
							.brands__content
								h2.brands__title Shavo Green
								span.brands__desc Shavo Green принадлежит японскому концерну Saraya. История компании насчитывает несколько десятилетий. Производители выпускают качественную бытовую химию, косметические средства для ухода и гигиены.
				h3.brands__heading Бытовая химия
				ul.brands__list
					li.brands__item
						a.brands__link(href="lv.html")
							img.brands__img(src="img/brands/lv.jpg", alt="LV")
							.brands__content
								h2.brands__title LV
								span.brands__desc Линейка LV отличается натуральным составом и гипоаллергенностью. Продукция компании не вызывает раздражений, может использоваться даже людьми с чувствительной кожей, склонной к аллергии.
					li.brands__item
						a.brands__link(href="saraya.html")
							img.brands__img(src="img/brands/saraya.jpg", alt="Saraya")
							.brands__content
								h2.brands__title Saraya
								span.brands__desc Бренд Saraya более 60 лет разрабатывает и производит различные средства гигиены. Особенностью товаров японского производителя считаются качество и доступная цена.
					li.brands__item
						a.brands__link(href="arau.html")
							img.brands__img(src="img/brands/arau.jpg", alt="Arau")
							.brands__content
								h2.brands__title Arau
								span.brands__desc Бренд Arau выпускается концерном Saraya, основанным в середине прошлого века. История компании началась с выпуска антибактериального мыла, которое стало востребованным среди потребителей.
					li.brands__item
						a.brands__link(href="happy-elephant.html")
							img.brands__img(src="img/brands/happy-elephant.jpg", alt="Happy Elephant")
							.brands__content
								h2.brands__title Happy Elephant
								span.brands__desc Бренд Happy Elephant выпускает японская компания Saraya, основанная в середине прошлого столетия. Концепция производителей заключается в выпуске экологически безопасной продукции.
					li.brands__item
						a.brands__link(href="yashinomi.html")
							img.brands__img(src="img/brands/yashinomi.jpg", alt="Yashinomi")
							.brands__content
								h2.brands__title Yashinomi
								span.brands__desc Бренд Yashinomi выпускает японская компания Saraya. Продукция появилась в начале 70-х годов и быстро приобрела популярность среди потребителей.
					li.brands__item
						a.brands__link(href="smile-helper.html")
							img.brands__img(src="img/brands/smile-helper.jpg", alt="Yashinomi")
							.brands__content
								h2.brands__title Smile Helper
								span.brands__desc Торговая марка Smile Helper принадлежит японскому концерну Saraya. История компании началась с середины 20 века.
				h3.brands__heading Продукты питания
				ul.brands__list
					li.brands__item
						a.brands__link(href="lakanto.html")
							img.brands__img(src="img/brands/lakanto.jpg", alt="Lakanto")
							.brands__content
								h2.brands__title Lakanto
								span.brands__desc Бренд Lakanto выпускает японская компания Saraya, история которой насчитывает несколько десятилетий. Производители выпускают только натуральные экологически чистые продукты.
				h3.brands__heading Аксессуары
				ul.brands__list
					li.brands__item
						a.brands__link(href="swarovski.html")
							img.brands__img(src="img/brands/swarovski.jpg", alt="Swarovski")
							.brands__content
								h2.brands__title Swarovski
								span.brands__desc Под торговой маркой Swarovski выпускаются оригинальные украшения, декоративные фигурки из кристаллов, люстры и др.
					li.brands__item
						a.brands__link(href="real-techniques.html")
							img.brands__img(src="img/brands/real-techniques.jpg", alt="Real Techniques")
							.brands__content
								h2.brands__title Real Techniques
								span.brands__desc Основателями Real Techniques считаются сестры Чепмэн. В 2008 году девушки основали YouTube-канал, посвященный секретам макияжа, и быстро стали популярными.
					li.brands__item
						a.brands__link(href="ecotools.html")
							img.brands__img(src="img/brands/ecotools.jpg", alt="EcoTools")
							.brands__content
								h2.brands__title EcoTools
								span.brands__desc Торговая марка Ecotools была основана в 2007 году в Париже. Производители предлагают качественную и экологически чистую продукцию.
					li.brands__item
						a.brands__link(href="zinger.html")
							img.brands__img(src="img/brands/zinger.jpg", alt="Zinger")
							.brands__content
								h2.brands__title Zinger
								span.brands__desc Компания Zinger появилась в конце 20 столетия. Под торговой маркой выпускаются инструменты и аксессуары для маникюра и педикюра.