extends ../page.pug

append config
	- title = 'Бренды'
	- desc = 'Описание страницы брендов'
	-	image	=	'brands.jpg'

block content
	.container
		.breadcrumbs
			ul.breadcrumbs__list
				li.breadcrumbs__item
					a.breadcrumbs__link(href="/") Главная
				li.breadcrumbs__item Бренды
		main.main
			h2.title Бренды
			+brands('brands')