extends ../page.pug

append config
	- title = 'Бренды'
	- desc = 'Описание страницы брендов'
	-	image	=	'brands.jpg'

block content
	main
		section.section.page
			.container
				+brands('brands')