extends ../page.pug

append config
	- title = 'Бренды | Beautyforce.ru'
	- h1 = 'Бренды'
	- desc = 'Мы постоянно совершенствуем свой профессионализм и подбираем лучшую косметику. Сегодня у нас есть бренды декоративной косметики и средств по уходу за кожей из США, ЕС, Южная Корея входит в портфель компании.'
	-	image	=	'headers/brands.jpg'
	- currentURL = 'brands.html'

block content
	.container
		.breadcrumbs
			ul.breadcrumbs__list
				li.breadcrumbs__item
					a.breadcrumbs__link(href="/") Главная
				li.breadcrumbs__item Бренды
		main.main
			h2.page__title Бренды
			p Мы постоянно совершенствуем свой профессионализм и подбираем лучшую косметику. Сегодня у нас есть бренды декоративной косметики и средств по уходу за кожей из США, ЕС, Южная Корея входит в портфель компании.
			+brands('brands')