extends ../page.pug

append config
	- title = 'Бренды'
	- desc = 'Описание страницы брендов'
	-	image	=	'brands.jpg'

block content
	main
		section.section.page
			.container
				.brands
					.brands__list
						.brands__item
							a.brands__link(href="brands/dr-gloderm.html")
								img.brands__img(src="img/brands/dr-gloderm.jpg", alt="dr. gloderm")
								.brands__content
									h2.brands__title Dr. Gloderm
									span.brands__desc Dr. Gloderm представляет процедуры по уходу за кожей с рекомендованными дозами, которые отличают их продукты от существующих на рынке.
						.brands__item
							a.brands__link(href="brands/dr-gloderm.html")
								img.brands__img(src="img/brands/dr-gloderm.jpg", alt="dr. gloderm")
								.brands__content
									h2.brands__title Dr. Gloderm
									span.brands__desc Dr. Gloderm представляет процедуры по уходу за кожей с рекомендованными дозами, которые отличают их продукты от существующих на рынке.
						.brands__item
							a.brands__link(href="brands/dr-gloderm.html")
								img.brands__img(src="img/brands/dr-gloderm.jpg", alt="dr. gloderm")
								.brands__content
									h2.brands__title Dr. Gloderm
									span.brands__desc Dr. Gloderm представляет процедуры по уходу за кожей с рекомендованными дозами, которые отличают их продукты от существующих на рынке.
						.brands__item
							a.brands__link(href="brands/dr-gloderm.html")
								img.brands__img(src="img/brands/dr-gloderm.jpg", alt="dr. gloderm")
								.brands__content
									h2.brands__title Dr. Gloderm
									span.brands__desc Dr. Gloderm представляет процедуры по уходу за кожей с рекомендованными дозами, которые отличают их продукты от существующих на рынке.
						.brands__item
							a.brands__link(href="brands/dr-gloderm.html")
								img.brands__img(src="img/brands/dr-gloderm.jpg", alt="dr. gloderm")
								.brands__content
									h2.brands__title Dr. Gloderm
									span.brands__desc Dr. Gloderm представляет процедуры по уходу за кожей с рекомендованными дозами, которые отличают их продукты от существующих на рынке.
						.brands__item
							a.brands__link(href="brands/dr-gloderm.html")
								img.brands__img(src="img/brands/dr-gloderm.jpg", alt="dr. gloderm")
								.brands__content
									h2.brands__title Dr. Gloderm
									span.brands__desc Dr. Gloderm представляет процедуры по уходу за кожей с рекомендованными дозами, которые отличают их продукты от существующих на рынке.