extends ../page.pug

append config
	- title = 'Catrice | Beautyforce.ru'
	- h1 = 'Catrice'
	- desc = 'Косметику Catrice выпускает немецкий концерн Cosnova. Торговая марка появилась в 2004 году, но быстро стала популярной у женщин, следящих за своей внешностью.'
	-	image	=	'headers/brands/placeholder'

block content
	.container
		.breadcrumbs
			ul.breadcrumbs__list
				li.breadcrumbs__item
					a.breadcrumbs__link(href="/") Главная
				li.breadcrumbs__item
					a.breadcrumbs__link(href="brands.html") Бренды
				li.breadcrumbs__item Catrice
		.page
			.page__content
				h2.page__title Catrice
				main.main

					p Косметику Catrice выпускает немецкий концерн Cosnova. Торговая марка появилась в 2004 году, но быстро стала популярной у женщин, следящих за своей внешностью. Косметика предназначена для широкой аудитории, поэтому отличается демократичной стоимостью. При этом производители следят за качеством продукции, используют инновационные технологии в работе.

					h3 Ассортимент

					p Бренд Catrice представлен множеством косметических средств. Производитель работает над совершенствованием своей продукции. Каждый год обновляется до четверти товаров. Под торговой маркой выпускаются ограниченные серии.

					p #[strong Производители предлагают следующие категории товаров:]

					ul.page-list
						li.page-list__item Тональная основа, корректоры
						li.page-list__item Румяна, бронзеры, пудра
						li.page-list__item Тушь для ресниц
						li.page-list__item Помада или блеск для губ
						li.page-list__item Карандаши для глаз
						li.page-list__item Средства для ногтей и пр.

					p Тональная основа представлена в нескольких оттенках, поэтому легко подобрать средство нужного тона. Она легко наносится на кожу, не дает блеска, отличается приятным ароматом и густой текстурой.

					p Тушь для ресниц от Catrice – это инновационный дизайн и максимально длинные усилия без особых усилий. Производитель предлагает разнообразие оттенков помады и блеска для губ. Декоративная косметика немецкого бренда ухаживает и питает кожу.

					h3 Особенности

					p #[strong Компания негативно относится к тестированию средств на животных. Продукция отличается экологичностью и высокой безопасностью. Среди ее особенностей отмечают:]

					ul.page-list
						li.page-list__item Гипоаллергенность
						li.page-list__item Демократичная цена
						li.page-list__item Качество
						li.page-list__item Стильный дизайн упаковки
						li.page-list__item Большой выбор цветов

					p Товары подходят для девушек и женщин с чувствительной кожей, склонных к аллергическим реакциям. Производители следят за качеством косметики на всех этапах выпуска. Перед поступлением в продажу продукция проходит тщательный контроль. Средства отличаются универсальностью. Они подходят для девушек и женщин различного возраста.

					p #[strong «Бьюти Форс» - это официальный дилер Catrice в России. Компания предлагает гибкие цены, бонусы и скидки. Мы организовываем доставку косметики в любом объеме в разные точки России. Менеджеры компании дадут подробную консультацию о средствах, окажут помощь с выбором товара. Торговая марка пользуется большим спросом во многих странах Европы. В России бренд появился недавно, но успел стать популярным среди женщин, следящих за модными тенденциями.]

			//- .page-sidebar
			//- 	h3.page-sidebar__title О бренде
			//- 	.sidebar
			//- 		.sidebar__col
			//- 			.sidebar__title Изготовитель:
			//- 			p
			//- 		.sidebar__col
			//- 			.sidebar__title Адрес производителя:
			//- 			p
			//- 		.sidebar__col
			//- 			.sidebar__title Год основания:
			//- 			p
			//- 		.sidebar__col
			//- 			.sidebar__title Год выхода в России:
			//- 			p