extends ../page.pug

append config
	- title = 'Cellmiin | Beautyforce.ru'
	- h1 = 'Cellmiin'
	- desc = 'Cellmiin является брендом компании Welcron Healthcare. Производители известны выпуском промышленных товаров широкого назначения.'
	-	image	=	'headers/brands/cellmiin.jpg'

block content
	.container
		.breadcrumbs
			ul.breadcrumbs__list
				li.breadcrumbs__item
					a.breadcrumbs__link(href="/") Главная
				li.breadcrumbs__item
					a.breadcrumbs__link(href="brands.html") Бренды
				li.breadcrumbs__item Cellmiin
		.page
			.page__content
				h2.page__title Cellmiin
				main.main

					p Cellmiin является брендом компании Welcron Healthcare. Производители известны выпуском промышленных товаров широкого назначения. В 2017 году они представили косметику на основе натуральных ингредиентов.

					P Средства компании быстро заслужили популярность из-за хорошего качества в сочетании с бюджетной стоимостью. Гипоаллергенные продукты известны в Южной Корее и за ее пределами. Большинство из них обладает не только декоративным, но и лечебным эффектом.

					h3 Преимущества косметики

					p Корейский бренд специализируется на выпуске косметики, в составе которой только натуральные ингредиенты. Продукция компании представлена следующими линейками:

					ul.page-list
						li.page-list__item Feel-a-green
						li.page-list__item Daily Defense

					p В продаже встречаются такие средства Cellmiin, как:

					ul.page-list
						li.page-list__item Очищающие пенки
						li.page-list__item Шампуни и кондиционеры
						li.page-list__item Маски
						li.page-list__item Крема
						li.page-list__item Тонеры

					p В производстве используются последние достижения и разработки. Среди достоинств товаров отмечают:

					ul.page-list
						li.page-list__item Гипоаллергенность
						li.page-list__item Омолаживающий эффект
						li.page-list__item Доступная цена
						li.page-list__item Приятная текстура
						li.page-list__item Возможность регулярного использования
						li.page-list__item Разнообразие средств
						li.page-list__item Удобная упаковка

					p Корейская косметика увлажняет и защищает кожу. Товары, которые представляет бренд Cellmiin, отличает сочетание рецептов восточной медицины с новейшими достижениями в косметической сфере. В качестве ингредиентов применяются:

					ul.page-list
						li.page-list__item Экстракт лотоса
						li.page-list__item Кукурузный крахмал
						li.page-list__item Экстракт моринги
						li.page-list__item Китайская камелия
						li.page-list__item Экстракт кокосового молока и др

					p Косметика Cellmiin увлажняет, питает эпидермис, оказывает антивозрастной эффект. Она подходит для любого типа кожи, в том числе чувствительного. В ее составе только натуральные вещества, что гарантирует безопасность и отсутствие нежелательных реакций.

					p Регулярное применение косметики делает кожу гладкой и сияющей. Она возвращает здоровый вид, уменьшает морщины и скрывает другие недостатки. Лечебное воздействие средств на кожу можно оценить уже через несколько применений.

					p: strong Компания «Бьюти Форс», официальный дилер Cellmiin, предлагает выгодные условия сотрудничества. Мы работаем с крупными сетями и небольшими магазинами. Вся продукция сертифицирована, имеет соответствующую документацию. Клиентов «Бьюти Форс» ожидает индивидуальный подход, адекватные цены и большой выбор товаров корейских брендов.
					.baguetteBoxThree
						a.baguetteBoxThree__link(href="img/gallery/cellmiin/01.jpg" data-caption="Image caption")
							img.baguetteBoxThree__img(src="img/gallery/cellmiin/01t.jpg", alt="Dr. Gloderm")
						a.baguetteBoxThree__link(href="img/gallery/cellmiin/02.jpg" data-caption="Image caption")
							img.baguetteBoxThree__img(src="img/gallery/cellmiin/02t.jpg", alt="Dr. Gloderm")
						a.baguetteBoxThree__link(href="img/gallery/cellmiin/03.jpg" data-caption="Image caption")
							img.baguetteBoxThree__img(src="img/gallery/cellmiin/03t.jpg", alt="Dr. Gloderm")
						a.baguetteBoxThree__link(href="img/gallery/cellmiin/04.jpg" data-caption="Image caption")
							img.baguetteBoxThree__img(src="img/gallery/cellmiin/04t.jpg", alt="Dr. Gloderm")
			.page-sidebar
				h3.page-sidebar__title О бренде
				.sidebar
					.sidebar__col
						.sidebar__title Изготовитель:
						p Welcron Healthcare Co., Ltd.
					.sidebar__col
						.sidebar__title Адрес производителя:
						p Республика Корея, 12, Digital-ro 27-gil, Guro-gu, Seoul
					.sidebar__col
						.sidebar__title Год основания:
						p 2017
					.sidebar__col
						.sidebar__title Год выхода в России:
						p 2019