extends ../page.pug

append config
	- title = 'CocoPalm | Beautyforce.ru'
	- h1 = 'CocoPalm'
	- desc = 'Японский бренд Cocopalm предлагает косметические средства для оздоровления волос и кожи головы. Торговая марка относится к компании Saraya, разрабатывающей уникальные рецепты действенных продуктов.'
	-	image	=	'headers/brands/placeholder'

block content
	.container
		.breadcrumbs
			ul.breadcrumbs__list
				li.breadcrumbs__item
					a.breadcrumbs__link(href="/") Главная
				li.breadcrumbs__item
					a.breadcrumbs__link(href="brands.html") Бренды
				li.breadcrumbs__item CocoPalm
		.page
			.page__content
				h2.page__title CocoPalm
				main.main

					p Японский бренд Cocopalm предлагает косметические средства для оздоровления волос и кожи головы. Торговая марка относится к компании Saraya, разрабатывающей уникальные рецепты действенных продуктов. В основе косметики натуральные ингредиенты, экстракты растительных трав и масел.

					h3 Особенности продукции

					p #[strong Бренд Cocopalm предлагает такие товары, как:]

					ul.page-list
						li.page-list__item Шампуни
						li.page-list__item Гели для душа
						li.page-list__item Бальзамы
						li.page-list__item Кондиционеры
						li.page-list__item Молочко для тела

					p #[strong В состав средств включены активные ингредиенты:]

					ul.page-list
						li.page-list__item Корень имбиря
						li.page-list__item Гибискус
						li.page-list__item Шалфей
						li.page-list__item Масло ши
						li.page-list__item Жожоба
						li.page-list__item Жидкий кератин
						li.page-list__item Масла и др.

					p Особенностью косметики считается наличие такого компонента, как софоролипид. Вещество получено из кокосового масла по специальной технологии. Комплексное использование средств позволяет улучшить состояние волос, придать им здоровый вид и естественный блеск. Косметика японской торговой марки выполняет следующие задачи:

					ul.page-list
						li.page-list__item Увлажняет и питает
						li.page-list__item Очищает
						li.page-list__item Защищает от внешних негативных факторов
						li.page-list__item Делает волосы послушными
						li.page-list__item Придает блеск

					p Использование средств обеспечит SPA-уход в домашних условиях. Масла и активные компоненты стимулируют рост волос, препятствуют их выпадению. Средства подходят для разных типов, могут использоваться для ежедневного ухода. Они поставляются в удобных флаконах с дозаторами.

					h3 Достоинства

					p #[strong Косметика Cocopalm известна качеством и действенностью. Она характеризуется:]

					ul.page-list
						li.page-list__item Безопасностью
						li.page-list__item Простотой в использовании
						li.page-list__item Экологичностью
						li.page-list__item Удобной упаковкой
						li.page-list__item Быстрым результатом

					p В составе средств отсутствуют синтетические компоненты, консерванты, красители. Секрет успеха торговой марки заключается в применении натуральных ингредиентов и инновационных разработок. Использование продукции в домашних условиях заменят СПА-процедуры в салоне. Косметика соответствует международным стандартам качества. Онарекомендуется людям со склонностью к выпадению волос, борется с перхотью и другими проблемами кожи головы.

					p #[strong Официальный дилер Cocopalm в России компания «Бьюти Форс» предлагает взаимовыгодное сотрудничество. Наши партнеры получают качественную продукцию по невысокой цене, налаженную систему доставки в любой регион России, индивидуальный подход. Менеджеры компании готовы в любое время ответить на все возникшие вопросы, дать подробную консультацию об особенностях продукции японского бренда.]

			//- .page-sidebar
			//- 	h3.page-sidebar__title О бренде
			//- 	.sidebar
			//- 		.sidebar__col
			//- 			.sidebar__title Изготовитель:
			//- 			p
			//- 		.sidebar__col
			//- 			.sidebar__title Адрес производителя:
			//- 			p
			//- 		.sidebar__col
			//- 			.sidebar__title Год основания:
			//- 			p
			//- 		.sidebar__col
			//- 			.sidebar__title Год выхода в России:
			//- 			p