extends ../template.pug

append config
	- var title = 'Страница контактов'
	- var desc = 'Описание страницы контактов'

append content
	img(src="https://picsum.photos/id/1021/600/400" style="display: block; margin: 0 auto; margin-bottom: 25px")