extends ../page.pug

append config
	- title = 'Coscodi | Beautyforce.ru'
	- h1 = 'Coscodi'
	- desc = 'Южнокорейский бренд, представляющий косметику для ухода за кожей лица. Создатели компании придерживаются мнения о том, что гармоничным человека делает сочетание внешней и внутренней красоты.'
	-	image	=	'headers/brands/placeholder'

block content
	.container
		.breadcrumbs
			ul.breadcrumbs__list
				li.breadcrumbs__item
					a.breadcrumbs__link(href="/") Главная
				li.breadcrumbs__item
					a.breadcrumbs__link(href="brands.html") Бренды
				li.breadcrumbs__item Coscodi
		.page
			.page__content
				h2.page__title Coscodi
				main.main

					p Южнокорейский бренд, представляющий косметику для ухода за кожей лица. Создатели компании придерживаются мнения о том, что гармоничным человека делает сочетание внешней и внутренней красоты. Продукция торговой марки предназначена для борьбы с дефектами кожи, обладает противовозрастным действием.

					h3 Особенности

					P Косметика Coscodi разрабатывается с учетом последних достижений и новейших разработок. Производители считают, что коммерческого успеха можно добиться через анализ потребностей современного человека. При создании косметики учитываются восточные и европейские традиции, классический подход сочетается с последними достижениями в косметологической сфере.

					h3 Бренд Coscodi характеризуется достоинствами:

					ul.page-list
						li.page-list__item Гипоаллергенность
						li.page-list__item Омолаживающий эффект
						li.page-list__item Отсутствие химических ингредиентов
						li.page-list__item Адекватная цена

					p #[strong Корейский бренд предлагает маски для кожи лица нескольких линеек:]

					ul.page-list
						li.page-list__item Hydra Shooter
						li.page-list__item Propolis Blanc Cell
						li.page-list__item Moisture Mask Sheet
						li.page-list__item Ganoderma Real Stem и др

					p Маски выполнены на основе целлюлозного волокна, обладающего гидрофильными свойствами. Материал приятен на ощупь, способен удерживать большое количество влаги и не вызывает аллергических реакций.

					p Маски Hydra Shooter предназначены для увлажнения, улучшают и освежают цвет лица. Ингредиенты, входящие в их состав, помогают бороться с пигментными пятнами и другими недостатками кожи. В серию Propolis Blanc Cell включен натуральный прополис. Продукция обладает противовозрастным действием, способствует избавлению от морщин.

					p В масках содержатся такие составляющие, как:

					ul.page-list
						li.page-list__item Экстракт женьшеня
						li.page-list__item Гриб ганодермы
						li.page-list__item Мед
						li.page-list__item Аденозин
						li.page-list__item Экстракты лекарственных растений

					p Продукция корейского бренда отличается легкостью в использовании. После нанесения маски достаточно подождать 15-20 минут, чтобы получить ожидаемый результат. Регулярное применение продукции позволит избавиться от таких дерматологических проблем, как акне, расширенные поры, пигментные пятна и др.

					p #[strong Компания «Бьюти Форс» - это официальный дилер Coscodi, который предлагает сотрудничество на выгодных условиях. Индивидуальный подход, круглосуточная поддержка, подробные консультации – далеко не все преимущества, ожидающие наших партнеров. Вся косметика сертифицирована, что подтверждает ее высокое качество и действенный результат.]

			//- .page-sidebar
			//- 	h3.page-sidebar__title О бренде
			//- 	.sidebar
			//- 		.sidebar__col
			//- 			.sidebar__title Изготовитель:
			//- 			p
			//- 		.sidebar__col
			//- 			.sidebar__title Адрес производителя:
			//- 			p
			//- 		.sidebar__col
			//- 			.sidebar__title Год основания:
			//- 			p
			//- 		.sidebar__col
			//- 			.sidebar__title Год выхода в России:
			//- 			p