extends ../page.pug

append config
	- title = 'Cure+ | Beautyforce.ru'
	- h1 = 'Cure+'
	- desc = 'Бренд Cure+ представлен компанией Kim Jeong Moon Aloe Co, разрабатывающей и производящей южнокорейскую косметику. Под торговой маркой выпускаются крема для рук и лица, бальзамы, шампуни и другие средства для поддержания здоровья и красоты.'
	-	image	=	'headers/brands/placeholder.jpg'

block content
	.container
		.breadcrumbs
			ul.breadcrumbs__list
				li.breadcrumbs__item
					a.breadcrumbs__link(href="/") Главная
				li.breadcrumbs__item
					a.breadcrumbs__link(href="brands.html") Бренды
				li.breadcrumbs__item Cure+
		.page
			.page__content
				h2.page__title Cure+
				main.main

					p Бренд Cure+ представлен компанией Kim Jeong Moon Aloe Co, разрабатывающей и производящей южнокорейскую косметику. Под торговой маркой выпускаются крема для рук и лица, бальзамы, шампуни и другие средства для поддержания здоровья и красоты. Разработчики ориентированы на широкую аудиторию, поэтому косметика может использоваться женщинами различного возраста.

					h3 Косметика Cure+

					p Cure+ предлагает большой ассортимент уходовой косметики. Покупатели могут купить следующие средства:

					ul.page-list
						li.page-list__item Маски
						li.page-list__item Патчи
						li.page-list__item Кремы и др.

					p Продукция изготовлена с учетом длительных исследований и поиска инновационных формул, позволяющих достигать лучшего результата. Производители считают, что красота и здоровье  - это одно из главных условий для полноценной жизни. Поэтому вся продукция отличается экологической чистотой и безопасностью.

					h3 Преимущества

					p #[strong Торговая марка Cure+ заботится о красоте и долголетии потребителей. В состав продукции включены такие ингредиенты, как:]

					ul.page-list
						li.page-list__item Экстракт алоэ
						li.page-list__item Нано-серебро
						li.page-list__item Экстракт перечной мяты
						li.page-list__item Орех бетеля и др.

					p Основа кремов совершенно безопасна и не нанесет вред даже чувствительной коже. Экстракт алоэ обладает противовоспалительным и успокаивающим действием. Он используется для снятия раздражения, отеков. Вещество обладает заживляющим действием.

					p #[strong Косметика южнокорейской торговой марки характеризуется следующими достоинствами:]

					ul.page-list
						li.page-list__item Подходит для всех типов кожи и возрастов
						li.page-list__item Обладает омолаживающим действием
						li.page-list__item Имеет плотную текстуру, удобную при нанесении
						li.page-list__item Включает только натуральные компоненты

					p Средства не вызывают аллергических реакций. Благодаря наличию в составе экстракту алоэ, они могут оказывать заживляющее действие. Крема позволяют снизить болевые ощущения при ожогах, микротрещинах. Они могут использоваться при дерматологических заболеваниях. Средства позволяют защитить кожу от негативных воздействий окружающей среды, образуя на ее поверхности тонкий защитный барьер.

					p #[strong Официальный дилер Cure+ «Бьюти Форс» предлагает поставки косметики на выгодных условиях. Компания сотрудничает с крупными сетями и мелкооптовыми покупателями. Мы предлагаем сертифицированную продукцию, полностью готовую к продаже. К изделиям прилагаются все необходимые сопроводительные документы. Широкая логистическая сеть позволяет быстро доставлять товар в любой регион России.]