extends ../page.pug

append config
	- title = 'Dearboo | Beautyforce.ru'
	- h1 = 'Dearboo'
	- desc = 'Dearboo — бренд южнокорейской компании From B Lab. Новая торговая марка только начинает набирать популярность на родине и за ее пределами. Продукция рассчитана на молодых девушек и женщин старшего возраста. Косметика отличается доступной стоимостью в сочетании с высоким качеством.'
	-	image	=	'headers/brands/placeholder'

block content
	.container
		.breadcrumbs
			ul.breadcrumbs__list
				li.breadcrumbs__item
					a.breadcrumbs__link(href="/") Главная
				li.breadcrumbs__item
					a.breadcrumbs__link(href="brands.html") Бренды
				li.breadcrumbs__item Dearboo
		.page
			.page__content
				h2.page__title Dearboo
				main.main

					p Dearboo является брендом южнокорейской компании From B Lab. Новая торговая марка только начинает набирать популярность на родине и за ее пределами. Продукция рассчитана на молодых девушек и женщин старшего возраста. Косметика отличается доступной стоимостью в сочетании с высоким качеством.

					h3 Продукция бренда

					p Бренд Dearboo предлагает маски для лица, в основе которых растительные компоненты. Продукцию торговой марки отличает гипоаллергенность и высокая эффективность. Длительные разработки в косметологической сфере позволили создателям сделать выводы об отличных результатах применения следующих ингредиентов:

					ul.page-list
						li.page-list__item Экстракт розы способствует улучшению цвета лица, оказывает омолаживающее действие
						li.page-list__item Муцин улитки тонизирует кожу и выравнивает ее тон
						li.page-list__item Уголь проникает глубоко в поры и способствует очищению
						li.page-list__item Экстракт алоэ оказывает успокаивающее действие
						li.page-list__item Коллаген тонизирует, увлажняет, обогащает кожу полезными веществами, подтягивает контур
						li.page-list__item Экстракт лилии характеризуется противовоспалительным действием

					p Сочетание нескольких ингредиентов повышает эффективность применения косметики. Она рекомендуется девушкам и женщинам любого возраста, начиная от 13 лет. Некоторые маски предназначены для очищения кожи, снижения риска появления угревой сыпи и других дефектов.

					h3 Особенности

					p #[strong Косметика Dearboo  характеризуется такими преимуществами, как:]

					ul.page-list
						li.page-list__item Разумная стоимость
						li.page-list__item Яркая привлекательная упаковка
						li.page-list__item Хороший видимый результат
						li.page-list__item Гипоаллергенность
						li.page-list__item Безопасность применения

					p В основе косметики натуральные ингредиенты. Это предотвращает риск появления аллергических реакций и покраснений. Маски подходят для различных типов кожи. Они снимают раздражение, очищают, насыщают кожу полезными веществами. Результат использования косметики можно отследить практически сразу, кожа приобретает свежий и отдохнувший вид.

					p #[strong Официальный дилер Dearboo «Бьюти Форс» предлагает выгодные условия сотрудничества крупным сетям и небольшим косметическим магазинам. Мы поможем в организации поставок косметики в любых объемах. «Бьюти Форс» сотрудничает с крупнейшими логистическими компаниями, которые доставят груз в любую точку России. Наши менеджеры на связи в любое время, помогут решить проблемы и ответить на возникшие вопросы.]