extends ../page.pug

append config
	- title = 'Dr. Gloderm | Beautyforce.ru'
	- h1 = 'Dr. Gloderm'
	- desc = 'Молодая и уверенно развивающаяся компания Dr. Gloderm была основана в июле 2016 года в Сеуле Даниелем Парком (Доктор Медицинских наук, у которого более 20 лет опыта исследований и проведения разработок в области косметики).'
	-	image	=	'headers/dr-gloderm.jpg'

block content
	.container
		.breadcrumbs
			ul.breadcrumbs__list
				li.breadcrumbs__item
					a.breadcrumbs__link(href="/") Главная
				li.breadcrumbs__item
					a.breadcrumbs__link(href="brands.html") Бренды
				li.breadcrumbs__item Dr. Gloderm
		.page
			.page__content
				h2.page__title Dr. Gloderm
				main.main
					p Молодая и уверенно развивающаяся компания Dr. Gloderm была основана в июле 2016 года в Сеуле Даниелем Парком (Доктор Медицинских наук, у которого более 20 лет опыта исследований и проведения разработок в области косметики). 54 врача-дерматолога Сеульского университета приняли участие в разработке продуктов категории медицинской косметики по 5 миллионам рецептов.
					p Каждый продукт был разработан и воплощен в жизнь совместно с Сеульским дерматологическим косметическим обществом и произведен на лучших фабриках Кореи.
					p Слоган: «Правильная дозировка - нужный эффект» проходит нитью через каждый продукт, будь то масляные капсулы для очищения лица или крем в виде эмульсионных шариков. Таким образом, Dr. Gloderm представляет процедуры по уходу за кожей с рекомендованными дозами, которые отличают их продукты от существующих на рынке.
					p Стволовые клетки морских водорослей – Целтосомы -  являются одним из основных ингредиентов. Он мощно стимулирует старые клетки функционировать подобно молодым, благодаря чему происходит регенерация поврежденной и раздраженной кожи, активизируется синтез коллагена, предотвращается появление морщин и обвисание кожи.
					p Стволовые клетки помогают вернуть коже упругость, сияние и гладкость. Ингредиент собран в Бретани - район Франции, который известен богатой природой, влажным климатом и различными видами существ, выживающих в экстремальной морской среде. Там находится центр морских биологических исследований.
					p Также в ряды ключевых ингредиентов продукции бренда входят Hucell – липосома, сформулированная идентично липидному составу организма человека, позволяет доставлять эффективные ингредиенты глубоко в кожу и балансирует уровень влажности, морской гидрогель, гиалуроновая кислота, морской коллаген и аквасил сохраняют кожу гладкой, увлажненной и упругой, экстракт жемчуга и глутатион предотвращают синтез меланина, устраняя темные пятна и осветляя тон кожи, центелла азиатская восстанавливает поврежденные клетки кожи, сужает поры. Рецептуры не содержат парабенов, минеральных масел, бензофенона, феноксиэтанола и талька.
					p
						b За три года работы компания запатентовала способ изготовления эмульсионных шариков крема.
					p На сегодняшний день бренд Dr. Gloderm прекрасно себя зарекомендовал в области Инновационной косметики и набрал значительную аудиторию покупателей - поклонников бренда. Продукция распределена на несколько линеек по уходу за кожей лица:
					ul.page-list
						li.page-list__item <b>TABRX</b> – основная линейка делится на увлажняющую, осветляющую, подтягивающую и разглаживающую серии, и распределяется на кремы для лица в виде эмульсионных шариков, тканевых масок с масляной капсулой, интенсивные серум-сыворотки.
						li.page-list__item <b>TABRX Radiance</b> – очищающая серия включает в себя гель для умывания, пенку и масло для сияния кожи
						li.page-list__item <b>TIME TO MASK</b> – тканевые маски с эффектом увлажнения, осветления, лифтинга и разглаживания морщин.
						li.page-list__item <b>SKIN FIXER</b> – цветные корректоры, улучшающие тон кожи лица, и протеиновый BB крем подходят для всех типов кожи.
						li.page-list__item <b>EYE MASK</b> – гидрогелевые разглаживающие и осветляющие маски для кожи вокруг глаз делятся на дневную прозрачную и ночную с глиттерами. Маски имеют уникальную инновационную форму, которая прекрасно крепится к области вокруг глаз и действует эффективнее, чем патчи для глаз.
						li.page-list__item <b>CEQRX AC-LOGIC</b> – гипоаллергенная серия против недостатков проблемной кожи и акне.
						li.page-list__item <b>CEQRX DERMA FENSE</b> – гипоаллергенная серия для чувствительной кожи, склонной к раздражению.
					p Правильно подобранный продукт исходя из потребностей кожи и правильное систематическое использование поможет приобрести сияние и здоровый вид вашей кожи.
					p В России бренд уже представлен на торговых площадках Wildberries, Ozon, Lamoda, Созвездие, Beru.ru, Красотка Про, Сифо, Галерея Косметики, Aizel.
					p Бренд успешно продается в США, Гонконге и Сингапуре.
			.page-sidebar
				h3.page-sidebar__title О бренде
				.sidebar
					.sidebar__col
						.sidebar__title Изготовитель:
						p Dr.Gloderm Co., LTD
					.sidebar__col
						.sidebar__title Адрес производителя:
						p 3F, 215 Досан-даэро, Синса-дон, Каннам-гу, Сеул, Корея
					.sidebar__col
						.sidebar__title Год основания:
						p 2016
					.sidebar__col
						.sidebar__title Год выхода в России:
						p 2019