extends ../page.pug

append config
	- title = 'Dr. Gloderm | Beautyforce.ru'
	- h1 = 'Dr. Gloderm'
	- desc = 'Производственная компания заработала в 2016 году. Dr. Gloderm стал известным брендом в 9 лидирующий странах мира. В России продукция начала распространяться с 2019 года.'
	-	image	=	'headers/brands/dr-gloderm'

block content
	.container
		.breadcrumbs
			ul.breadcrumbs__list
				li.breadcrumbs__item
					a.breadcrumbs__link(href="/") Главная
				li.breadcrumbs__item
					a.breadcrumbs__link(href="brands.html") Бренды
				li.breadcrumbs__item Dr. Gloderm
		.page
			.page__content
				h2.page__title Dr. Gloderm
				main.main

					p Название ведущей косметической линии Южной Кореи составлено из нескольких слов: Dr. – доктор, Global - глобальный, Dermatologist  - дерматолог. Аббревиатура «Dr. Gloderm» символизирует, что 54 дерматолога Сеульского Национального Университета разработали уникальную линейку продукции брендовой косметики.

					p Производственная компания заработала в 2016 году. Dr. Gloderm стал известным брендом в 9 лидирующий странах мира. В России продукция начала распространяться с 2019 года.

					h3 Чем отличается корейская косметика

					p Научный подход к разработке продукций способствовал созданию кремов и мазей, которые имеют ряд преимуществ:
					ul.page-list
						li.page-list__item Фармацевтические действия продукции направлены на лечение кожи;
						li.page-list__item Высококонцентрированные соединения направлены против старения кожного покрова;
						li.page-list__item В производстве используются натуральные продукты специальной очистки;
						li.page-list__item У производителя имеется патент на выпуск эмульсионных шариков;
						li.page-list__item Современное дизайнерское решение в оформлении упаковок;

					p Высокотехнологичное производство позволяет создать натуральную косметику по уходу за кожей. Покупателям предлагаются подтягивающие, разглаживающие кожу, увлажняющие кремы. После использования кожа омолаживается, появляется здоровый цвет лица, сияние.

					h3 Эмульсионные шарики

					p Корейский бренд косметического средства в виде шариков получил всемирное признание среди пользователей. Форма лучше сохраняет активные свойства компонентов, делает состав максимально эффективным. Также идёт правильная дозировка. По технологии эмульсионные шарики замораживаются. Содержащиеся стволовые клетки восстанавливают структуру кожи и поддерживают гидролипидный баланс.

					p По клиническому тестированию на раздражительность корейская косметика Dr. Gloderm получила высшую оценку.

					h3 Кремы

					p Линия состоит из увлажняющего крема, который основывается на морском гидрогели, гиалуроновой кислоте. Предлагается покупателям подтягивающий крем. Дерматологи применили ДНК лосося Centella Arsi Attica. Замыкает линию антивозрастной крем на основе морского коллагена, Acetyl HEXAR peptide-8.

					h3 Маски

					p Двуступенчатая косметика состоит из 25-миллилитровой ёмкости с маской и капсулы Hucell-0,3 мл. Керамиды помогают наполнять мембраны клеток, чтобы добиться разглаживания кожи.

					p
						strong В России с 2019 года бренд представлен официальным дилером — компанией «Бьюти Форс».

					.baguetteBoxThree
						a.baguetteBoxThree__link(href="img/gallery/dr-gloderm/01.jpg" data-caption="Image caption")
							img.baguetteBoxThree__img(src="img/gallery/dr-gloderm/01t.jpg", alt="Dr. Gloderm")
						a.baguetteBoxThree__link(href="img/gallery/dr-gloderm/02.jpg" data-caption="Image caption")
							img.baguetteBoxThree__img(src="img/gallery/dr-gloderm/02t.jpg", alt="Dr. Gloderm")
						a.baguetteBoxThree__link(href="img/gallery/dr-gloderm/03.jpg" data-caption="Image caption")
							img.baguetteBoxThree__img(src="img/gallery/dr-gloderm/03t.jpg", alt="Dr. Gloderm")
						a.baguetteBoxThree__link(href="img/gallery/dr-gloderm/04.jpg" data-caption="Image caption")
							img.baguetteBoxThree__img(src="img/gallery/dr-gloderm/04t.jpg", alt="Dr. Gloderm")
						a.baguetteBoxThree__link(href="img/gallery/dr-gloderm/05.jpg" data-caption="Image caption")
							img.baguetteBoxThree__img(src="img/gallery/dr-gloderm/05t.jpg", alt="Dr. Gloderm")
						a.baguetteBoxThree__link(href="img/gallery/dr-gloderm/06.jpg" data-caption="Image caption")
							img.baguetteBoxThree__img(src="img/gallery/dr-gloderm/06t.jpg", alt="Dr. Gloderm")
			.page-sidebar
				h3.page-sidebar__title О бренде
				.sidebar
					.sidebar__col
						.sidebar__title Изготовитель:
						p Dr.Gloderm Co., LTD
					.sidebar__col
						.sidebar__title Адрес производителя:
						p 3F, 215 Досан-даэро, Синса-дон, Каннам-гу, Сеул, Корея
					.sidebar__col
						.sidebar__title Год основания:
						p 2016
					.sidebar__col
						.sidebar__title Год выхода в России:
						p 2019