extends ../page.pug

append config
	- title = 'Ecotools | Beautyforce.ru'
	- h1 = 'Ecotools'
	- desc = 'Торговая марка Ecotools была основана в 2007 году в Париже. Производители предлагают качественную и экологически чистую продукцию.'
	-	image	=	'headers/brands/placeholder.jpg'

block content
	.container
		.breadcrumbs
			ul.breadcrumbs__list
				li.breadcrumbs__item
					a.breadcrumbs__link(href="/") Главная
				li.breadcrumbs__item
					a.breadcrumbs__link(href="brands.html") Бренды
				li.breadcrumbs__item Ecotools
		.page
			.page__content
				h2.page__title Ecotools
				main.main

					p Торговая марка Ecotools была основана в 2007 году в Париже. Производители предлагают качественную и экологически чистую продукцию. Компания стремится оградить окружающую среду от вредного производства. Продукция не тестируется на животных, выполнена из безвредных материалов.

					h3 Ассортимент

					p #[strong Под торговой маркой Ecotools выпускают:]

					ul.page-list
						li.page-list__item Кисти для нанесения макияжа
						li.page-list__item Спонжи
						li.page-list__item Наборы для косметики

					p #[strong Изделия предназначены для нанесения таких средств:]

					ul.page-list
						li.page-list__item Румяна
						li.page-list__item Консилеры
						li.page-list__item Хайлайтеры
						li.page-list__item Пудра
						li.page-list__item Тональная основа
						li.page-list__item Косметика для глаз и бровей

					p Среди самых интересных моделей отмечают кисть-бронзер для тела. С ее помощью можно нанести автозагар так, чтобы он идеально лег на кожу.

					p Ручки кистей выполнены из бамбука. Считается, что это растение восстанавливается быстрее всех. Ворс изготавливается из таклона. Синтетическое волокно по характеристикам приближено к натуральному. Оно отличается мягкостью, не вызывает аллергических реакций. Поверхность не впитывает жидкие текстуры, легко моется.

					h3 Особенности

					p #[strong Бренд Ecotools отличается такими характеристиками:]

					ul.page-list
						li.page-list__item Простота в уходе
						li.page-list__item Удобство в эксплуатации
						li.page-list__item Доступность
						li.page-list__item Гипоаллергенность

					p Кисти европейского производителя не травмируют кожу, приятны на ощупь. Косметика с них легко смывается, а ворс быстро высыхает. Кисти не деформируются, служат длительное время без потери первоначального качества. Продукция торговой марки отличается компактностью. Она легко умещается даже в небольшой косметичке, поэтому ее можно брать с собой в поездку.

					p #[strong Производители бережно относятся к ресурсам планеты. Они не применяют для изготовления кистей шерсть животных. Французский бренд использует вторичное сырье и быстро восстанавливаемые ресурсы (например, бамбук). Кисти и спонжи от Ecotools имеют сертификаты PETA, что подтверждает их экологичность и безопасность использования. Они подходят для профессиональных визажистов и применения в домашних условиях.]

			//- .page-sidebar
			//- 	h3.page-sidebar__title О бренде
			//- 	.sidebar
			//- 		.sidebar__col
			//- 			.sidebar__title Изготовитель:
			//- 			p
			//- 		.sidebar__col
			//- 			.sidebar__title Адрес производителя:
			//- 			p
			//- 		.sidebar__col
			//- 			.sidebar__title Год основания:
			//- 			p
			//- 		.sidebar__col
			//- 			.sidebar__title Год выхода в России:
			//- 			p