extends ../page.pug

append config
	- title = 'Elis | Beautyforce.ru'
	- h1 = 'Elis'
	- desc = 'Под торговой маркой Elis выпускаются гигиенические прокладки для современных женщин, предпочитающих качество и комфорт.'
	-	image	=	'headers/brands/placeholder.jpg'

block content
	.container
		.breadcrumbs
			ul.breadcrumbs__list
				li.breadcrumbs__item
					a.breadcrumbs__link(href="/") Главная
				li.breadcrumbs__item
					a.breadcrumbs__link(href="brands.html") Бренды
				li.breadcrumbs__item Elis
		.page
			.page__content
				h2.page__title Elis
				main.main

					p Под торговой маркой Elis выпускаются гигиенические прокладки для современных женщин, предпочитающих качество и комфорт. Продукция японского производителя популярна во многих странах мира, несмотря на то, что появилась не так давно. В России она представлена только с 2019 года, но ее уже смогли оценить тысячи женщин. Продукция относится к бюджетной категории, доступна потребителям с различным достатком.

					h3 Обзор

					p #[strong Elis выпускает гигиенические средства с учетом особенностей женской анатомии. Производитель представляет следующие серии:]

					ul.page-list
						li.page-list__item Active & Secure Guard
						li.page-list__item Shin-Suhadakan
						li.page-list__item Megami
						li.page-list__item Clinics
						li.page-list__item Wide Block & Happy Mornings

					p Поверхность изделий сделана из нетканого материала, который пропускает влагу и задерживает ее внутри с помощью абсорбирующего слоя. Ткань не вызывает аллергических реакций, раздражения. Большой выбор изделий позволяет подобрать продукцию с учетом индивидуальных особенностей.

					p Под торговой маркой выпускаются дневные и ночные гигиенические средства. Производителем представлены изделия для обильных выделений. Ультратонкие прокладки удобны в применении, практически незаметны. Каждая из них поставляется в индивидуальной упаковке.

					h3 Достоинства

					p #[strong Бренд Elis выпускает гигиенические средства, которые обладают такими качествами, как:]

					ul.page-list
						li.page-list__item Гипоаллергенность
						li.page-list__item Особая анатомическая форма
						li.page-list__item Натуральные экологичные материалы
						li.page-list__item Эффективное впитывание и удержание влаги
						li.page-list__item Надежное крепление на нижнее белье

					p Прокладки изготавливаются из дышащего материала, дают ощущение свежести в течение всего времени. Мягкая поверхность приятная на ощупь, не вызывает неприятных ощущений. В производстве используется качественное сырье. Производители против проведения тестирования на животных.

					p Японский бренд использует качественное сырье и новейшие технологии. Гигиенические прокладки рекомендуются для чувствительной кожи, так как не вызывают раздражений. Боковые крылышки надежно крепятся к белью, исключают протекания даже при активном образе жизни.

					p #[strong «Бьюти Форс» - это официальный дилер Elis в России. Компания предлагает доставку товаров японского бренда по всей стране. Мы сотрудничаем с оптовыми и розничными сетями. Для постоянных партнеров предоставляются бонусы, взаимовыгодные условия сотрудничества.]

			//- .page-sidebar
			//- 	h3.page-sidebar__title О бренде
			//- 	.sidebar
			//- 		.sidebar__col
			//- 			.sidebar__title Изготовитель:
			//- 			p
			//- 		.sidebar__col
			//- 			.sidebar__title Адрес производителя:
			//- 			p
			//- 		.sidebar__col
			//- 			.sidebar__title Год основания:
			//- 			p
			//- 		.sidebar__col
			//- 			.sidebar__title Год выхода в России:
			//- 			p