extends ../page.pug

append config
	- title = 'Elizavecca | Beautyforce.ru'
	- h1 = 'Elizavecca'
	- desc = 'Бренд Elizavecca основан компанией MIZ Trade Inc., история которой началась еще в 1986 году. Производители первые разработали и выпустили BB-крем, дающий хорошие результаты ухода за кожей.'
	-	image	=	'headers/brands/placeholder'

block content
	.container
		.breadcrumbs
			ul.breadcrumbs__list
				li.breadcrumbs__item
					a.breadcrumbs__link(href="/") Главная
				li.breadcrumbs__item
					a.breadcrumbs__link(href="brands.html") Бренды
				li.breadcrumbs__item Elizavecca
		.page
			.page__content
				h2.page__title Elizavecca
				main.main

					p Бренд Elizavecca основан компанией MIZ Trade Inc., история которой началась еще в 1986 году. Производители первые разработали и выпустили BB-крем, дающий хорошие результаты ухода за кожей. Компания известна качеством и широким выбором продукцией. Под брендом выпускаются средства для разного возраста.

					h3 Продукция Elizavecca: большой выбор товаров

					p #[strong Торговая марка Elizavecca – это большое разнообразие товаров. Популярностью пользуется линейка бренда Milky Piggy, которая включает:]

					ul.page-list
						li.page-list__item Маски для лица
						li.page-list__item Патчи под глаза
						li.page-list__item Очищающие пенки
						li.page-list__item Крема

					p #[strong Среди продукции торговой марки также отмечают:]

					ul.page-list
						li.page-list__item Сыворотки
						li.page-list__item Пилинг-крема
						li.page-list__item Носочки для ног
						li.page-list__item Пузырьковые маски
						li.page-list__item Увлажняющие масла
						li.page-list__item Тканевые маски и др.

					p В составе корейской косметики тщательно отобранные ингредиенты, которые совершенно безопасны, не вызывают аллергических реакций. Грамотное сочетание активных веществ позволяет оценить результат уже после первого применения. Среди компонентов можно отметить:

					ul.page-list
						li.page-list__item Коллаген
						li.page-list__item Гилауроновая кислота
						li.page-list__item Коллоидное золото
						li.page-list__item Целебная глина
						li.page-list__item Экстракт лизата бифидобактерий
						li.page-list__item Морская соль
						li.page-list__item Зеленый чай

					p Продукция Elizavecca применяется для очищения, увлажнения кожи, борьбы с дерматологическими проблемами. Товары используются для защиты поверхности от неблагоприятных условий среды. Производители предлагают ухаживающие средства и декоративную косметику.

					h3 Преимущества

					p #[strong Среди основных преимуществ косметики отмечают:]

					ul.page-list
						li.page-list__item Доступность
						li.page-list__item Экологичность
						li.page-list__item Большой выбор
						li.page-list__item Инновационные формулы
						li.page-list__item Отсутствие синтетических добавок
						li.page-list__item Яркие удобные упаковки

					p Товары бренда защищены от подделки специальной голограммой на упаковке. Она позволяет покупателям удостовериться в том, что они приобретают качественную косметику. Торговая марка продается во многих странах мира. Производители постоянно работают над совершенствованием продукции, предлагая новые средства для ухода. Корейская косметика предназначена для лица, тела, волос, стоп. Она подходит для различных типов кожи.

					p #[strong Компания «Бьюти Форс» - это официальный дилер Elizavecca, предлагающий сотрудничество оптовым и розничным магазинам косметики. Развитая логистическая сеть позволяет доставить товар в любой уголок России. Средства корейского бренда пользуются популярностью среди потребителей. Это происходит благодаря ее качеству и доступности.]

			//- .page-sidebar
			//- 	h3.page-sidebar__title О бренде
			//- 	.sidebar
			//- 		.sidebar__col
			//- 			.sidebar__title Изготовитель:
			//- 			p
			//- 		.sidebar__col
			//- 			.sidebar__title Адрес производителя:
			//- 			p
			//- 		.sidebar__col
			//- 			.sidebar__title Год основания:
			//- 			p
			//- 		.sidebar__col
			//- 			.sidebar__title Год выхода в России:
			//- 			p