extends ../page.pug

append config
	- title = 'Essence | Beautyforce.ru'
	- h1 = 'Essence'
	- desc = 'Бренд Essence принадлежит компании Cosnova. История торговой марки началась в 2002 году. Производители поставили задачу представить эффективную косметику для молодых девушек, подходящую и для женщин постарше.'
	-	image	=	'headers/brands/placeholder.jpg'

block content
	.container
		.breadcrumbs
			ul.breadcrumbs__list
				li.breadcrumbs__item
					a.breadcrumbs__link(href="/") Главная
				li.breadcrumbs__item
					a.breadcrumbs__link(href="brands.html") Бренды
				li.breadcrumbs__item Essence
		.page
			.page__content
				h2.page__title Essence
				main.main

					p Бренд Essence принадлежит компании Cosnova. История торговой марки началась в 2002 году. Производители поставили задачу представить эффективную косметику для молодых девушек, подходящую и для женщин постарше.

					h3 Особенности

					p #[strong Essence включает изделия следующих категорий:]

					ul.page-list
						li.page-list__item Декоративная косметика для лица
						li.page-list__item Средства для ногтей
						li.page-list__item Косметика для губ и др.

					p В линейке торговой марки представлены тональные основы, праймеры, бронзеры и др. Помада и блеск для губ отличаются большим выбором оттенков. Каждое средство производителя сочетает универсальность, низкую стоимость и качество.

					p Изготовитель выпускает для ногтей лаки, блестки, наклейки, составы для удаления кутикулы. Помады и блеск для губ представлены в различных оттенках. «Эссенс» предлагает бюджетную косметику для ресниц и бровей.

					h3 Достоинства

					p #[strong Основной особенностью Essence является универсальность. Под торговой маркой могут найти средства для себя и молодые девушки, и женщины постарше. Среди их достоинств отмечают:]

					ul.page-list
						li.page-list__item Отсутствие аллергических реакций
						li.page-list__item Большой выбор декоративной косметики
						li.page-list__item Качество товаров
						li.page-list__item Невысокая цена

					p Компания относится к противникам тестирования средств на животных. Все продукты изготавливаются только из качественного сырья. Перед поступлением средств в продажу, они проходят дерматологические и офтольмалогические тестирования. В результате продукция практически не вызывает аллергических реакций. Она рекомендуется женщинам с чувствительной кожей.

					p Производители постоянно разрабатывает новые продукты с улучшенной формулой. Товары соответствуют европейским стандартам качества. Каждый продукт имеет совершенно безопасный состав, не вызывает аллергических реакций и раздражений. Среди главных достоинств косметики отмечают ее доступность. Средства может позволить себе практически каждая женщина, так как они относятся к бюджетной категории, но отличаются качеством.

					p #[strong Официальный дилер Essence в России «Бьюти Форс» предлагает выгодное сотрудничество оптовым и розничным покупателям. Мы организовываем быструю доставку любого объема заказа. Наши специалисты дадут консультацию по выбору ценовой политики. Продукция немецкого бренда пользуется успехом благодаря качеству в сочетании с демократичной ценой.]

			//- .page-sidebar
			//- 	h3.page-sidebar__title О бренде
			//- 	.sidebar
			//- 		.sidebar__col
			//- 			.sidebar__title Изготовитель:
			//- 			p
			//- 		.sidebar__col
			//- 			.sidebar__title Адрес производителя:
			//- 			p
			//- 		.sidebar__col
			//- 			.sidebar__title Год основания:
			//- 			p
			//- 		.sidebar__col
			//- 			.sidebar__title Год выхода в России:
			//- 			p