extends ../page.pug

append config
	- title = 'Esthetic House | Beautyforce.ru'
	- h1 = 'Esthetic House'
	- desc = 'Корейский бренд Esthetic House был образован в 2010 году на основе исследовательского центра, существовавшего с середины 90-х годов прошлого столетия. Продукция компания сочетает в себе инновационные разработки и натуральные, проверенные временем ингредиенты.'
	-	image	=	'headers/brands/placeholder'

block content
	.container
		.breadcrumbs
			ul.breadcrumbs__list
				li.breadcrumbs__item
					a.breadcrumbs__link(href="/") Главная
				li.breadcrumbs__item
					a.breadcrumbs__link(href="brands.html") Бренды
				li.breadcrumbs__item Esthetic House
		.page
			.page__content
				h2.page__title Esthetic House
				main.main

					p Корейский бренд Esthetic House был образован в 2010 году на основе исследовательского центра, существовавшего с середины 90-х годов прошлого столетия. Продукция компания сочетает в себе инновационные разработки и натуральные, проверенные временем ингредиенты. Торговая марка выпускает средства для ухода за лицом, телом и волосами.

					h3 Особенности

					p #[strong Средства Esthetic House разделяются на несколько видов:]

					ul.page-list
						li.page-list__item Декоративная косметика
						li.page-list__item Препараты для кожи
						li.page-list__item Средства для волос

					p #[strong Продукция рекомендуется для увлажнения и питания кожи различного типа. В состав препаратов включаются такие компоненты, как:]

					ul.page-list
						li.page-list__item Гилауроновая кислота
						li.page-list__item Морской коллаген
						li.page-list__item Древесный уголь
						li.page-list__item Пантенол
						li.page-list__item Морские водоросли
						li.page-list__item Улиточный муцин и др.

					p Крема, сыворотки, маски предназначены для питания и увлажнения кожи, обладают противовозрастным действием. С их помощью выравнивается цвет лица, устраняются морщины.

					p #[strong В коллекции средств для волос представлены:]

					ul.page-list
						li.page-list__item Шампуни
						li.page-list__item Маски
						li.page-list__item Сыворотки
						li.page-list__item Бальзамы

					p Косметика содержит такие компоненты, как коллаген, кератин, декспантенол, экстракты лекарственных растений. Она питает и насыщает волосы, придает им естественный блеск, здоровый вид.

					h3 Преимущества

					p Бренд Esthetic House известен инновационными продуктами. Косметика торговой марки характеризуется большим количеством достоинств:

					ul.page-list
						li.page-list__item Экологичность и безопасность
						li.page-list__item Быстрый результат
						li.page-list__item Гипоаллергенность
						li.page-list__item Удобная упаковка
						li.page-list__item Доступная цена

					p Производители предлагают средства различной ценовой категории. Под брендом выпускается бюджетная продукция и косметика премиум-класса. Результативность применения средств доказана их популярностью во многих европейских и восточных странах. Слоганом компании является фраза «Всегда новое!», что отражает взгляд производителей на выпускаемый товар.

					p Качество косметики обусловлено постоянными исследованиями, которые проводятся в лаборатории для выведения лучшей формулы и совершенствования изделий.

					p #[strong Компания «Бьюти Форс», официальный дилер Esthetic House в России, предлагает продукцию корейского бренда по адекватной стоимости. Мы сотрудничаем с оптовыми и розничными сетями по всей стране. Логистические компании обеспечат надежную и быструю доставку в любой регион. Менеджеры компании ответят на все вопросы, помогут выбрать товар, сделать заказ.]

			//- .page-sidebar
			//- 	h3.page-sidebar__title О бренде
			//- 	.sidebar
			//- 		.sidebar__col
			//- 			.sidebar__title Изготовитель:
			//- 			p
			//- 		.sidebar__col
			//- 			.sidebar__title Адрес производителя:
			//- 			p
			//- 		.sidebar__col
			//- 			.sidebar__title Год основания:
			//- 			p
			//- 		.sidebar__col
			//- 			.sidebar__title Год выхода в России:
			//- 			p