extends ../page.pug

append config
	- title = 'Foreverskin | Beautyforce.ru'
	- h1 = 'Foreverskin'
	- desc = 'Бренд Foreverskin был основан в 2016 году компанией Dr. Su Skin Cosmetics. Основное направление работы – выпуск масок и патчей для глаз. Торговая марка за короткие сроки стала популярна не только в Корее, но и за ее пределами.'
	-	image	=	'headers/brands/placeholder.jpg'

block content
	.container
		.breadcrumbs
			ul.breadcrumbs__list
				li.breadcrumbs__item
					a.breadcrumbs__link(href="/") Главная
				li.breadcrumbs__item
					a.breadcrumbs__link(href="brands.html") Бренды
				li.breadcrumbs__item Foreverskin
		.page
			.page__content
				h2.page__title Foreverskin
				main.main

					p Бренд Foreverskin был основан в 2016 году компанией Dr. Su Skin Cosmetics. Основное направление работы – выпуск масок и патчей для глаз. Торговая марка за короткие сроки стала популярна не только в Корее, но и за ее пределами. Уходовая косметика отличается эффективностью и доступностью. Она гипоаллергенна, рекомендуется для различных типов кожи.

					h3 Особенности

					p #[strong Косметика Foreverskin характеризуется следующим:]

					ul.page-list
						li.page-list__item Гипоаллергенность;
						li.page-list__item Качество
						li.page-list__item Омолаживающий результат
						li.page-list__item Доступная цена
						li.page-list__item Инновационный состав

					p При разработке продукции используются современные достижения в косметологической сфере. Отличительной особенностью является наличие в составе 1% ДНК лосося. Исследованиями клинически доказано, что этот компонент оказывает следующее действие на кожу:

					ul.page-list
						li.page-list__item Повышает эластичность
						li.page-list__item Омолаживает
						li.page-list__item Снимает раздражение
						li.page-list__item Уменьшает отечность

					p ДНК лосося очищает поверхность, проникая в глубокие слои эпидермиса. Компонент подтягивает кожу, обладает омолаживающим и освежающим действием.

					p #[strong В состав масок включены и другие натуральные ингредиенты:]

					ul.page-list
						li.page-list__item Ниацинамид
						li.page-list__item Рисовые отруби
						li.page-list__item Аденозин
						li.page-list__item Растительные компоненты

					P Косметика Foreverskin предназначена для женщин различных возрастов. Она питает и насыщает кожу полезными веществами. Уже после первого применения масок отмечается положительный результат. Кожа выглядит свежей и отдохнувшей, уменьшаются отеки. Инновационные формулы в сочетании с безопасными растительными компонентами позволяют быстро добиться хороших результатов.

					p Маски корейской торговой марки характеризуются антиоксидантными свойствами. Они восстанавливают естественный защитный барьер, что обеспечивает защиту кожи от негативных воздействий. Производители предлагают следующую косметику:

					ul.page-list
						li.page-list__item Тканевые маски
						li.page-list__item Патчи
						li.page-list__item Альгинатные маски
						li.page-list__item Гидрогелевые средства и др.

					p #[strong  «Бьюти Форс» - это официальный дилер Foreverskin на территории России. Компания предлагает сотрудничество с выгодными условиями для небольших магазинов и крупных торговых сетей. Маски и патчи корейской торговой марки пользуются большой популярностью среди покупательниц различного возраста. Развитая логистическая сеть позволит доставить продукцию в любой регион России. Сотрудники компании готовы ответить на возникшие вопросы о корейской косметики.]