extends ../page.pug

append config
	- title = 'GHD | Beautyforce.ru'
	- h1 = 'GHD'
	- desc = 'GHD – это европейский бренд, который поставляет технику и аксессуары для стайлинга волос. История компании началась в 2001 году с продажи выпрямителя для волос.'
	-	image	=	'headers/brands/placeholder.jpg'

block content
	.container
		.breadcrumbs
			ul.breadcrumbs__list
				li.breadcrumbs__item
					a.breadcrumbs__link(href="/") Главная
				li.breadcrumbs__item
					a.breadcrumbs__link(href="brands.html") Бренды
				li.breadcrumbs__item GHD
		.page
			.page__content
				h2.page__title GHD
				main.main

					p GHD – это европейский бренд, который поставляет технику и аксессуары для стайлинга волос. История компании началась в 2001 году с продажи выпрямителя для волос. Этот прибор быстро завоевал популярность у стилистов и парикмахеров со всего мира. В настоящее время бренд выпускает технику для стайлинга, пользующуюся успехом во многих странах мира.

					h3 Продукция GHD: Особенности

					p #[strong Под торговой маркой GHD выпускают:]

					ul.page-list
						li.page-list__item Брашинги
						li.page-list__item Щетки
						li.page-list__item Фены
						li.page-list__item Плойки
						li.page-list__item Щипцы и др.

					p Производители имеют собственную лабораторию в Великобритании, где проводятся научные исследования в области термического воздействия на волосы. Благодаря инновационным технологиям использование приборов для укладки не отражается на состоянии локонов.

					p Продукция компании известна во многих странах мира. Среди поклонников бренда такие известные личности, как Мадонна, Виктория Бэкхем и др.

					p #[strong Бренд GHD предлагает безопасные приборы и аксессуары для стайлинга. Они просты в использовании, поэтому могут применяться и в домашних условиях. Среди линеек устройств отмечают:]

					ul.page-list
						li.page-list__item V Gold Series Styler
						li.page-list__item Eclipse
						li.page-list__item Platinum и др.

					p Выпрямители оснащены специальными датчиками, позволяющими регулировать температуру для оптимального воздействия на волосы. Благодаря новейшим технологиям гаджеты призваны не только выпрямлять волосы, но и сохранять их блеск и упругость. Средства используются не только в салонах, но и в домашних условиях. Они рекомендованы для ежедневного применения.

					p Приборы выпускаются в разных форматах, в том числе и дорожном. Бренд постоянно совершенствует свои товары, опираясь на новейшие достижения и исследования в этой сфере.

					p Брашинги и щетки GHD – это профессиональные аксессуары для волос, которые помогут в ежедневном уходе. Они применяются для укладки, сушки, моделирования. Мягкие щетинки распутывают волосы, делают их гладкими и послушными. Эргономичность конструкции и стильный внешний вид аксессуаров способствуют их комфортному использованию. Щетки предназначены для волос различной длины и текстуры.

					p #[strong «Бьюти Форс» - это официальный дилер GHD в России, который предлагает сотрудничество косметическим салонам и розничным сетям. Мы доставим продукцию в любой регион страны в сжатые сроки. Оптовым покупателям предлагаются бонусы и скидки. Консультанты компании помогут выбрать товар и быстро оформить заказ. ]

			//- .page-sidebar
			//- 	h3.page-sidebar__title О бренде
			//- 	.sidebar
			//- 		.sidebar__col
			//- 			.sidebar__title Изготовитель:
			//- 			p
			//- 		.sidebar__col
			//- 			.sidebar__title Адрес производителя:
			//- 			p
			//- 		.sidebar__col
			//- 			.sidebar__title Год основания:
			//- 			p
			//- 		.sidebar__col
			//- 			.sidebar__title Год выхода в России:
			//- 			p