extends ../page.pug

append config
	- title = 'Happy Elephant | Beautyforce.ru'
	- h1 = 'Happy Elephant'
	- desc = 'Бренд Happy Elephant выпускает японская компания Saraya, основанная в середине прошлого столетия. Концепция производителей заключается в выпуске экологически безопасной продукции.'
	-	image	=	'headers/brands/placeholder'

block content
	.container
		.breadcrumbs
			ul.breadcrumbs__list
				li.breadcrumbs__item
					a.breadcrumbs__link(href="/") Главная
				li.breadcrumbs__item
					a.breadcrumbs__link(href="brands.html") Бренды
				li.breadcrumbs__item Happy Elephant
		.page
			.page__content
				h2.page__title Happy Elephant
				main.main

					p Бренд Happy Elephant выпускает японская компания Saraya, основанная в середине прошлого столетия. Концепция производителей заключается в выпуске экологически безопасной продукции, которая позволит получить ощутимый результат.

					h3 Ассортимент

					p #[strong Happy Elephant – это эффективные моющие средства для уборки дома. Под японской торговой маркой встречаются такие средства:]

					ul.page-list
						li.page-list__item Стиральные порошки
						li.page-list__item Жидкости для мытья посуды
						li.page-list__item Кондиционеры для белья
						li.page-list__item Чистящие порошки и др.

					p Производители руководствуются заботой о здоровье человека и окружающей природе. В состав средств не включаются синтетические вещества, отбеливатели, красители. В качестве ингредиентов применяются:

					ul.page-list
						li.page-list__item Пальмовое масло
						li.page-list__item Экстракты лекарственных трав
						li.page-list__item Масло лаванды и чайного дерева
						li.page-list__item Кокосовое масло и др.

					p Благодаря натуральному составу средства не наносят вред здоровью человека, а их применение дает хорошие результаты. Продукция торговой марки разлагается в воде, не наносит вред окружающей среде. Использование чистящих средств обеспечивает чистоту и гигиеничность поверхностей. Средства соответствуют стандартам для применения в детских и медицинских учреждениях.

					h3 Особенности продукции

					p #[strong Для торговой марки Happy Elephant характерно:]

					ul.page-list
						li.page-list__item Удобная упаковка
						li.page-list__item Доступная цена
						li.page-list__item Высокие показатели эффективности
						li.page-list__item Гипоаллергенность
						li.page-list__item Экологическая безопасность

					p При производстве продукции не используются химические соединения. Средства отличаются натуральными ингредиентами и уникальными формулами, которые обеспечивают хорошие результаты при уборке. Использование порошков и кондиционеров для белья удаляет загрязнения, восстанавливает цвет, структуру. Продукция не вызывает аллергических реакций, подходит для стирки детских вещей. Порошки применяются для различных видов ткани, не влияют на ее структуру.

					p Гели для мытья посуды обладают приятным запахом. Они не остаются на поверхности, легко смываются водой, могут использоваться для мытья овощей и фруктов. Гели не содержат искусственных красителей и ароматизаторов.

					p #[strong Компания «Бьюти Форс» - это официальный дилер Happy Elephant в России. Мы налаживаем пути доставки товаров в любой регион страны. Сотрудники компании помогают в выборе товаров, знакомят с их особенностями. Преимущества работы с «Бьюти Форс» уже смогли оценить компании, реализующие качественную японскую косметику.]

			//- .page-sidebar
			//- 	h3.page-sidebar__title О бренде
			//- 	.sidebar
			//- 		.sidebar__col
			//- 			.sidebar__title Изготовитель:
			//- 			p
			//- 		.sidebar__col
			//- 			.sidebar__title Адрес производителя:
			//- 			p
			//- 		.sidebar__col
			//- 			.sidebar__title Год основания:
			//- 			p
			//- 		.sidebar__col
			//- 			.sidebar__title Год выхода в России:
			//- 			p