extends ../template.pug

append config
	- title = 'Главная страница'
	- desc = 'Описание главной страницы'

block content
	.container
		.slider
			.slider__item
				img.slider__img(src="https://picsum.photos/id/867/1240/450?random=1")
			.slider__item
				img.slider__img(src="https://picsum.photos/id/868/1240/450?random=1")
			.slider__item
				img.slider__img(src="https://picsum.photos/id/869/1240/450?random=1")