extends ../main.pug

append config
	- title = 'Beauty Force | Официальный дистрибьютор косметики'
	- desc = 'Дистрибьюторская компания Beauty Force была основана в 2010 году. Мы следим за тенденциями развития рынка косметики и выбираем лучшие бренды. За время своей работы мы приобрели надежных партнеров по всей России.'

block content
	section.section.hero
		.container
			.slider
				.slider__item
					a.slider__link(href="dr-gloderm.html")
						picture
							source(type="image/webp" srcset="img/banner-01.webp")
							source(type="image/jpeg" srcset="img/banner-01.jpg")
							img(src="img/banner-01.jpg" alt="banner")
				.slider__item
					a.slider__link(href="dr-gloderm.html")
						picture
							source(type="image/webp" srcset="img/banner-02.webp")
							source(type="image/jpeg" srcset="img/banner-02.jpg")
							img(src="img/banner-02.jpg" alt="banner")
				.slider__item
					a.slider__link(href="dr-gloderm.html")
						picture
							source(type="image/webp" srcset="img/banner-03.webp")
							source(type="image/jpeg" srcset="img/banner-03.jpg")
							img(src="img/banner-03.jpg" alt="banner")

	section.section.about
		.container
			h2.title Дистрибьютор косметики
			p Дистрибьюторская компания Beauty Force была основана в 2010 году. Мы следим за тенденциями развития рынка косметики и выбираем лучшие бренды. За время своей работы мы приобрели надежных партнеров по всей России.
			p Безусловно, основная миссия нашей компании — радовать замечательной косметикой, любимыми брендами клиентов и быть надежным партнером. Мы постоянно работаем над повышением профессионализма наших сотрудников и строим команду.
			p На сегодняшний день в портфель компании входят более 30 брендов декоративной косметики и средства по уходу за лицом, волосами, телом и аксессуары из США, Европы, Южной Кореи. У нас есть бренды для любого сегмента рынка — масс-маркет, средний сегмент, премиальный и фармацевтический.

	section.section
		.container
				+grid('brands-grid')
				a.link.link_right(href="brands.html") Все бренды

	section.section.instagram
		.container
			h2.title Мы в Instagram
			.block-instagram
				.my-instashow