extends ../main.pug

append config
	- title = 'Beauty Force | Официальный дистрибьютор косметики'
	- desc = 'Дистрибьюторская компания Beauty Force была основана в 2010 году. Мы следим за тенденциями развития рынка косметики и выбираем лучшие бренды. За время своей работы мы приобрели надежных партнеров по всей России.'

block content
	section.section.hero
		.container
			.slider
				.slider__item
					a.slider__link(href="dr-gloderm.html")
						picture
							source(type="image/webp" srcset="img/banner-01.webp")
							source(type="image/jpeg" srcset="img/banner-01.jpg")
							img(src="img/banner-01.jpg" alt="banner")
				.slider__item
					a.slider__link(href="cellmiin.html")
						picture
							source(type="image/webp" srcset="img/banner-02.webp")
							source(type="image/jpeg" srcset="img/banner-02.jpg")
							img(src="img/banner-02.jpg" alt="banner")
				.slider__item
					a.slider__link(href="https://beautyforce.store/" target="_blank")
						picture
							source(type="image/webp" srcset="img/banner-03.webp")
							source(type="image/jpeg" srcset="img/banner-03.jpg")
							img(src="img/banner-03.jpg" alt="banner")

	section.section.about.section_short
		.container
			h2.title Дистрибьютор косметики
			p Дистрибьюторская компания Beauty Force была основана в 2010 году. Мы следим за тенденциями развития рынка косметики и выбираем лучшие бренды. За время своей работы мы приобрели надежных партнеров по всей России.
			p Безусловно, основная миссия нашей компании — радовать замечательной косметикой, любимыми брендами клиентов и быть надежным партнером. Мы постоянно работаем над повышением профессионализма наших сотрудников и строим команду.
			p На сегодняшний день в портфель компании входят более 30 брендов декоративной косметики и средства по уходу за лицом, волосами, телом и аксессуары из США, Европы, Южной Кореи. У нас есть бренды для любого сегмента рынка — масс-маркет, средний сегмент, премиальный и фармацевтический.

	section.section.section_short
		.container
				.block-brands
					.block-brands__brands
						+grid('brands-grid')
						a.link.link_right(href="brands.html") Все бренды
					.block-brands__form
						h3.title Заявка на прайс-лист
						form.mainform#mainform
							label(class="mainform__label" for="company") Компания:
							input(class="mainform__input" type="text" id="company" name="company" required)
							label(class="mainform__label" for="contface") Контактное лицо:
							input(class="mainform__input" type="text" id="contface" name="contface" required)
							label(class="mainform__label" for="phone") Телефон:
							input(class="mainform__input" type="tel" id="phone" name="phone" required)
							label(class="mainform__label" for="email") Электронная почта:
							input(class="mainform__input" type="text" id="email" name="email" required)
							button(class="mainform__button" type="submit") Отправить

	section.section.section_short
		.container
			h2.title Мы в Instagram
			.instagram
				.instagram__content
					ul.instagram__list
						li.instagram__item
							a.instagram__link(href="https://www.instagram.com/p/CBIwA40DNv2/" target="_blank")
								.instagram__link-btn Перейти
								picture
									source(type="image/webp" srcset="img/instagram/instagram-01.webp")
									source(type="image/jpeg" srcset="img/instagram/instagram-01.jpg")
									img(src="img/instagram/instagram-01.jpg" alt="")
						li.instagram__item
							a.instagram__link(href="https://www.instagram.com/p/CBtH6ntH0sa/" target="_blank")
								.instagram__link-btn Перейти
								picture
									source(type="image/webp" srcset="img/instagram/instagram-02.webp")
									source(type="image/jpeg" srcset="img/instagram/instagram-02.jpg")
									img(src="img/instagram/instagram-02.jpg" alt="")
						li.instagram__item
							a.instagram__link(href="https://www.instagram.com/p/CBx8AWZHluX/" target="_blank")
								.instagram__link-btn Перейти
								picture
									source(type="image/webp" srcset="img/instagram/instagram-03.webp")
									source(type="image/jpeg" srcset="img/instagram/instagram-03.jpg")
									img(src="img/instagram/instagram-03.jpg" alt="")
						li.instagram__item
							a.instagram__link(href="https://www.instagram.com/p/CB5uw5UnGUU/" target="_blank")
								.instagram__link-btn Перейти
								picture
									source(type="image/webp" srcset="img/instagram/instagram-04.webp")
									source(type="image/jpeg" srcset="img/instagram/instagram-04.jpg")
									img(src="img/instagram/instagram-04.jpg" alt="")
						li.instagram__item
							a.instagram__link(href="https://www.instagram.com/p/CBnibUtDd4_/" target="_blank")
								.instagram__link-btn Перейти
								picture
									source(type="image/webp" srcset="img/instagram/instagram-05.webp")
									source(type="image/jpeg" srcset="img/instagram/instagram-05.jpg")
									img(src="img/instagram/instagram-05.jpg" alt="")
						li.instagram__item
							a.instagram__link(href="https://www.instagram.com/p/CCVu8ADHAhk/" target="_blank")
								.instagram__link-btn Перейти
								picture
									source(type="image/webp" srcset="img/instagram/instagram-06.webp")
									source(type="image/jpeg" srcset="img/instagram/instagram-06.jpg")
									img(src="img/instagram/instagram-06.jpg" alt="")
						li.instagram__item
							a.instagram__link(href="https://www.instagram.com/p/CAa2bPvDEWF/" target="_blank")
								.instagram__link-btn Перейти
								picture
									source(type="image/webp" srcset="img/instagram/instagram-07.webp")
									source(type="image/jpeg" srcset="img/instagram/instagram-07.jpg")
									img(src="img/instagram/instagram-07.jpg" alt="")
						li.instagram__item
							a.instagram__link(href="https://www.instagram.com/p/CADfmsqj8X1/" target="_blank")
								.instagram__link-btn Перейти
								picture
									source(type="image/webp" srcset="img/instagram/instagram-08.webp")
									source(type="image/jpeg" srcset="img/instagram/instagram-08.jpg")
									img(src="img/instagram/instagram-08.jpg" alt="")

	.modal
		.modal__content
			.modal__text Заявка отправлена
			.modal__subtext В ближайшее время наши менеджеры свяжутся с вами.
			button.modal__button#formbutton(type="submit") Вернуться

	script.
		document.querySelector('#formbutton').onclick = function() {
			document.querySelector('.modal').style.display = 'none';
		}