extends ../main.pug

append config
	- title = 'Главная страница'
	- desc = 'Описание главной страницы'

block content
	section.section.hero
		.container
			.slider
				.slider__item
					img.slider__img(src="img/banner-01.jpg" alt="banner")
				.slider__item
					img.slider__img(src="img/banner-02.jpg" alt="banner")
				.slider__item
					img.slider__img(src="img/banner-03.jpg" alt="banner")
	section.section.about
		.container
			h2.title Дистрибьютор косметики
			p Дистрибьюторская компания Beauty Force была основана в 2010 году. Мы следим за тенденциями развития рынка косметики и выбираем лучшие бренды. За время своей работы мы приобрели надежных партнеров по всей России.
			p Безусловно, основная миссия нашей компании — радовать замечательной косметикой, любимыми брендами клиентов и быть надежным партнером. Мы постоянно работаем над повышением профессионализма наших сотрудников и строим команду.
			p На сегодняшний день в портфель компании входят более 30 брендов декоративной косметики и средства по уходу за лицом, волосами, телом и аксессуары из США, Европы, Южной Кореи. У нас есть бренды для любого сегмента рынка — масс-маркет, средний сегмент, премиальный и фармацевтический.
	section.section.brands
		.container
				+grid('brands-grid')
				a.link(href="#") Все бренды
	section.section.news
		.container
			h2.title Новости