extends ../main.pug

append config
	- title = 'Главная страница'
	- desc = 'Описание главной страницы'

block content
	section.section.hero
		.container
			.slider
				.slider__item
					img.slider__img(src="img/banner-01.jpg" alt="banner")
				.slider__item
					img.slider__img(src="img/banner-02.jpg" alt="banner")
				.slider__item
					img.slider__img(src="img/banner-03.jpg" alt="banner")

	section.section.about
		.container
			h2.title Дистрибьютор косметики
			p Дистрибьюторская компания Beauty Force была основана в 2010 году. Мы следим за тенденциями развития рынка косметики и выбираем лучшие бренды. За время своей работы мы приобрели надежных партнеров по всей России.
			p Безусловно, основная миссия нашей компании — радовать замечательной косметикой, любимыми брендами клиентов и быть надежным партнером. Мы постоянно работаем над повышением профессионализма наших сотрудников и строим команду.
			p На сегодняшний день в портфель компании входят более 30 брендов декоративной косметики и средства по уходу за лицом, волосами, телом и аксессуары из США, Европы, Южной Кореи. У нас есть бренды для любого сегмента рынка — масс-маркет, средний сегмент, премиальный и фармацевтический.

	section.section
		.container
				+grid('brands-grid')
				a.link(href="brands.html") Все бренды

	section.section.news
		.container
			h2.title Новости
			.news__wrap
				.news__list
					.news__item
						img.news__img(src="img/news/new-01.jpg", alt="new")
						.news__text
							h3.news__title Dr.Gloderm: Новое поступление
							span.news__date 23/09/2019
							.news__desc
								p Все продукты DR.GLODERM разработаны при участии 54 врачей – дерматологов Южной Кореи*, одобрены и сертифицированы Сеульской Ассоциацией дерматологов. Завод – изготовитель имеет патент на ...
							a.link(href="#") Подробнее
					.news__item
						img.news__img(src="img/news/new-02.jpg", alt="new")
						.news__text
							h3.news__title 3W Clinic: Снижение цен!
							span.news__date 23/09/2019
							.news__desc
								p Ура! Мы рады Вам сообщить о снижении цен на продукцию 3W Clinic. Теперь вкусные десерты для кожи стали доступнее! Побалуйте себя и своих клиентов ароматной, питательной и качественной уходовой косметикой.
							a.link(href="#") Подробнее
					.news__item
						img.news__img(src="img/news/new-03.jpg", alt="new")
						.news__text
							h3.news__title Dr.Gloderm: Новое поступление
							span.news__date 23/09/2019
							.news__desc
								p Все продукты DR.GLODERM разработаны при участии 54 врачей – дерматологов Южной Кореи*, одобрены и сертифицированы Сеульской Ассоциацией дерматологов. Завод – изготовитель имеет патент на ...
							a.link(href="#") Подробнее