extends ../page.pug

append config
	- title = 'J:ON | Beautyforce.ru'
	- h1 = 'J:ON'
	- desc = 'Молодой корейский бренд J:ON известен тканевыми масками для кожи лица. Товары компании популярны как на родине, так и за ее пределами.'
	-	image	=	'headers/brands/placeholder.jpg'

block content
	.container
		.breadcrumbs
			ul.breadcrumbs__list
				li.breadcrumbs__item
					a.breadcrumbs__link(href="/") Главная
				li.breadcrumbs__item
					a.breadcrumbs__link(href="brands.html") Бренды
				li.breadcrumbs__item J:ON
		.page
			.page__content
				h2.page__title J:ON
				main.main

					p Молодой корейский бренд J:ON известен тканевыми масками для кожи лица. Товары компании популярны как на родине, так и за ее пределами. Косметика торговой марки сделана из натуральных ингредиентов, что исключает проявление аллергических реакций. Производители предлагают маски, позволяющие коже выглядеть гораздо лучше по разумной стоимости.

					h3 Особенности

					P Бренд J:ON – это косметические средства, направленные на решение следующих задач:

					ul.page-list
						li.page-list__item Противовозрастное действие, разглаживание морщин
						li.page-list__item Снятие воспалений, покраснений, выравнивание цвета лица
						li.page-list__item Лифтинг-эффект
						li.page-list__item Устранение синяков и отеков под глазами
						li.page-list__item Увлажнение и питание кожи
						li.page-list__item Уменьшение выделения сальных желез
						li.page-list__item Глубокое очищение и др.

					p #[strong Маски поставляются в удобных компактных упаковках. В их составе только натуральные ингредиенты, что говорит об их гипоаллергенности. Среди главных компонентов отмечают:]

					ul.page-list
						li.page-list__item Экстракт женьшеня
						li.page-list__item Альгиновую кислоту
						li.page-list__item Улиточный муцин
						li.page-list__item Морские водоросли
						li.page-list__item Экстракт чайного дерева
						li.page-list__item Коллаген и др.

					p Товары рекомендуются женщинам различного возраста. Они используются для очищения, питания, увлажнения, избавления от акне, морщин, пигментных пятен. Средства повышают тонус, оживляют кожу, придают ей свежий и здоровый вид.

					h3 Ассортимент

					p #[strong Среди тканевых и альгинатных масок J:ON отмечают:]

					ul.page-list
						li.page-list__item Anti-Aging с противовозрастным действием
						li.page-list__item Elastic & Recovery для повышения эластичности и упругости кожи
						li.page-list__item Cleansing & Pore Care для глубокого очищения пор
						li.page-list__item Bright & Improve, обладающую осветляющим действием, позволяющая выровнять тон лица, придать свежий вид
						li.page-list__item Anti-Acne & Sebum Control для лечения угревой сыпи и уменьшения пор и др

					p Средства удобны в использовании. Уже с первого применения можно заметить видимый визуальный результат. Маски содержат натуральные компоненты, что исключает появление аллергических реакций.

					p #[strong Компания «Бьюти Форс» - это официальный дилер J:ON, что позволяет говорить о разумных ценах и качестве представленной продукции. Все товары бренда имеют соответствующие лицензии и сертификаты. Сотрудничество с нами дает ряд преимуществ, от быстрой доставки до выбора удобного способа доставки. Косметика южнокорейского бренда – современные инновационные средства, позволяющие бороться с несовершенством кожи. Маски улучшают внешний вид, питают эпидермис, разглаживают морщины и снимают отеки.]

			//- .page-sidebar
			//- 	h3.page-sidebar__title О бренде
			//- 	.sidebar
			//- 		.sidebar__col
			//- 			.sidebar__title Изготовитель:
			//- 			p
			//- 		.sidebar__col
			//- 			.sidebar__title Адрес производителя:
			//- 			p
			//- 		.sidebar__col
			//- 			.sidebar__title Год основания:
			//- 			p
			//- 		.sidebar__col
			//- 			.sidebar__title Год выхода в России:
			//- 			p