extends ../page.pug

append config
	- title = 'Koelf | Beautyforce.ru'
	- h1 = 'Koelf'
	- desc = 'Koelf является брендом южнокорейского производителя NS Retail. Компания также выпускает косметику под торговой маркой Petitfee.'
	-	image	=	'headers/brands/placeholder.jpg'

block content
	.container
		.breadcrumbs
			ul.breadcrumbs__list
				li.breadcrumbs__item
					a.breadcrumbs__link(href="/") Главная
				li.breadcrumbs__item
					a.breadcrumbs__link(href="brands.html") Бренды
				li.breadcrumbs__item Koelf
		.page
			.page__content
				h2.page__title Koelf
				main.main

					p Koelf является брендом южнокорейского производителя NS Retail. Компания также выпускает косметику под торговой маркой Petitfee. История бренда началась в 2013 году. В настоящее время производители импортируют продукцию более, чем в 10 стран мира, среди которых Россия. Компания специализируется на выпуске средств для ухода за кожей.

					h3 Ассортимент

					p Название торговой марки переводится как «корейский эльф». Продукция выпускается в удобной упаковке. Бренд Koelf специализируется на выпуске гидрогелевых патчей для глаз. Под торговой маркой также представлены такие товары:

					ul.page-list
						li.page-list__item Маски для лица
						li.page-list__item Пилинг-бальзамы
						li.page-list__item Смягчающие крема для ног, рук
						li.page-list__item Тату-лайнеры для бровей

					p #[strong В составе средств только натуральные ингредиенты. Среди них отмечают:]

					ul.page-list
						li.page-list__item Масло ши
						li.page-list__item Пчелиное маточное молоко
						li.page-list__item Экстракт жемчуга, коллоидного золота
						li.page-list__item Выдержки из целебных растений и др.

					p Сочетание минералов, целебных трав, питательных веществ дает хороший результат уже после первого применения. Использование косметики придает коже свежий, отдохнувший вид. Она питает, насыщает поверхность полезными микроэлементами.

					p Самым узнаваемым товаром компании считаются #[strong патчи для области вокруг глаз]. Производитель предлагает пилинг-бальзамы для локтей и стоп. Под брендом выпускаются очищающие лосьоны, предназначенные для борьбы с проблемами кожи, акне. Средства способствуют снижению выделений секреции сальных желез.

					h3 Преимущества

					p Косметика #[strong Koelf] обладает такими достоинствами, как:

					ul.page-list
						li.page-list__item Натуральность
						li.page-list__item Безопасность
						li.page-list__item Широкий выбор
						li.page-list__item Воздействие на глубокие слои эпидермиса
						li.page-list__item Быстрое устранение недостатков кожи

					p Продукция компании предназначена для молодых девушек и женщин постарше. Патчи вокруг глаз избавляют от отеков, синяков, питают кожу. Корейский бренд предлагает средства для проблемных участков на руках и ногах. Все компоненты масок и кремов проходят тщательный контроль. Это обеспечивает безопасность и результативность их применения. Они не вызывают аллергических реакций, уменьшают покраснения и отечность кожи.

					p #[strong Компания «Бьюти Форс» - это официальный дилер Koelf, предлагающий выгодные условия сотрудничества. Менеджеры готовы дать подробную консультацию по выбору косметических средств. Вся продукция имеет сертификаты, что является гарантией качества товара от южнокорейского бренда.]

			//- .page-sidebar
			//- 	h3.page-sidebar__title О бренде
			//- 	.sidebar
			//- 		.sidebar__col
			//- 			.sidebar__title Изготовитель:
			//- 			p
			//- 		.sidebar__col
			//- 			.sidebar__title Адрес производителя:
			//- 			p
			//- 		.sidebar__col
			//- 			.sidebar__title Год основания:
			//- 			p
			//- 		.sidebar__col
			//- 			.sidebar__title Год выхода в России:
			//- 			p