extends ../page.pug

append config
	- title = 'L.SANIC | Beautyforce.ru'
	- h1 = 'L.SANIC'
	- desc = 'Корейский бренд L.SANIC относится к компании JT Co. Производители специализируются на выпуске косметики для ухода за кожей.'
	-	image	=	'headers/brands/placeholder'

block content
	.container
		.breadcrumbs
			ul.breadcrumbs__list
				li.breadcrumbs__item
					a.breadcrumbs__link(href="/") Главная
				li.breadcrumbs__item
					a.breadcrumbs__link(href="brands.html") Бренды
				li.breadcrumbs__item L.SANIC
		.page
			.page__content
				h2.page__title L.SANIC
				main.main

					p Корейский бренд L.SANIC относится к компании JT Co. Производители специализируются на выпуске косметики для ухода за кожей. Молодая компания стремится предложить потребителям инновационные и высокотехнологичные продукты.

					p Производители выпускают косметику, протестированную в собственной лаборатории. Все ингредиенты средств тщательно отобраны, отвечают международным требованиям к экологичности и безопасности.

					h3 Продукция L.SANIC

					p #[strong Бренд L.SANIC – это, прежде всего, гидрогелевые патчи для глаз. Южнокорейская компания предлагает продукты, в которые входят такие компоненты, как:]

					ul.page-list
						li.page-list__item Улиточный муцин
						li.page-list__item Коллаген
						li.page-list__item Гилауроновая кислота
						li.page-list__item Экстракт водорослей
						li.page-list__item Пептиды
						li.page-list__item Зеленый чай
						li.page-list__item Коллоидное золото

					p #[strong Использование косметики торговой марки позволяет решать следующие задачи:]

					ul.page-list
						li.page-list__item Лифтинг
						li.page-list__item Устранение морщин
						li.page-list__item Борьба с отеками, синяками под глазами
						li.page-list__item Избавление от пигментации
						li.page-list__item Борьба с избыточным выделением сальных желез
						li.page-list__item Питание, увлажнение эпидермиса

					p В 2019 году компания представила на рынке тканевые маски для лица. В их составе пептиды, бета-глюкан, другие активные вещества, питающие и насыщающие кожу. Они бережно воздействуют на кожу, не вызывают покраснений, аллергии.

					h3 Преимущества

					p Продукция L.SANIC имеет следующие преимущества:

					ul.page-list
						li.page-list__item Собственные инновационные разработки
						li.page-list__item Большой выбор косметики для разных типов кожи
						li.page-list__item Натуральность ингредиентов
						li.page-list__item Видимый результат после нескольких применений
						li.page-list__item Удобная упаковка и простота использования

					p Косметика рекомендуется для различного возраста. Она помогает бороться как с первыми морщинами, так и с серьезными возрастными изменениями. Активные компоненты средств проникают в глубокие слои эпидермиса, что обеспечивает быстрый и визуально заметный результат. Экстракты лекарственных растений успокаивают кожу, убирают покраснения, нормализуют цвет лица. Патчи и маски плотно прилегают к коже, не сползают во время движения. Средства выпускаются оптимального размера для покрытия проблемных зон.

					p #[strong Официальный дилер L.SANIC компания «Бьюти Форс» предлагает выгодное сотрудничество для реализации косметических средств. Доставка продукции осуществляется в любую точку России. Менеджеры «Бьюти Форс» дадут подробные разъяснения по всем вопросам, познакомят с ассортиментом товаров южнокорейской торговой марки, их особенностями.]

			//- .page-sidebar
			//- 	h3.page-sidebar__title О бренде
			//- 	.sidebar
			//- 		.sidebar__col
			//- 			.sidebar__title Изготовитель:
			//- 			p
			//- 		.sidebar__col
			//- 			.sidebar__title Адрес производителя:
			//- 			p
			//- 		.sidebar__col
			//- 			.sidebar__title Год основания:
			//- 			p
			//- 		.sidebar__col
			//- 			.sidebar__title Год выхода в России:
			//- 			p