extends ../page.pug

append config
	- title = 'Lakanto | Beautyforce.ru'
	- h1 = 'Lakanto'
	- desc = 'Бренд Lakanto выпускает японская компания Saraya, история которой насчитывает несколько десятилетий. Производители выпускают только натуральные экологически чистые продукты.'
	-	image	=	'headers/brands/placeholder.jpg'

block content
	.container
		.breadcrumbs
			ul.breadcrumbs__list
				li.breadcrumbs__item
					a.breadcrumbs__link(href="/") Главная
				li.breadcrumbs__item
					a.breadcrumbs__link(href="brands.html") Бренды
				li.breadcrumbs__item Lakanto
		.page
			.page__content
				h2.page__title Lakanto
				main.main

					p Бренд Lakanto выпускает японская компания Saraya, история которой насчитывает несколько десятилетий. Производители выпускают только натуральные экологически чистые продукты. Они используют современное оборудование и инновационные разработки в сочетании с восточными традициями и компонентами растительного происхождения. В результате получаются качественные продукты, что смогли оценить миллионы потребителей во всем мире.

					h3 Ассортимент

					p Под торговой маркой выпускается сахарозаменитель из ингредиентов растительного происхождения. Продукт рекомендуется при диабете и других заболеваниях, когда необходимо ограничить потребление сахара. Его часто выбирают женщины и мужчины, следящие за своим весом.

					p В сахарозаменитель Lakanto включены такие ингредиенты, как эритритол и экстракт экзотического фрукта. Растение Луо Хан Гуо растет в южной части Китая. Его плоды отличаются ярким вкусом и сладостью, поэтому он нередко используется в качестве натурального подсластителя.

					p Производители выпускают товары в форме гранул, порошка, кубиков. Разные объемы позволят приобрести изделие в том количестве, которое требуется. Надежные материалы упаковки защищают продукцию при транспортировке и длительном хранении.

					h3 Особенности продукции

					p #[strong Торговая марка Lakanto характеризуется:]

					ul.page-list
						li.page-list__item Безопасностью
						li.page-list__item Хорошими вкусовыми качествами
						li.page-list__item Отсутствием синтетических добавок, ГМО и красителей
						li.page-list__item Удобной формой выпуска

					p Сахарозаменитель японского бренда не содержит калорий. Он рекомендуется людям, ведущим здоровый образ жизни и следящим за собственным весом. Продукт не наносит вреда зубной эмали, в отличие от обычного сахара. Он не повышает уровень инсулина и глюкозы, поэтому рекомендуется диабетикам.

					p При этом заменитель сохраняет вкусовые качества сахара. Средство может использоваться для приготовления различных блюд. Он не изменяет своих свойств даже при нагревании и кипении. Сахарозаменитель применяется для выпечки, горячих напитков, консервирования и др.

					p #[strong Официальный дилер Lakanto «Бьюти Форс» предлагает выгодное сотрудничество оптовым и розничным сетям. Развитая логистическая сеть позволяет организовывать доставку продукции торговой марки в любой регион России. Менеджеры компании окажут всестороннюю поддержку на любом этапе сотрудничества.]

			//- .page-sidebar
			//- 	h3.page-sidebar__title О бренде
			//- 	.sidebar
			//- 		.sidebar__col
			//- 			.sidebar__title Изготовитель:
			//- 			p
			//- 		.sidebar__col
			//- 			.sidebar__title Адрес производителя:
			//- 			p
			//- 		.sidebar__col
			//- 			.sidebar__title Год основания:
			//- 			p
			//- 		.sidebar__col
			//- 			.sidebar__title Год выхода в России:
			//- 			p