extends ../page.pug

append config
	- title = 'Londa | Beautyforce.ru'
	- h1 = 'Londa'
	- desc = 'Немецкий бренд Londa появился в середине 20 столетия. Компания выпускает средства для ухода за волосами. Изначально торговая марка входила в состав Wella AG.'
	-	image	=	'headers/brands/placeholder'

block content
	.container
		.breadcrumbs
			ul.breadcrumbs__list
				li.breadcrumbs__item
					a.breadcrumbs__link(href="/") Главная
				li.breadcrumbs__item
					a.breadcrumbs__link(href="brands.html") Бренды
				li.breadcrumbs__item Londa
		.page
			.page__content
				h2.page__title Londa
				main.main

					p Немецкий бренд Londa появился в середине 20 столетия. Компания выпускает средства для ухода за волосами. Изначально торговая марка входила в состав Wella AG.

					p В 20 веке компания стала структурным подразделением крупного производителя косметики «Procter & Gamble». Товары «Лонда» заслужили признание покупателей, поставляются в 25 стран мира.

					h3 Продукция Londa: особенности

					p #[strong Под торговой маркой Londa выпускается косметика для волос для решения задач:]

					ul.page-list
						li.page-list__item Уход
						li.page-list__item Окрашивание
						li.page-list__item Укладка и стайлинг
						li.page-list__item Химическая завивка

					p Для ухода выпускается более десяти линеек товаров, которые предназначены для различных типов волос. В составе косметики натуральные ингредиенты, обеспечивающие хороший результат даже после первого применения. Разработчики предлагают лечебные сыворотки и маски на основе экстрактов лекарственных растений.

					p #[strong Под торговой маркой выпускают:]

					ul.page-list
						li.page-list__item Шампуни
						li.page-list__item Муссы
						li.page-list__item Бальзамы
						li.page-list__item Маски
						li.page-list__item Кондиционеры
						li.page-list__item Эмульсии
						li.page-list__item Краску для ресниц и бровей
						li.page-list__item Масла и др.

					p Краски Londa отличаются стойкостью и насыщенным цветом. Они просты в использовании даже в домашних условиях. Краски не только позволяют получить нужный оттенок, но придают волосам блеск, улучшают структуру. Косметика бренда популярна как среди как женщин, так и среди мужчин.

					p Средства для стайлинга направлены на придание прическе объема, формы, фиксации локонов. Бренд предлагает косметику для волос для мужчин с инновационной формулой. Продукция используется в салонах красоты и домашних условиях. Производители разработали программу обучения, проводят мастер-классы и семинары среди стилистов, активно развиваются в профессиональном направлении.

					h3 Преимущества

					p #[strong Бренд Londa предлагает качественную косметику, достоинства которой в следующем:]

					ul.page-list
						li.page-list__item Инновационные формулы
						li.page-list__item Безопасные компоненты
						li.page-list__item Растительные экстракты
						li.page-list__item Стойкий результат на долгое время
						li.page-list__item Отсутствие аллергических реакций
						li.page-list__item Большой выбор

					p #[strong Продукция компании популярна более, чем в 20 странах. Официальный дилер Londa «Бьюти Форс» помогает приобрести товары торговой марки по доступной цене. Консультанты компании готовы подробно рассказать о видах продукции, ее особенностях. Мы доставляем заказы в любую область России. Наших партнеров ожидает индивидуальный подход и выгодные условия сотрудничества.]

			//- .page-sidebar
			//- 	h3.page-sidebar__title О бренде
			//- 	.sidebar
			//- 		.sidebar__col
			//- 			.sidebar__title Изготовитель:
			//- 			p
			//- 		.sidebar__col
			//- 			.sidebar__title Адрес производителя:
			//- 			p
			//- 		.sidebar__col
			//- 			.sidebar__title Год основания:
			//- 			p
			//- 		.sidebar__col
			//- 			.sidebar__title Год выхода в России:
			//- 			p