extends ../page.pug

append config
	- title = 'LV | Beautyforce.ru'
	- h1 = 'LV'
	- desc = 'Линейка LV отличается натуральным составом и гипоаллергенностью. Продукция компании не вызывает раздражений, может использоваться даже людьми с чувствительной кожей, склонной к аллергии.'
	-	image	=	'headers/brands/placeholder'

block content
	.container
		.breadcrumbs
			ul.breadcrumbs__list
				li.breadcrumbs__item
					a.breadcrumbs__link(href="/") Главная
				li.breadcrumbs__item
					a.breadcrumbs__link(href="brands.html") Бренды
				li.breadcrumbs__item LV
		.page
			.page__content
				h2.page__title LV
				main.main

					p Компания Ltd Berner была основана в конце 19 века в Финляндии для поставки продуктов. С годами сфера ее деятельности значительно расширилась. Компания занялась производством косметики, бытовой химии.

					p Линейка LV отличается натуральным составом и гипоаллергенностью. Продукция компании не вызывает раздражений, может использоваться даже людьми с чувствительной кожей, склонной к аллергии.

					h3 Обзор товаров

					p #[strong Под брендом LV выпускаются косметические средства и бытовая химия. В продаже встречаются:]

					ul.page-list
						li.page-list__item Концентраты и порошки для стирки
						li.page-list__item Гели для мытья посуды
						li.page-list__item Шампуни и бальзамы
						li.page-list__item Гигиенические средства
						li.page-list__item Жидкое мыло и др.

					p В продукции отсутствуют красители, отдушки, фосфаты. Гели и порошки для стирки могут использоваться и для детских вещей, благодаря натуральному составу. Жидкости для мытья посуды подходят для очищения овощей и фруктов, так как безвредны. При этом уникальная формула в основе средств гарантирует хороший результат.

					p Торговая марка выпускает крема для тела, рук, лица. В продукцию бренда включаются гели для души, мыло и пр. Товары предназначены для бережного ухода за кожей.

					h3 Преимущества

					p #[strong Бренд LV предлагает продукцию со следующими характеристиками:]

					ul.page-list
						li.page-list__item Безопасность
						li.page-list__item Экологичность
						li.page-list__item Натуральный состав
						li.page-list__item Универсальность
						li.page-list__item Практичность

					p Упаковка товаров изготавливается из биоразлагаемых материалов. Продукция экологически чистая и безопасная. Ее состав предусмотрен таким образом, чтобы она растворялась в воде, не причиняя вред окружающей среде.

					p Бытовая химия практически не имеет запаха, безопасна при взаимодействии с кожей. Ее могут использовать даже хозяйки, склонные к аллергическим реакциям. Производители придерживаются мнения о том, что их товары должны быть экологически чистыми и безопасными. Применение средств позволяет получить хороший результат как при уходе за кожей или волосами, так и в уборке. Натуральные компоненты очищают поверхности, хорошо смываются водой и не наносят вреда здоровью человека.

					p #[strong Официальный дилер LV предлагает выгодное сотрудничество для реализации европейской косметики. Мы работаем с крупными логистическими компаниями, которые обеспечат быструю и качественную доставку в любой регион России. Представители «Бьюти Форс» ответят на все возникшие вопросы, связанные с заказом.]

			//- .page-sidebar
			//- 	h3.page-sidebar__title О бренде
			//- 	.sidebar
			//- 		.sidebar__col
			//- 			.sidebar__title Изготовитель:
			//- 			p
			//- 		.sidebar__col
			//- 			.sidebar__title Адрес производителя:
			//- 			p
			//- 		.sidebar__col
			//- 			.sidebar__title Год основания:
			//- 			p
			//- 		.sidebar__col
			//- 			.sidebar__title Год выхода в России:
			//- 			p