extends ../page.pug

append config
	- title = 'MAM | Beautyforce.ru'
	- h1 = 'MAM'
	- desc = 'Бренд MAM появился в 1976 году. У истоков его основания находился австрийский инженер-технолог Петер Рериг. Концепция компании заключается в производстве функциональных, безопасных, эстетичных аксессуаров для детей.'
	-	image	=	'headers/brands/placeholder.jpg'

block content
	.container
		.breadcrumbs
			ul.breadcrumbs__list
				li.breadcrumbs__item
					a.breadcrumbs__link(href="/") Главная
				li.breadcrumbs__item
					a.breadcrumbs__link(href="brands.html") Бренды
				li.breadcrumbs__item MAM
		.page
			.page__content
				h2.page__title MAM
				main.main

					p Бренд MAM появился в 1976 году. У истоков его основания находился австрийский инженер-технолог Петер Рериг. Концепция компании заключается в производстве функциональных, безопасных, эстетичных аксессуаров для детей.

					p Первым продуктом производителя были соски-пустышки, которые пользовались высоким спросом среди молодых родителей. Спустя 40 лет бренд является признанным лидером по выпуску инновационных товаров для мам и детей.

					h3 Особенности продукции

					p #[strong Компания MAM разрабатывает продукцию с учетом мнения и нужд родителей и детей. Ее качество тщательно контролируется. Среди основных достоинств отмечают:]

					ul.page-list
						li.page-list__item Экологически чистое производство
						li.page-list__item Функциональность
						li.page-list__item Соответствие европейским стандартам качества
						li.page-list__item Прочность и безопасность изделий даже для новорожденных

					p Производители следят за экологической чистотой каждого этапа производства. Для изготовления продукции берется качественное натуральное сырье, безвредное и не вызывающее аллергических реакций.

					p Компания разрабатывает инновационные дизайны продукции, которые определяет ее функциональность. Производители имеют более 60 патентов на изобретения. МАМ награждено различными премиями, что подтверждает качество товаров. Изготовители консультируются с ведущими в своей области педиатрами и акушерами, учитывают последние открытия, применяют инновационные технологии.

					p Заводы компании располагаются в Швейцарии, Таиланде, Венгрии. Бренд пользуется популярностью более, чем в 60 странах мира. Товары реализуются в Европе, Америке, Бразилии, некоторых странах Азии.

					h3 Товары МАМ: Ассортимент

					p #[strong Бренд MAM представляет следующие категории:]

					ul.page-list
						li.page-list__item Соски и пустышки
						li.page-list__item Посуда для детей
						li.page-list__item Прорезыватели
						li.page-list__item Средства гигиены
						li.page-list__item Бутылочки и др.

					p Детские товары полностью отвечают современным стандартам и требованиям безопасности. Все материалы тщательно тестируются в лабораторных условиях перед применением в производстве. Изделия выпускаются из прочного сырья, устойчивого к механическим повреждениям.

					p #[strong Официальный дилер MAM «Бьюти Форс» предлагает выгодное сотрудничество оптовым и розничным магазинам. Представители компании ответят на вопросы об особенностях товаров, окажут помощь в выборе отдельных категорий. Развитая логистическая сеть позволяет доставить продукцию в любую точку России.]

			//- .page-sidebar
			//- 	h3.page-sidebar__title О бренде
			//- 	.sidebar
			//- 		.sidebar__col
			//- 			.sidebar__title Изготовитель:
			//- 			p
			//- 		.sidebar__col
			//- 			.sidebar__title Адрес производителя:
			//- 			p
			//- 		.sidebar__col
			//- 			.sidebar__title Год основания:
			//- 			p
			//- 		.sidebar__col
			//- 			.sidebar__title Год выхода в России:
			//- 			p