extends ../page.pug

append config
	- title = 'Маркетинг | Beautyforce.ru'
	- h1 = 'Маркетинг'
	- desc = 'Специально назначенный менеджер по маркетингу, который будет ответственный за разработку и позиционирование бренда в России. Менеджер будет отвечать за популяризацию среди блогеров, работающих с отзывами клиентов.'
	-	image	=	'headers/page-header-01.jpg'
	- currentURL = 'marketing.html'

block content
	.container
		.breadcrumbs
			ul.breadcrumbs__list
				li.breadcrumbs__item
					a.breadcrumbs__link(href="/") Главная
				li.breadcrumbs__item Маркетинг
		main.main
			h2.page__title Маркетинг
			p В данном разделе мы хотим познакомить вас с маркетинговой деятельностью, которую мы осуществляем с брендами в нашем портфолио.
			p Мы отобрали самые результативные инструменты продвижения, опираясь на свой многолетний опыт дистрибутирования брендов, и регулярно применяем их в работе.
			p
				b Бренд-маркетинг
				|  — комплекс маркетинговых мероприятий, который выделит продукт среди конкурентов, и поспособствует его продвижению на рынке.
			p
				b В работу над брендом входит:
			h3.page-content__heading Крауд-маркетинг
			p Инструмент продвижения в Интернете, способствующий увеличению лояльности текущего и потенциального клиентов за счет положительных отзывов на таких площадках, как: сайты-отзовики, форумы, блоги, сайты вопросов-ответов, социальные сети.
			h3.page-content__heading Контент-маркетинг
			p Инструмент, доносящий до клиента информацию о бренде. Отличается от прямой рекламы тем, что не имеет прямого призыва к действию (покупка, заказ). На основе полученной информации, клиент сам принимает решение о покупке. К инструментам контент-маркетинга относятся: блоги, обзоры, видео и тд. в социальных сетях, электронных рассылках, сайтах. Целью данного инструмента является пробуждение желания у клиента купить продукт.
			h3.page-content__heading Social Media Marketing (SMM)
			p Продвижение брендов в социальных сетях. Целью является повышение узнаваемости бренда, поддержание репутации, постоянная коммуникация с потенциальными и текущими клиентами.
			h3.page-content__heading Промо маркетинг
			p Инструмент, направленный на увеличение спроса на товар, путем организации и проведения скидочных акций и распродаж.

			.baguetteBoxThree
				a.baguetteBoxThree__link(href="img/gallery/marketing/01.jpg" data-caption="Image caption")
					img.baguetteBoxThree__img(src="img/gallery/marketing/01t.jpg", alt="Маркетинг")
				a.baguetteBoxThree__link(href="img/gallery/marketing/02.jpg" data-caption="Image caption")
					img.baguetteBoxThree__img(src="img/gallery/marketing/02t.jpg", alt="Маркетинг")
				a.baguetteBoxThree__link(href="img/gallery/marketing/03.jpg" data-caption="Image caption")
					img.baguetteBoxThree__img(src="img/gallery/marketing/03t.jpg", alt="Маркетинг")
				a.baguetteBoxThree__link(href="img/gallery/marketing/04.jpg" data-caption="Image caption")
					img.baguetteBoxThree__img(src="img/gallery/marketing/04t.jpg", alt="Маркетинг")