extends ../page.pug

append config
	- title = 'Маркетинг | Beautyforce.ru'
	- h1 = 'Маркетинг'
	- desc = 'Специально назначенный менеджер по маркетингу, который будет ответственный за разработку и позиционирование бренда в России. Менеджер будет отвечать за популяризацию среди блогеров, работающих с отзывами клиентов.'
	-	image	=	'headers/page-header-01.jpg'
	- currentURL = 'marketing.html'

block content
	.container
		.breadcrumbs
			ul.breadcrumbs__list
				li.breadcrumbs__item
					a.breadcrumbs__link(href="/") Главная
				li.breadcrumbs__item Маркетинг
		main.main
			h2.page__title Маркетинг
			p Специально назначенный менеджер по маркетингу, который будет ответственный за разработку и позиционирование бренда в России. Менеджер будет отвечать за популяризацию среди блогеров, работающих с отзывами клиентов.