extends ../page.pug

append config
	- title = 'Новости | Beautyforce.ru'
	- h1 = 'Новости'
	- desc = 'Все продукты DR.GLODERM разработаны при участии 54 врачей – дерматологов Южной Кореи*, одобрены и сертифицированы Сеульской Ассоциацией дерматологов.'
	-	image	=	'brands.jpg'

block content
	.container
		.breadcrumbs
			ul.breadcrumbs__list
				li.breadcrumbs__item
					a.breadcrumbs__link(href="/") Главная
				li.breadcrumbs__item Новости
		main.main
			h2.title Новости
			p Наши новости
			.page-news
				.page-news__list
					.page-news__item
						.page-news__pic
							img.page-news__img(src="img/news/new-01.jpg", alt="news")
						.page-news__desc
							h3.page-news__title Dr.Gloderm: Новое поступление
							.page-news__text
								p Все продукты DR.GLODERM разработаны при участии 54 врачей – дерматологов Южной Кореи*, одобрены и сертифицированы Сеульской Ассоциацией дерматологов. Завод – изготовитель имеет патент на ...
							a.page-news__link(href="#") Читать полностью
					.page-news__item
						.page-news__pic
							img.page-news__img(src="img/news/new-02.jpg", alt="news")
						.page-news__desc
							h3.page-news__title 3W Clinic: Снижение цен!
							.page-news__text
								p Ура! Мы рады Вам сообщить о снижении цен на продукцию 3W Clinic. Теперь вкусные десерты для кожи стали доступнее! Побалуйте себя и своих клиентов ароматной, питательной и качественной уходовой косметикой.
							a.page-news__link(href="#") Читать полностью
					.page-news__item
						.page-news__pic
							img.page-news__img(src="img/news/new-03.jpg", alt="news")
						.page-news__desc
							h3.page-news__title Новый бренд Elizavecca
							.page-news__text
								p Elizavecca – молодой южнокорейский бренд, который, тем не менее, уже отлично себя зарекомендовал в косметической индустрии во всех странах Азии, а теперь и у нас.
							a.page-news__link(href="#") Читать полностью
