extends ../page.pug

append config
	- title = 'Nioxin | Beautyforce.ru'
	- h1 = 'Nioxin'
	- desc = 'История бренда Nioxin началась в 1987 году, когда его основательница Ева Грехам открыла первую лабораторию. Целью исследований было найти причину выпадения волос и остановить их потерю.'
	-	image	=	'headers/brands/placeholder.jpg'

block content
	.container
		.breadcrumbs
			ul.breadcrumbs__list
				li.breadcrumbs__item
					a.breadcrumbs__link(href="/") Главная
				li.breadcrumbs__item
					a.breadcrumbs__link(href="brands.html") Бренды
				li.breadcrumbs__item Nioxin
		.page
			.page__content
				h2.page__title Nioxin
				main.main

					p История бренда Nioxin началась в 1987 году, когда его основательница Ева Грехам открыла первую лабораторию. Целью исследований было найти причину выпадения волос и остановить их потерю. В настоящее время бренд выпускает средства для восстановления локонов как у женщин, так и у мужчин.

					h3 Особенности продукции Nioxin

					p Косметика Nioxin – это сочетание последних достижений в области косметологии с использованием природных ингредиентов. В качестве основы продукции выступают такие компоненты, как:

					ul.page-list
						li.page-list__item Витамины
						li.page-list__item Экстракт белого чая
						li.page-list__item Перечная мята
						li.page-list__item Экстракт шелка и др.

					p Производители разработали 6 систем, предназначенных для поддержания здоровья волос и остановки их выпадения. Средства подбираются индивидуально.

					p #[strong  Под торговой маркой выпускают продукты для стайлинга, содержащие полезные вещества для укрепления локонов и придания им блеска. Nioxin предлагает такие виды косметики для волос:]

					ul.page-list
						li.page-list__item Шампуни
						li.page-list__item Бальзамы
						li.page-list__item Сыворотки
						li.page-list__item Эликсиры
						li.page-list__item Маски и др.

					p Особенностью косметики считается то, что это единственный салонный бренд, предлагающий эффективные средства от выпадения волос, укрепления их структуры, повышение плотности. По статистике около трети людей страдают ранним облысением. Это связано со стрессами, постоянными перегрузками, влиянием негативных факторов на организм.

					p Косметика «Ниоксин» может использоваться как для профилактики, так и при выраженной проблеме. Она снизит негативное воздействие на кожу головы, поможет сохранить красивые здоровые волосы. Более 30 лет исследований позволили вывести уникальный состав средств, дающих хороший результат. Торговая марка выпускает продукты для натуральных и окрашенных волос.  Чтобы получить хорошие результаты в короткие сроки, рекомендуется комплексное применение средств.

					h3 Преимущества

					p #[strong Бренд Nioxin характеризуется такими преимуществами:]

					ul.page-list
						li.page-list__item Простота применения
						li.page-list__item Снижение потери волос
						li.page-list__item Интенсивный уход
						li.page-list__item Отсутствие аллергических реакций
						li.page-list__item Натуральные ингредиенты

					p #[strong Официальный дилер Nioxin в России компания «Бьюти Форс» предлагает выгодное сотрудничество для приобретения продукции торговой марки. У нас вы найдете большой выбор средств бренда для ухода в салонах красоты и применения в домашних условиях. Мы работаем с крупными логистическими компаниями, которые обеспечат быструю и качественную доставку в любой регион России.]

			//- .page-sidebar
			//- 	h3.page-sidebar__title О бренде
			//- 	.sidebar
			//- 		.sidebar__col
			//- 			.sidebar__title Изготовитель:
			//- 			p
			//- 		.sidebar__col
			//- 			.sidebar__title Адрес производителя:
			//- 			p
			//- 		.sidebar__col
			//- 			.sidebar__title Год основания:
			//- 			p
			//- 		.sidebar__col
			//- 			.sidebar__title Год выхода в России:
			//- 			p