extends ../page.pug

append config
	- title = 'Oattbe | Beautyforce.ru'
	- h1 = 'Oattbe'
	- desc = 'Бренд Oattbe выпускает южнокорейская компания MH Global. Производители выпускают продукцию хорошего качества для ухода за кожей. В основе работы компании – поиск инновационных решений в изготовлении косметики.'
	-	image	=	'headers/brands/placeholder.jpg'

block content
	.container
		.breadcrumbs
			ul.breadcrumbs__list
				li.breadcrumbs__item
					a.breadcrumbs__link(href="/") Главная
				li.breadcrumbs__item
					a.breadcrumbs__link(href="brands.html") Бренды
				li.breadcrumbs__item Oattbe
		.page
			.page__content
				h2.page__title Oattbe
				main.main

					p Бренд Oattbe выпускает южнокорейская компания MH Global. Производители выпускают продукцию хорошего качества для ухода за кожей. В основе работы компании – поиск инновационных решений в изготовлении косметики.

					h3 Продукция Oattbe: особенности

					p Торговая марка Oattbe получила свое название от соединения двух английских слов, овес и бета-глаюкан, не просто так. Соединение этих веществ легло в основу выпускаемой косметики. Компоненты характеризуются следующими свойствами:

					ul.page-list
						li.page-list__item Овес используется как антиоксидант. Он выводит вредные вещества, защищает от негативных воздействий окружающей среды. Овес оказывает успокаивающее действие, снимает зуд и убирает покраснения.
						li.page-list__item Бета-глюкан – вещество, питающее и увлажняющее кожу. Оно позволяет улучшить состояние эпидермиса, оказывает омолаживающий эффект.

					p Корейский производитель выпускает косметику:

					ul.page-list
						li.page-list__item Кремы для лица
						li.page-list__item Сыворотки
						li.page-list__item Лосьоны
						li.page-list__item Маски

					p Под торговой маркой встречаются крема для регулярного ухода, увлажняющие, солнцезащитные, осветляющие. В их состав включены растительные ингредиенты, дающие визуально заметный результат уже после первых применений.

					p Увлажняющие сыворотки способствуют улучшению состояния кожи, обладают омолаживающим эффектом. Они повышают защитные свойства кожи, разглаживают небольшие морщинки. Лосьоны и маски очищают, предотвращают потери влаги и сохраняют естественный иммунитет.

					h3 Преимущества

					p #[strong Oattbe характеризуется такими достоинствами, как:]

					ul.page-list
						li.page-list__item Демократичная стоимость
						li.page-list__item Удобная упаковка
						li.page-list__item Гипоаллергенность
						li.page-list__item Универсальность

					p Маски и крема подходят для различного типа кожи. Они освежают, подтягивают контуры и уменьшают морщины. Представительницы прекрасного пола отмечают видимый результат даже после первого применения. Средства снимают покраснения и отеки, уменьшают дефекты кожи. Регулярное использование косметики южнокорейского бренда позволит всегда быть на высоте.

					p #[strong «Бьюти Форс» - это официальный дилер Oattbe на территории России. Компания имеет большой опыт работы в данном направлении, поэтому приглашает к сотрудничеству даже начинающих предпринимателей. Менеджеры окажут персональную помощь, помогут разработать стратегию продаж и продвижения корейского бренда среди покупателей в определенном регионе. К косметике прилагаются все разрешительные документы.]