extends ../page.pug

append config
	- title = 'OPI | Beautyforce.ru'
	- h1 = 'OPI'
	- desc = 'Американская торговая марка OPI выпускает средства для ногтей и ухода за кожей рук. Основателем компании считается Джордж Шеффер. История бренда насчитывает почти три десятилетия.'
	-	image	=	'headers/brands/placeholder.jpg'

block content
	.container
		.breadcrumbs
			ul.breadcrumbs__list
				li.breadcrumbs__item
					a.breadcrumbs__link(href="/") Главная
				li.breadcrumbs__item
					a.breadcrumbs__link(href="brands.html") Бренды
				li.breadcrumbs__item OPI
		.page
			.page__content
				h2.page__title OPI
				main.main

					p Американская торговая марка OPI выпускает средства для ногтей и ухода за кожей рук. Основателем компании считается Джордж Шеффер. История бренда насчитывает почти три десятилетия. За этот период производитель получил заслуженную популярность во всем мире. Товары компании встречаются не только в США, но и большинстве стран Европы.

					h3 Особенности

					p Revolution PRO – это косметика, изготовленная только из качественного сырья. Производители относятся к противникам тестирования составов на животных. Компания отслеживает качество товаров на каждом этапе производства. Они безопасны и рекомендуются даже для чувствительной кожи.

					p #[strong Под торговой маркой OPI предлагаются следующие косметические средства:]

					ul.page-list
						li.page-list__item Лаки для ногтей
						li.page-list__item Укрепляющие составы
						li.page-list__item Увлажняющие крема
						li.page-list__item Восстанавливающие сыворотки
						li.page-list__item Гели для паровых ванночек
						li.page-list__item Средства для кутикулы и др.

					p #[strong Производитель выпускает линейки лечебных покрытий и декоративных лаков. В состав средств включены следующие ингредиенты:]

					ul.page-list
						li.page-list__item Минеральные соли
						li.page-list__item Масла чайного дерева
						li.page-list__item Альфа-гидрокислоты
						li.page-list__item Экстракт зеленого чая
						li.page-list__item Глина

					p Производитель постоянно совершенствует продукцию, поэтому коллекции ежегодно пополняются. Среди товаров компании выделяют декоративные лаки для ногтей широкой цветовой гаммы. Для ухода за кожей рук выпускаются лосьоны, крема, сыворотки.

					h3 Достоинства

					p #[strong Бренд OPI предоставляет продукцию, которая отличается такими особенностями:]

					ul.page-list
						li.page-list__item Безопасный состав
						li.page-list__item Противоаллергенность
						li.page-list__item Устойчивость
						li.page-list__item Универсальность

					p В состав продукции включаются натуральные ингредиенты, которые ухаживают за кожей рук и ногтями. Средства гипоаллергенны, не вызывают негативных реакций. Продукция рекомендуется для салонов, но может применяться и в домашних условиях. Лаки для ногтей держатся до 4 дней, не трескаются и не облезают. Профессиональные средства нового поколения используют мастера гелевого и акрилового маникюра.

					p Концепция производителя заключается в том, чтобы помочь женщине быть совершенной до кончиков ногтей. Продукция бренда относится к премиум-сегменту. Ее выбирают женщины, которые стремятся к безупречности. Товары американской торговой марки позволят сократить походы в салон, так как в коллекциях имеется все необходимое для создания идеального маникюра и педикюра.

					p #[strong Официальный дилер OPI «Бьюти Форс» предлагает большой выбор средств для ухода за ногтями. Мы поможем наладить постоянные поставки косметики в том объеме, который требуется. «Бьюти Форс» сотрудничает с ведущими логистическими компаниями, которые гарантируют быструю и надежную доставку.]

			//- .page-sidebar
			//- 	h3.page-sidebar__title О бренде
			//- 	.sidebar
			//- 		.sidebar__col
			//- 			.sidebar__title Изготовитель:
			//- 			p
			//- 		.sidebar__col
			//- 			.sidebar__title Адрес производителя:
			//- 			p
			//- 		.sidebar__col
			//- 			.sidebar__title Год основания:
			//- 			p
			//- 		.sidebar__col
			//- 			.sidebar__title Год выхода в России:
			//- 			p