extends ../page.pug

append config
	- title = 'Сотрудничество | Beautyforce.ru'
	- h1 = 'Сотрудничество'
	- desc = 'Мы работаем только официально на всех этапах покупки и продажи и обеспечиваем качественные логистические услуги для наших клиентов. Наши менеджеры всегда оперативно ответят на все вопросы клиентов.'
	-	image	=	'brands.jpg'
	- currentURL = 'partnership.html'

block content
	.container
		.breadcrumbs
			ul.breadcrumbs__list
				li.breadcrumbs__item
					a.breadcrumbs__link(href="/") Главная
				li.breadcrumbs__item Сотрудничество
		main.main
			h2.page__title Сотрудничество
			p Мы работаем только официально на всех этапах покупки и продажи и обеспечиваем качественные логистические услуги для наших клиентов. Наши менеджеры всегда оперативно ответят на все вопросы клиентов.
			p
				b Создание полного контента для каждого продукта, в том числе:
			ol.page-list
				li.page-list__item Фотографии товаров под разными углами
				li.page-list__item Образчики
				li.page-list__item Видео, образцы с декоративной косметикой
				li.page-list__item Улучшенный характер продукции (текстура, аромат, состав, свойства, типы кожи и др.)
				li.page-list__item Обучающие видеоролики о продуктах.
			p Особое внимание следует уделить ценовой политике. Это ключевой компонент в правильном позиционировании бренда. Мы предлагаем разработать стратегию ценообразования вместе с вами.
			p Мы имеем развитую логистическую сеть и можем работать с любым регионом России. Кроме того, в регионах мы развиваем региональные сети дистрибьюции, которые работают с мелким оптом и розницей.