extends ../page.pug

append config
	- title = 'Партнеры | Beautyforce.ru'
	- h1 = 'Партнеры'
	- desc = 'За время своей работы мы приобрели надежных партнеров по всей России.'
	-	image	=	'headers/4'
	- currentURL = 'partners.html'

block content
	.container
		.breadcrumbs
			ul.breadcrumbs__list
				li.breadcrumbs__item
					a.breadcrumbs__link(href="/") Главная
				li.breadcrumbs__item Партнеры
		main.main
			h2.page__title Партнеры
			.partners
				ul.partners__list
					li.partners__item
						a.partners__link(href="https://www.ozon.ru/", target="_blank")
							.partners__text Российский маркетплейс, где представлено более 5 млн. товаров в 24 категориях. На крупнейшей интернет-площадке можно купить практически все — от косметики до электроники.
							img.partners__img(src="img/partners/ozon.svg", alt="ozon")
					li.partners__item
						a.partners__link(href="https://www.lamoda.ru", target="_blank")
							.partners__text В интернет-магазине представлено более 1000 брендов одежды и обуви. В каталоге представлено более 1 млн. позиций, в том числе парфюмерия, косметика, аксессуары.
							img.partners__img(src="img/partners/lamoda.svg", alt="lamoda")
					li.partners__item
						a.partners__link(href="https://www.auchan.ru", target="_blank")
							.partners__text Интернет-магазин одной из крупнейших российских торговых сетей. Компания предлагает все для дома в 24 категориях. В сеть включено более 300 торговых точек по России.
							img.partners__img(src="img/partners/auchan.svg", alt="auchan")
					li.partners__item
						a.partners__link(href="https://www.wildberries.ru", target="_blank")
							.partners__text В крупнейшем интернет-магазине представлено более 30 000 брендов одежды. Работает более 7000 пунктов самовывоза. В каталоге предлагаются товары для дома и красоты.
							img.partners__img(src="img/partners/wildberries.svg", alt="wildberries")
					li.partners__item
						a.partners__link(href="https://www.beru.ru", target="_blank")
							.partners__text В маркетплейсе представлено более 5 млн. позиций в 24 категориях. Сервис предлагает товары широкого потребления: от бытовой техники до продуктов и косметики.
							img.partners__img(src="img/partners/beru.svg", alt="beru")
					li.partners__item
						a.partners__link(href="https://www.kupivip.ru", target="_blank")
							.partners__text Интернет-магазин распродаж предлагает одежду, обувь, аксессуары, товары для дома и красоты по акциям. Клуб онлайн-шоппинга сотрудничает более, чем с 1000 брендов.
							img.partners__img(src="img/partners/kupivip.svg", alt="kupivip")
					li.partners__item
						a.partners__link(href="https://www.utkonos.ru/", target="_blank")
							.partners__text Интернет-магазин предлагает более 40 000 товаров с доставкой на дом. В представленном ассортименте можно найти свежие продукты, бытовую химию и косметику.
							img.partners__img(src="img/partners/utkonos.svg", alt="utkonos")
					li.partners__item
						a.partners__link(href="https://www.r-ulybka.ru", target="_blank")
							.partners__text Крупная сеть магазинов предлагает товары для дома и ухода за собой. В компании более 800 торговых точек. В интернет-магазине можно заказать любой товар с доставкой.
							img.partners__img(src="img/partners/r-smile.svg", alt="r-smile")
					li.partners__item
						a.partners__link(href="https://www.pudra.ru", target="_blank")
							.partners__text Онлайн-магазин косметики предлагает продукцию почти 1000 брендов со всего мира. В каталоге представлены товары для ухода за лицом, телом, волосами, ногтями, макияжа.
							img.partners__img(src="img/partners/pudra.png", alt="pudra")
					li.partners__item
						a.partners__link(href="https://lauty.ru/filter?active=search&name=dr.gloderm", target="_blank")
							.partners__text Интернет-магазин косметики имеет представительства более, чем в 10 городах России и 500 пунктов выдачи. В каталоге представлено более 500 брендов в 34 категориях.
							img.partners__img(src="img/partners/lauty.png", alt="lauty")
					li.partners__item
						a.partners__link(href="https://stockmann.ru/", target="_blank")
							.partners__text Интернет-магазин крупной торговой сети Стокманн предлагает товары для всей семьи и дома. В каталоге представлены известные бренды Fashion-индустрии.
							img.partners__img(src="img/partners/stockmann.svg", alt="stockmann")
					li.partners__item
						a.partners__link(href="https://www.av.ru", target="_blank")
							.partners__text Одна из крупнейших торговых сетей предлагает продукты и товары для дома в 22 категориях. Компания предлагает более 15 тысяч позиций, в том числе уникальные продукты.
							img.partners__img(src="img/partners/av.svg", alt="azbuka vkusa")
					li.partners__item
						a.partners__link(href="https://www.beauty-shop.ru", target="_blank")
							.partners__text В интернет-магазине представлено более 10 000 товаров для ухода за телом, лицом, волосами. В продаже косметические средства, наборы, профессиональная техника.
							img.partners__img(src="img/partners/bs.svg", alt="beauty shop")
					li.partners__item
						a.partners__link(href="https://www.komus.ru", target="_blank")
							.partners__text Интернет-гипермаркет предлагает товары для дома и офиса в 28 категориях. В каталоге представлена продукция различной направленности, от продуктов до техники.
							img.partners__img(src="img/partners/komus.svg", alt="komus")
					li.partners__item
						a.partners__link(href="https://www.aizel.ru", target="_blank")
							.partners__text Один из ведущих российских интернет-магазинов в Fashion-индустрии. В нем предлагается одежда, обувь, аксессуары и косметика более 700 известных брендов.
							img.partners__img(src="img/partners/aizel.svg", alt="aizel")
					li.partners__item
						a.partners__link(href="https://www.krasotkapro.ru", target="_blank")
							.partners__text Интернет-магазин уходовой и декоративной косметики предлагает товары более 100 известных брендов. В каталоге представлены средства для ухода за телом, лицом, ногтями.
							img.partners__img(src="img/partners/krasotka-pro.svg", alt="krasotka-pro")
					li.partners__item
						a.partners__link(href="https://www.proficosmetics.ru", target="_blank")
							.partners__text Интернет-магазин косметики для лица и волос предлагает более 20 000 наименований продукции известных российских и мировых брендов, в том числе товары для здоровья.
							img.partners__img(src="img/partners/galereya-kosmetiki.png", alt="galereya-kosmetiki")
					li.partners__item
						a.partners__link(href="https://shop.japonica.ru/", target="_blank")
							.partners__text В интернет-магазине представлено несколько сотен товаров для красоты и ухода за домом от японских производителей. В каталоге можно найти самые популярные бренды.
							img.partners__img(src="img/partners/japonica.png", alt="japonica")
					li.partners__item
						a.partners__link(href="http://yourshik.ru/", target="_blank")
							.partners__text Супермаркет косметики и бытовой химии для дома предлагает сотни товаров в 11 категориях. Компания представляет продукцию ведущих мировых производителей.
							img.partners__img(src="img/partners/yorshik.png", alt="yorshik")
					li.partners__item
						a.partners__link(href="https://rada39.ru/", target="_blank")
							.partners__text Интернет-магазин предлагает товары для дома и офиса. В каталоге представлены различные товары, от косметики до бытовой техники ведущих производителей.
							img.partners__img(src="img/partners/rada.png", alt="rada39")
					li.partners__item
						a.partners__link(href="https://www.beauty2be.ru/", target="_blank")
							.partners__text Крупный оптовый маркетплейс косметики предлагает почти 1500 товаров для красоты. В каталоге представлены товары для ухода за лицом и телом, декоративная косметика.
							img.partners__img(src="img/partners/beauty2be.svg", alt="beauty2be")
					li.partners__item
						a.partners__link(href="https://visagehall.ru/catalog/brands/dr-gloderm/", target="_blank")
							.partners__text Интернет-магазин косметики предлагает товары для ухода за лицом и телом, парфюмерию. Компания предлагает товары российских, европейских, корейских производителей.
							img.partners__img(src="img/partners/visagehall.svg", alt="visagehall")
					li.partners__item
						a.partners__link(href="https://www.asna.ru/", target="_blank")
							.partners__text Организация, объединяющая под собой более 8 тысяч аптечных пунктов. Обширная география представительств в России, Беларуси, Казахстане, странах Азии.
							img.partners__img(src="img/partners/asna.svg", alt="asna")
					li.partners__item
						a.partners__link(href="https://www.famil.ru/", target="_blank")
							.partners__text Известная торговая сеть предлагает широкий выбор одежды, аксессуаров, косметики для всей семьи. Магазины компании находятся более, чем в 90 городах России.
							img.partners__img(src="img/partners/familia.svg", alt="familia")
					li.partners__item
						a.partners__link(href="https://www.offprice.eu/", target="_blank")
							.partners__text Сеть аутлетов предлагает более 30 000 товаров для всей семьи от 1000 известных мировых брендов по низким ценам. В ассортименте представлена одежда, косметика, аксессуары.
							img.partners__img(src="img/partners/offprice.svg", alt="offprice")