extends ../page.pug

append config
	- title = 'Партнеры | Beautyforce.ru'
	- h1 = 'Партнеры'
	- desc = 'За время своей работы мы приобрели надежных партнеров по всей России.'
	-	image	=	'headers/2.png'
	- currentURL = 'partners.html'

block content
	.container
		.breadcrumbs
			ul.breadcrumbs__list
				li.breadcrumbs__item
					a.breadcrumbs__link(href="/") Главная
				li.breadcrumbs__item Партнеры
		main.main
			h2.page__title Партнеры
			.partners
				ul.partners__list
					li.partners__item
						a.partners__link(href="https://www.ozon.ru/", target="_blank")
							img.partners__img(src="img/partners/ozon.svg", alt="ozon")
					li.partners__item
						a.partners__link(href="https://www.lamoda.ru", target="_blank")
							img.partners__img(src="img/partners/lamoda.svg", alt="lamoda")
					li.partners__item
						a.partners__link(href="https://www.auchan.ru", target="_blank")
							img.partners__img(src="img/partners/auchan.svg", alt="auchan")
					li.partners__item
						a.partners__link(href="https://www.wildberries.ru", target="_blank")
							img.partners__img(src="img/partners/wildberries.svg", alt="wildberries")
					li.partners__item
						a.partners__link(href="https://www.beru.ru", target="_blank")
							img.partners__img(src="img/partners/beru.svg", alt="beru")
					li.partners__item
						a.partners__link(href="https://www.kupivip.ru", target="_blank")
							img.partners__img(src="img/partners/kupivip.svg", alt="kupivip")
					li.partners__item
						a.partners__link(href="https://www.utkonos.ru/", target="_blank")
							img.partners__img(src="img/partners/utkonos.svg", alt="utkonos")
					li.partners__item
						a.partners__link(href="https://www.r-ulybka.ru", target="_blank")
							img.partners__img(src="img/partners/r-smile.svg", alt="r-smile")
					li.partners__item
						a.partners__link(href="https://www.pudra.ru", target="_blank")
							img.partners__img(src="img/partners/pudra.png", alt="pudra")
					li.partners__item
						a.partners__link(href="https://lauty.ru/filter?active=search&name=dr.gloderm", target="_blank")
							img.partners__img(src="img/partners/lauty.png", alt="lauty")
					li.partners__item
						a.partners__link(href="https://stockmann.ru/", target="_blank")
							img.partners__img(src="img/partners/stockmann.svg", alt="stockmann")
					li.partners__item
						a.partners__link(href="https://www.av.ru", target="_blank")
							img.partners__img(src="img/partners/av.svg", alt="azbuka vkusa")
					li.partners__item
						a.partners__link(href="https://www.beauty-shop.ru", target="_blank")
							img.partners__img(src="img/partners/bs.svg", alt="beauty shop")
					li.partners__item
						a.partners__link(href="https://www.komus.ru", target="_blank")
							img.partners__img(src="img/partners/komus.svg", alt="komus")
					li.partners__item
						a.partners__link(href="https://www.aizel.ru", target="_blank")
							img.partners__img(src="img/partners/aizel.svg", alt="aizel")
					li.partners__item
						a.partners__link(href="https://www.krasotkapro.ru", target="_blank")
							img.partners__img(src="img/partners/krasotka-pro.svg", alt="krasotka-pro")
					li.partners__item
						a.partners__link(href="https://www.proficosmetics.ru", target="_blank")
							img.partners__img(src="img/partners/galereya-kosmetiki.png", alt="galereya-kosmetiki")
					li.partners__item
						a.partners__link(href="https://shop.japonica.ru/", target="_blank")
							img.partners__img(src="img/partners/japonica.png", alt="japonica")
					li.partners__item
						a.partners__link(href="http://yourshik.ru/", target="_blank")
							img.partners__img(src="img/partners/yorshik.png", alt="yorshik")
					li.partners__item
						a.partners__link(href="https://rada39.ru/", target="_blank")
							img.partners__img(src="img/partners/rada.png", alt="rada39")
					li.partners__item
						a.partners__link(href="https://www.beauty2be.ru/", target="_blank")
							img.partners__img(src="img/partners/beauty2be.svg", alt="beauty2be")
					li.partners__item
						a.partners__link(href="https://visagehall.ru/catalog/brands/dr-gloderm/", target="_blank")
							img.partners__img(src="img/partners/visagehall.svg", alt="visagehall")
					li.partners__item
						a.partners__link(href="https://www.asna.ru/", target="_blank")
							img.partners__img(src="img/partners/asna.svg", alt="asna")
					li.partners__item
						a.partners__link(href="https://www.famil.ru/", target="_blank")
							img.partners__img(src="img/partners/familia.svg", alt="familia")
					li.partners__item
						a.partners__link(href="https://www.offprice.eu/", target="_blank")
							img.partners__img(src="img/partners/offprice.svg", alt="offprice")