extends ../page.pug

append config
	- title = 'Petitfee | Beautyforce.ru'
	- h1 = 'Petitfee'
	- desc = 'Корейский бренд Petitfee был образован в 2007 году группой врачей эстетической медицины. Название торговой марки переводится с французского как «маленькая фея». Это один из самых известных корейских брендов в Европе и России, который предлагает товары для кожи лица, рук и ног.'
	-	image	=	'headers/brands/placeholder'

block content
	.container
		.breadcrumbs
			ul.breadcrumbs__list
				li.breadcrumbs__item
					a.breadcrumbs__link(href="/") Главная
				li.breadcrumbs__item
					a.breadcrumbs__link(href="brands.html") Бренды
				li.breadcrumbs__item Petitfee
		.page
			.page__content
				h2.page__title Petitfee
				main.main

					p Корейский бренд Petitfee был образован в 2007 году группой врачей эстетической медицины. Название торговой марки переводится с французского как «маленькая фея». Это один из самых известных корейских брендов в Европе и России, который предлагает товары для кожи лица, рук и ног.

					h3 Особенности

					P Под маркой Petitfee выпускается широкий ассортимент косметических средств. Среди них выделяют:

					ul.page-list
						li.page-list__item Гидрогелевые маски и патчи
						li.page-list__item Средства для умывания
						li.page-list__item Маски-носочки для ног
						li.page-list__item Крем для лица и др.

					p #[strong В состав продукции включены натуральные компоненты:]

					ul.page-list
						li.page-list__item Маточное молочко
						li.page-list__item Коллаген
						li.page-list__item Муцин улитки
						li.page-list__item Коллоидное золото
						li.page-list__item Ретинол
						li.page-list__item эЭстракты целебных растений

					p #[strong Косметика торговой марки применяется со следующими целями:]

					ul.page-list
						li.page-list__item Питание и увлажнение кожи
						li.page-list__item Лифтинг
						li.page-list__item Антивозрастное действие
						li.page-list__item Снятие отечности
						li.page-list__item Очищение поверхности кожи

					p Для устранения морщин используются средства с коллагеном и EGF, инновационным ингредиентом, воздействующим на глубокие слои эпидермиса. Натуральные компоненты, в том числе экстракт корня женьшеня, зеленого чая, мяты, морских водорослей, способствуют тому, что кожа выглядит отдохнувшей и помолодевшей. Использование гидрогеля в качестве основы защищает эссенции от испарения, делает применение средств комфортным.

					h3 Преимущества

					p Бренд Petitfee представлен широким выбором товаров. Изначально производители специализировались на патчах и масках для лица. Но со временем ассортимент товара южнокорейского бренда был значительно расширен. Среди основных достоинств косметики отмечают:

					ul.page-list
						li.page-list__item Естественность
						li.page-list__item Отсутствие ароматических химических соединений
						li.page-list__item Эффективность
						li.page-list__item Экономичный расход
						li.page-list__item Удобная упаковка

					p С помощью масок и патчей Petitfee даже в домашних условиях для кожи обеспечен салонный уход. Средства торговой марки позволяют оценить визуальный эффект уже после первого использования. Благодаря применению инновационных технологий маски и патчи хорошо прилегают к поверхности, не вызывают дискомфорт и аллергических реакций.

					p #[strong Официальный дилер Petitfee компания «Бьюти Форс» готова сотрудничать с партнерами в любом регионе России. Благодаря развитой логистической сети мы обеспечиваем быструю и надежную доставку. Менеджеры компании оперативно и подробно ответят на все вопросы клиентов, дадут рекомендации по выбору косметических средств.]

			//- .page-sidebar
			//- 	h3.page-sidebar__title О бренде
			//- 	.sidebar
			//- 		.sidebar__col
			//- 			.sidebar__title Изготовитель:
			//- 			p
			//- 		.sidebar__col
			//- 			.sidebar__title Адрес производителя:
			//- 			p
			//- 		.sidebar__col
			//- 			.sidebar__title Год основания:
			//- 			p
			//- 		.sidebar__col
			//- 			.sidebar__title Год выхода в России:
			//- 			p