extends ../page.pug

append config
	- title = 'Real Techniques | Beautyforce.ru'
	- h1 = 'Real Techniques'
	- desc = 'Основателями Real Techniques считаются сестры Чепмэн. В 2008 году девушки основали YouTube-канал, посвященный секретам макияжа, и быстро стали популярными.'
	-	image	=	'headers/brands/placeholder'

block content
	.container
		.breadcrumbs
			ul.breadcrumbs__list
				li.breadcrumbs__item
					a.breadcrumbs__link(href="/") Главная
				li.breadcrumbs__item
					a.breadcrumbs__link(href="brands.html") Бренды
				li.breadcrumbs__item Real Techniques
		.page
			.page__content
				h2.page__title Real Techniques
				main.main

					p Основателями Real Techniques считаются сестры Чепмэн. В 2008 году девушки основали YouTube-канал, посвященный секретам макияжа, и быстро стали популярными. В 2011 году сестры совместно с компанией Paris Presents разработали и выпустили удобные кисти для нанесения косметики. Они предназначены для профессиональных визажистов, но могут использоваться и в домашних условиях.

					h3 Ассортимент

					p #[strong Торговая марка Real Techniques предлагает аксессуары для нанесения макияжа. Кисти различаются по цвету ручки:]

					ul.page-list
						li.page-list__item Для основы используются оранжевые аксессуары
						li.page-list__item Для финишного макияжа берутся розовые кисти
						li.page-list__item Для бровей и глаз предназначены аксессуары с фиолетовой ручкой

					p Производители предлагают спонжи, кисти, наборы для нанесения косметики. Качество макияжа во многом зависит от того, чем наносятся средства. При разработке продукции производители учитывают особенности тональных кремов, хайлайтеров, румян, с которой они будут использоваться.

					h3 Особенности

					p #[strong Бренд Real Techniques предназначен для профессионалов и тех, кто стремится к созданию идеального образа. Особенностями товаров торговой марки считается:]

					ul.page-list
						li.page-list__item Удобная форма ручки позволяет хранить ее в вертикальном положении
						li.page-list__item Ворс из таклона гипоаллергенен и безопасен
						li.page-list__item Продуманный дизайн делает использование максимально удобным

					p Универсальные аксессуары позволяют наносить на кожу различные текстуры и растушевывать их так, как необходимо. Таклон, который берется для ворса, считается синтетическим волокном, которое по характеристикам почти не отличается от натурального. Он не впитывает косметику, легко очищается от загрязнений, не вызывает аллергических реакций.

					p Под торговой маркой представлены спонжи и кисти для нанесения румян, тональной основы, хайлайтеров и др. Аксессуары для глаз и бровей имеют особую форму. Продукция проста в использовании, поэтому может применяться девушками, которые только познают азы профессионального макияжа. Изделия британского производителя практичны, удобны и безопасны.

					p #[strong Официальный дилер Real Techniques в России «Бьюти Форс» предлагает доставку косметики в любой регион. Сотрудники компании ответят на возникающие вопросы, помогут с выбором товара. Британская косметика и аксессуары популярны во многих стран мира, а с недавнего времени представлена и в России.]

			//- .page-sidebar
			//- 	h3.page-sidebar__title О бренде
			//- 	.sidebar
			//- 		.sidebar__col
			//- 			.sidebar__title Изготовитель:
			//- 			p
			//- 		.sidebar__col
			//- 			.sidebar__title Адрес производителя:
			//- 			p
			//- 		.sidebar__col
			//- 			.sidebar__title Год основания:
			//- 			p
			//- 		.sidebar__col
			//- 			.sidebar__title Год выхода в России:
			//- 			p