extends ../page.pug

append config
	- title = 'Revolution Makeup | Beautyforce.ru'
	- h1 = 'Revolution Makeup'
	- desc = 'Бренд Revolution Makeup появился в 2014 году. Торговая марка является собственностью компании TAM Beauty, которая более 25 лет производит косметические средства.'
	-	image	=	'headers/brands/placeholder'

block content
	.container
		.breadcrumbs
			ul.breadcrumbs__list
				li.breadcrumbs__item
					a.breadcrumbs__link(href="/") Главная
				li.breadcrumbs__item
					a.breadcrumbs__link(href="brands.html") Бренды
				li.breadcrumbs__item Revolution Makeup
		.page
			.page__content
				h2.page__title Revolution Makeup
				main.main

					p Бренд Revolution Makeup появился в 2014 году. Торговая марка является собственностью компании TAM Beauty, которая более 25 лет производит косметические средства. Качественные товары относятся к бюджетной категории. Средства разрабатываются в Лондоне, но производятся на одном из заводов компании в КНР, что позволяет сэкономить на себестоимости.

					h3 Обзор косметики

					p Разработчики Revolution Makeup считают, что на первом месте должно быть качество. При этом торговая марка доступна для любого бюджета. Косметика выпускается в стильных компактных упаковках.

					p #[strong Под торговой маркой встречаются такие средства:]

					ul.page-list
						li.page-list__item Тени для глаз и бровей
						li.page-list__item Блеск и помада для губ
						li.page-list__item Праймеры и фиксаторы
						li.page-list__item Жидкие румяна
						li.page-list__item Корректоры для лица и др.

					p Особенностью продукции считается большой выбор товаров. Бренд выпускает спонжи для макияжа, косметические карандаши и др. Под брендом производятся средства для вечернего и повседневного макияжа.

					p Товары торговой марки отличаются стойкостью. Макияж, нанесенный с их помощью, держится до 24 часов. Производители предлагают средства, устойчивые к влаге. Большую популярность завоевали фиксаторы, являющиеся завершающим штрихом макияжа. Корректоры позволят выровнять тон кожи, скрыть внешние недостатки. Компания изготавливает помады разнообразных оттенков, среди которых любая женщина найдет тон, подходящий именно для нее.

					h3 Достоинства

					p #[strong Revolution Makeup – это косметика для женщин любого возраста. Среди достоинств торговой марки отмечают:]

					ul.page-list
						li.page-list__item Стильный дизайн упаковки
						li.page-list__item Безопасность применения
						li.page-list__item Экологичность
						li.page-list__item Большой выбор моделей
						li.page-list__item Доступные цены

					p Производители являются противниками тестирования продукции на животных. Они отслеживают качество сырья и товаров на каждом этапе производства. Средства отличаются гипоаллергенностью, их можно применять даже для чувствительной кожи. Макияж сохраняется в течение длительного времени, не растекается и не требует корректировки. Косметика поставляется в удобных упаковках с оригинальным дизайном.

					p #[strong Официальный дилер Revolution Makeup «Бьюти Форс» предлагает выгодные условия сотрудничества оптовым и розничным торговым сетям. Компания помогает наладить поставки продукции в любую точку России. Менеджеры «Бьюти Форс» готовы ответить на любые вопросы, связанные с производством и реализацией косметики от ведущего европейского бренда.]

			//- .page-sidebar
			//- 	h3.page-sidebar__title О бренде
			//- 	.sidebar
			//- 		.sidebar__col
			//- 			.sidebar__title Изготовитель:
			//- 			p
			//- 		.sidebar__col
			//- 			.sidebar__title Адрес производителя:
			//- 			p
			//- 		.sidebar__col
			//- 			.sidebar__title Год основания:
			//- 			p
			//- 		.sidebar__col
			//- 			.sidebar__title Год выхода в России:
			//- 			p