extends ../page.pug

append config
	- title = 'Revolution PRO | Beautyforce.ru'
	- h1 = 'Revolution PRO'
	- desc = 'Revolution PRO – это английский бренд, появившийся в 2018 году. Продукция является линейкой известной косметики MakeUp Revolution. Под торговой маркой выпускаются бюджетные средства для профессиональных визажистов.'
	-	image	=	'headers/brands/placeholder'

block content
	.container
		.breadcrumbs
			ul.breadcrumbs__list
				li.breadcrumbs__item
					a.breadcrumbs__link(href="/") Главная
				li.breadcrumbs__item
					a.breadcrumbs__link(href="brands.html") Бренды
				li.breadcrumbs__item Revolution PRO
		.page
			.page__content
				h2.page__title Revolution PRO
				main.main

					p Revolution PRO – это английский бренд, появившийся в 2018 году. Продукция является линейкой известной косметики MakeUp Revolution. Под торговой маркой выпускаются бюджетные средства для профессиональных визажистов.

					h3 Обзор косметики

					p Revolution PRO – это косметика, изготовленная только из качественного сырья. Производители относятся к противникам тестирования составов на животных. Компания отслеживает качество товаров на каждом этапе производства. Они безопасны и рекомендуются даже для чувствительной кожи.

					p #[strong Компания выпускает косметику преимум-сегмента, которая доступна для женщин с различным бюджетом. Среди ее достоинств отмечают большой выбор цветов. Под торговой маркой выпускают следующие средства:]

					ul.page-list
						li.page-list__item Бронзеры и хайлайтеры
						li.page-list__item Тени для век
						li.page-list__item Тональную основу
						li.page-list__item Румяна
						li.page-list__item Блеск для губ
						li.page-list__item Праймеры и др.

					p Бренд Revolution PRO выпускает все, что требуется для профессионального макияжа. Среди продукции торговой марки можно найти косметику для ежедневного использования. Потребители особо отмечают тени для век и помады производителя.

					h3 Достоинства

					p #[strong Средства торговой марки отличаются такими характеристиками:]

					ul.page-list
						li.page-list__item Экологичность
						li.page-list__item Безопасность
						li.page-list__item Стойкость
						li.page-list__item Качество
						li.page-list__item Большой выбор оттенков

					p Экологически чистое сырье отвечает за безопасность составов даже для чувствительной кожи. Составы выпускаются в компактной стильной упаковке. Они легко наносятся и растушевываются, благодаря густой текстуре.

					p Достоинством торговой марки считается устойчивость. Составы держатся на коже длительное время, не теряя свой цвет. Цветовая палитра достаточно широкая, что позволяет найти нужный оттенок любой женщине. С помощью профессиональных средств создаются лучшие образы. Косметика соответствует европейским стандартам качества. При этом ее цена остается доступной для любого бюджета.

					p #[strong «Бьюти Форс» - это официальный дилер Revolution PRO в России, который предлагает выгодное сотрудничество оптовым и розничным сетям. Сотрудники компании помогут сделать заказ и выбрать продукцию, которая будет востребована у потребителей. Благодаря развитой логистической сети мы доставляем товары в любой регион России.  Европейский бренд считается одним из самых востребованных благодаря качеству в сочетании с доступной ценой.]

			//- .page-sidebar
			//- 	h3.page-sidebar__title О бренде
			//- 	.sidebar
			//- 		.sidebar__col
			//- 			.sidebar__title Изготовитель:
			//- 			p
			//- 		.sidebar__col
			//- 			.sidebar__title Адрес производителя:
			//- 			p
			//- 		.sidebar__col
			//- 			.sidebar__title Год основания:
			//- 			p
			//- 		.sidebar__col
			//- 			.sidebar__title Год выхода в России:
			//- 			p