extends ../page.pug

append config
	- title = 'Saraya | Beautyforce.ru'
	- h1 = 'Saraya'
	- desc = 'Бренд Saraya более 60 лет разрабатывает и производит различные средства гигиены. Особенностью товаров японского производителя считаются качество и доступная цена.'
	-	image	=	'headers/brands/placeholder'

block content
	.container
		.breadcrumbs
			ul.breadcrumbs__list
				li.breadcrumbs__item
					a.breadcrumbs__link(href="/") Главная
				li.breadcrumbs__item
					a.breadcrumbs__link(href="brands.html") Бренды
				li.breadcrumbs__item Saraya
		.page
			.page__content
				h2.page__title Saraya
				main.main

					p Бренд Saraya более 60 лет разрабатывает и производит различные средства гигиены. Особенностью товаров японского производителя считаются качество и доступная цена. Компания известна уникальными разработками составов, дающими хороший результат.

					h3 Обзор товаров

					p #[strong Saraya предлагает следующую продукцию:]

					ul.page-list
						li.page-list__item Гели и растворы для стирки
						li.page-list__item Жидкости для мытья посуды
						li.page-list__item Масла для ухода за волосами
						li.page-list__item чистящие гели и др.

					p #[strong Отдельно выделяют серию для детей Saraya Arau Baby. В нее включены:]

					ul.page-list
						li.page-list__item Лосьоны для малышей
						li.page-list__item Гипоаллергенные порошки для стирки детских вещей
						li.page-list__item Шампуни
						li.page-list__item Зубные пасты
						li.page-list__item Гели и пенки для душа и др.

					p В основе средств растительные экстракты, кокосовое и пальмовое масло, эфирные масла. Товары японского бренда имеют натуральный состав, поэтому рекомендованы для применения с первых дней жизни. Средства не содержат синтетических добавок, красителей.

					p #[strong Среди наиболее известных линеек компании-производителя отмечают:]

					ul.page-list
						li.page-list__item Cocopalm, лечебные комплексы для ухода за волосами
						li.page-list__item Сахарозаменитель Lakanto
						li.page-list__item Arau Baby, косметика для детей

					p #[strong Производители выпускают средства для стирки в различных формах:]

					ul.page-list
						li.page-list__item Порошки
						li.page-list__item Концентраты
						li.page-list__item Таблетки
						li.page-list__item Растворы

					p Товары рекомендуются для стирки детской одежды, так как сделаны на натуральной основе. При этом их применение обеспечит хороший результат, избавит даже от сильных загрязнений.

					h3 Преимущества

					p #[strong Продукция Saraya обладает такими достоинствами, как:]

					ul.page-list
						li.page-list__item Натуральность
						li.page-list__item Гипоаллергенность
						li.page-list__item Результативность
						li.page-list__item Доступность

					p Компания работает над разработкой и выпуском новой продукции, регулярно представляет на рынок новинки. Все средства имеют натуральную основу. Хорошие результаты достигаются благодаря инновационным формулам. Производители против тестов, проводимых на животных, заботятся об окружающей среде. Продукция выпускается в удобных упаковках из биоразлагаемых материалов.

					p #[strong «Бьюти Форс» - это официальный дилер Saraya в России. Компания предлагает выгодные условия сотрудничества для реализации косметических и чистящих средств. Развитая логистическая сеть позволяет наладить доставки в любой регион России. Большой выбор товаров позволяет подобрать лучшие позиции, в зависимости от обстоятельств. Наши сотрудники помогут определить политику ценообразования, ответят на все возникшие вопросы.]

			//- .page-sidebar
			//- 	h3.page-sidebar__title О бренде
			//- 	.sidebar
			//- 		.sidebar__col
			//- 			.sidebar__title Изготовитель:
			//- 			p
			//- 		.sidebar__col
			//- 			.sidebar__title Адрес производителя:
			//- 			p
			//- 		.sidebar__col
			//- 			.sidebar__title Год основания:
			//- 			p
			//- 		.sidebar__col
			//- 			.sidebar__title Год выхода в России:
			//- 			p