extends ../page.pug

append config
	- title = 'Sebastian Professional | Beautyforce.ru'
	- h1 = 'Sebastian Professional'
	- desc = 'Бренд Sebastian Professional появился в 70-х годах прошлого столетия. Основателями компании стали Джон Себастиан и Джерри Кузен. Производители известны инновационной продукцией для волос, которая может использоваться в домашних условиях.'
	-	image	=	'headers/brands/placeholder'

block content
	.container
		.breadcrumbs
			ul.breadcrumbs__list
				li.breadcrumbs__item
					a.breadcrumbs__link(href="/") Главная
				li.breadcrumbs__item
					a.breadcrumbs__link(href="brands.html") Бренды
				li.breadcrumbs__item Sebastian Professional
		.page
			.page__content
				h2.page__title Sebastian Professional
				main.main

					p Бренд Sebastian Professional появился в 70-х годах прошлого столетия. Основателями компании стали Джон Себастиан и Джерри Кузен. Производители известны инновационной продукцией для волос, которая может использоваться в домашних условиях.

					h3 Особенности продукции Sebastian Professional

					p Средства торговой марки применяются в салонах красоты. Производители разработали продукцию, выполняющую следующие задачи:

					ul.page-list
						li.page-list__item Уход
						li.page-list__item Лечение
						li.page-list__item Стайлинг

					p #[strong Sebastian Professional – это косметика, созданная профессионалами. С ее помощью в домашних условиях можно добиться такого же результата, как после процедур в салоне красоты. Производители разработали такие линейки продукции, как:]

					ul.page-list
						li.page-list__item Basic Care для ежедневного ухода
						li.page-list__item Styling для надежной фиксации прически
						li.page-list__item Laminates для ламинирования
						li.page-list__item Flaunt Collection для применения при термоукладке
						li.page-list__item Twisted для вьющихся локонов

					p В ассортименте бренда представлена серия средств, разработанных специально для мужчин. Косметика предлагается в небольших упаковках для поездок и оптимальных объемов для салонов красоты.

					p #[strong Sebastian Professional разрабатывают и реализуют:]

					ul.page-list
						li.page-list__item Шампуни
						li.page-list__item Кондиционеры
						li.page-list__item Бальзамы
						li.page-list__item Маски
						li.page-list__item Сыворотки
						li.page-list__item Муссы и гели
						li.page-list__item Воск для укладки
						li.page-list__item Спреи и др.

					p В коллекциях представлены средства для лечения, восстановления, придания блеска, защиты цвета. Они защищают от негативных факторов, надолго сохраняют результат.

					h3 Преимущества

					p #[strong «Себастьян Профессионал» разрабатывают средства для волос всех типов, в которых объединены натуральные компоненты с последними достижениями в косметологической сфере. Преимущества косметики в следующем:]

					ul.page-list
						li.page-list__item Инновационные формулы
						li.page-list__item Видимый результат
						li.page-list__item Простое применение
						li.page-list__item Бережный уход и увлажнение
						li.page-list__item Возвращение волосам блеска и цвета
						li.page-list__item Товары для разного типа волос

					p В коллекциях торгового бренда можно найти косметику для различных целей. Средства для стайлинга позволят ежедневно самостоятельно творить новые образы. Косметика для ухода и лечения преобразит волосы, сделает их блестящими и послушными. Она помогает получить хороший результат уже после первого применения.

					p #[strong Официальный дилер Sebastian Professional «Бьюти Форс» предлагает большой выбор товаров бренда. Менеджеры компании расскажут об особенностях продукции и помогут сделать заказ. Мы доставляем товар в различные регионы России.]

			//- .page-sidebar
			//- 	h3.page-sidebar__title О бренде
			//- 	.sidebar
			//- 		.sidebar__col
			//- 			.sidebar__title Изготовитель:
			//- 			p
			//- 		.sidebar__col
			//- 			.sidebar__title Адрес производителя:
			//- 			p
			//- 		.sidebar__col
			//- 			.sidebar__title Год основания:
			//- 			p
			//- 		.sidebar__col
			//- 			.sidebar__title Год выхода в России:
			//- 			p