extends ../page.pug

append config
	- title = 'SEBMAN | Beautyforce.ru'
	- h1 = 'SEBMAN'
	- desc = 'SEBMAN – это косметика для мужчин известного производителя Sebastian Professional. Торговая марка была образована владельцем парикмахерской, который прославился нестандартным подходом к изготовлению париков и шиньонов.'
	-	image	=	'headers/brands/placeholder'

block content
	.container
		.breadcrumbs
			ul.breadcrumbs__list
				li.breadcrumbs__item
					a.breadcrumbs__link(href="/") Главная
				li.breadcrumbs__item
					a.breadcrumbs__link(href="brands.html") Бренды
				li.breadcrumbs__item SEBMAN
		.page
			.page__content
				h2.page__title SEBMAN
				main.main

					p SEBMAN – это косметика для мужчин известного производителя Sebastian Professional. Торговая марка была образована владельцем парикмахерской, который прославился нестандартным подходом к изготовлению париков и шиньонов. Компания не раз предлагала новаторские идеи, заслужившие признание у потребителей.

					h3 Линия косметики SEBMAN: Особенности

					p Производители выпускают профессиональную косметику для волос. Концепция компании заключается в поиске новых инновационных решений для получения максимально действенного результата. Использование средств позволяет выражать свою индивидуальность, представить себя во множестве различных ролей.

					p #[strong Под маркой SEBMAN выпускаются продукты по следующим направлениям:Под маркой SEBMAN выпускаются продукты по следующим направлениям:]

					ul.page-list
						li.page-list__item Уход за волосами
						li.page-list__item Стайлинг
						li.page-list__item Груминг

					p #[strong В продукцию для мужчин включены аксессуары для бритья. Для ухода за волосами предлагаются такие товары, как:]

					ul.page-list
						li.page-list__item Шампуни
						li.page-list__item Кондиционеры
						li.page-list__item Тоники

					p #[strong В состав средств включены натуральные ингредиенты:]

					ul.page-list
						li.page-list__item Экстракт гуараны
						li.page-list__item Масло сандалового дерева
						li.page-list__item Экстракт бергамота
						li.page-list__item Розовый перец и пр.

					p Линия по уходу для мужчин SEBMAN включает косметику для стайлинга. Профессиональные средства помогают создавать различные образы, положительно влияют на состоянии волос. В линию косметики для стайлинга включено:

					ul.page-list
						li.page-list__item Минеральная глина
						li.page-list__item Крем-воск
						li.page-list__item Гель для фиксации
						li.page-list__item Лак

					p При выпуске косметики используются инновационные разработки и исследования в области косметологии.  Положительный результат обеспечивается благодаря тому, что в составе натуральные ингредиенты. Средства надежно фиксируют прическу, придают волосам блеск и здоровый вид.

					p Особенностью продукции считается то, что она создана специально для мужчин. Комплексное использование составов позволяет достигать оптимального результата. В линии включены шампуни для волос, бороды и усов. Косметика торговой марки предназначена для тех мужчин, кто готов к экспериментам, не приемлет правил и условностей.

					p #[strong Официальный дилер SEBMAN в России компания «Бьюти Форс» открыта к сотрудничеству тем, кто ценит надежное и выгодное партнерство. Широкая логистическая сеть позволяет организовывать доставку в любой регион России. Все товары сертифицированы, имеют соответствующие лицензии. Мы сотрудничаем с небольшими компаниями и крупными торговыми сетями.]

			//- .page-sidebar
			//- 	h3.page-sidebar__title О бренде
			//- 	.sidebar
			//- 		.sidebar__col
			//- 			.sidebar__title Изготовитель:
			//- 			p
			//- 		.sidebar__col
			//- 			.sidebar__title Адрес производителя:
			//- 			p
			//- 		.sidebar__col
			//- 			.sidebar__title Год основания:
			//- 			p
			//- 		.sidebar__col
			//- 			.sidebar__title Год выхода в России:
			//- 			p