extends ../page.pug

append config
	- title = 'Shavo Green | Beautyforce.ru'
	- h1 = 'Shavo Green'
	- desc = 'Shavo Green принадлежит японскому концерну Saraya. История компании насчитывает несколько десятилетий. Производители выпускают качественную бытовую химию, косметические средства для ухода и гигиены.'
	-	image	=	'headers/brands/placeholder'

block content
	.container
		.breadcrumbs
			ul.breadcrumbs__list
				li.breadcrumbs__item
					a.breadcrumbs__link(href="/") Главная
				li.breadcrumbs__item
					a.breadcrumbs__link(href="brands.html") Бренды
				li.breadcrumbs__item Shavo Green
		.page
			.page__content
				h2.page__title Shavo Green
				main.main

					p Shavo Green принадлежит японскому концерну Saraya. История компании насчитывает несколько десятилетий. Производители выпускают качественную бытовую химию, косметические средства для ухода и гигиены. Концепция компании заключается в изготовлении экологически чистых и безопасных продуктов.

					h3 Обзор товаров

					p Под торговой маркой Shavo Green представлена линейка антибактериального мыла для регулярного использования. Особенностью товаров считается полностью натуральная основа. Благодаря этому они безопасны для использования, рекомендуются даже людям, склонным к аллергическим реакциям. Продукт смывается водой, не выделяет вредных веществ.

					p #[strong Бренд выпускает мыло-пенку, мыло-гель. В составе средств следующие ингредиенты:]

					ul.page-list
						li.page-list__item Кокосовое или пальмовое масло
						li.page-list__item Антибактериальный компонент
						li.page-list__item Глицерин
						li.page-list__item Экстракты лекарственных растений и др.

					p Товар поставляется в удобных упаковках с дозатором. Благодаря этому средство экономно расходуется, и его хватает на длительное время.

					h3 Преимущества

					p #[strong Бренд Shavo Green – это антибактериальное мыло, которое обладает следующими качествами:]

					ul.page-list
						li.page-list__item Натуральный состав
						li.page-list__item Удобная упаковка
						li.page-list__item Доступность
						li.page-list__item Экологичность
						li.page-list__item Действенность

					p Продукт подходит для регулярного использования. Он применяется в детских и медицинских организациях, где повышены требования к гигиене. Натуральные компоненты в составе средства эффективно очищают, ухаживают за кожей. Экологически чистое производство не загрязняет атмосферу и окружающую среду.

					p Концепция концерна Saraya заключается в выпуске качественных товаров. Компания постоянно совершенствует продукцию, предоставляя потребителям улучшенные товары. Мыло увлажняет и питает кожу, не вызывает аллергии, хорошо пенится. Производители стараются выпускать продукцию в соответствии с новейшими достижениями. Компания следит за качеством товаров на всех этапах производства, что гарантирует хороший результат и качество.

					p #[strong Официальный дилер Shavo Green предлагает продукцию японского бренда на выгодных условиях. Компания организовывает быструю доставку в различные регионы России. Сотрудники «Бьюти Форс» всегда готовы помочь, дадут подробную консультацию о товарах японского бренда.]

			//- .page-sidebar
			//- 	h3.page-sidebar__title О бренде
			//- 	.sidebar
			//- 		.sidebar__col
			//- 			.sidebar__title Изготовитель:
			//- 			p
			//- 		.sidebar__col
			//- 			.sidebar__title Адрес производителя:
			//- 			p
			//- 		.sidebar__col
			//- 			.sidebar__title Год основания:
			//- 			p
			//- 		.sidebar__col
			//- 			.sidebar__title Год выхода в России:
			//- 			p