extends ../page.pug

append config
	- title = 'Sleek Make Up | Beautyforce.ru'
	- h1 = 'Sleek Make Up'
	- desc = 'Бренд Sleek Make Up был основан в Великобритании в 1995 году. За историю своего существования компания смогла добиться признания в сфере производства и продаж декоративной косметики.'
	-	image	=	'headers/brands/placeholder'

block content
	.container
		.breadcrumbs
			ul.breadcrumbs__list
				li.breadcrumbs__item
					a.breadcrumbs__link(href="/") Главная
				li.breadcrumbs__item
					a.breadcrumbs__link(href="brands.html") Бренды
				li.breadcrumbs__item Sleek Make Up
		.page
			.page__content
				h2.page__title Sleek Make Up
				main.main

					p Бренд Sleek Make Up был основан в Великобритании в 1995 году. За историю своего существования компания смогла добиться признания в сфере производства и продаж декоративной косметики.

					p Средства торговой марки первое время выпускались для темнокожих девушек. Но со временем линейки продукции были значительно расширены, поэтому она может применяться для различного типа кожи.

					h3 Особенности

					p Sleek Make Up отличается универсальностью. Составы разрабатываются с учетом особенностей различных типов кожи и ее оттенков. Среди товаров торговой марки можно найти средства для различной внешности. Под торговой маркой продаются:

					ul.page-list
						li.page-list__item Палетки с тенями
						li.page-list__item Губные помады и блески
						li.page-list__item Румяна
						li.page-list__item Корректоры
						li.page-list__item Средства для бровей
						li.page-list__item Консилеры и др.

					p Многие женщины выбирают палетки i-Divine с минеральными тенями. Они включают 12 оттенков, которые можно сочетать друг с другом. Благодаря текстуре тени легко ложатся на кожу и растушевываются.  Они нередко используются для профессионального макияжа.

					p Производитель предлагает жидкие тени, блеск для губ. Среди классических линеек отмечают румяна Blush. Они характеризуются густой текстурой, хорошей пигментацией.

					h3 Достоинства

					p #[strong Sleek Make Up – это косметика для тех, кто выбирает лучшее. Она характеризуется такими качествами:]

					ul.page-list
						li.page-list__item Универсальность
						li.page-list__item Стойкость
						li.page-list__item Натуральность
						li.page-list__item Гипоаллергенность

					p Широкий выбор цветов позволяет выбрать нужный тон для румян, тонального крема, консилеров и других товаров бренда. Производители стремятся поддерживать качество продукции, отслеживают его на каждом этапе изготовления. Натуральные ингредиенты обеспечивают гипоаллергенность. Косметика рекомендуется для чувствительной кожи.

					p К главным особенностям бренда относят универсальность. Слоган торговой марки звучит как «Мое лицо – мои правила». Производители уверяют, что для применения косметики нет рамок и ограничений. С помощью качественных средств можно создавать смелые и оригинальные образы. Косметика отличается стойкостью. Макияж, сделанный с ее помощью, продержится в течение дня и не потребует корректировки.

					p #[strong Официальный дилер Sleek Make Up «Бьюти Форс» предлагает выгодное сотрудничество по реализации косметики. Торговая марка пользуется большим спросом, благодаря качеству в сочетании с разумной стоимостью. Мы организуем быструю и качественную доставку товара в любом объеме по всей России.]

			//- .page-sidebar
			//- 	h3.page-sidebar__title О бренде
			//- 	.sidebar
			//- 		.sidebar__col
			//- 			.sidebar__title Изготовитель:
			//- 			p
			//- 		.sidebar__col
			//- 			.sidebar__title Адрес производителя:
			//- 			p
			//- 		.sidebar__col
			//- 			.sidebar__title Год основания:
			//- 			p
			//- 		.sidebar__col
			//- 			.sidebar__title Год выхода в России:
			//- 			p