extends ../page.pug

append config
	- title = 'Smile Helper | Beautyforce.ru'
	- h1 = 'Smile Helper'
	- desc = 'Торговая марка Smile Helper принадлежит японскому концерну Saraya. История компании началась с середины 20 века.'
	-	image	=	'headers/brands/placeholder.jpg'

block content
	.container
		.breadcrumbs
			ul.breadcrumbs__list
				li.breadcrumbs__item
					a.breadcrumbs__link(href="/") Главная
				li.breadcrumbs__item
					a.breadcrumbs__link(href="brands.html") Бренды
				li.breadcrumbs__item Smile Helper
		.page
			.page__content
				h2.page__title Smile Helper
				main.main

					p Торговая марка Smile Helper принадлежит японскому концерну Saraya. История компании началась с середины 20 века. Производители заботятся об окружающей среде и здоровье человека. Благодаря этому под торговой маркой выпускаются качественные средства гигиены, моющие и чистящие растворы. Они изготавливаются на основе натуральных ингредиентов, благодаря чему легко разлагаются, не нанося вред природе.

					h3 Ассортимент

					p Под брендом Smile Helper производители предлагают дезинфицирующие растворы для санузлов. Средства могут использоваться для биотуалетов, выгребных ям, дачных туалетов, переносных конструкций и др. Состав применяется для дезинфекции мусорных баков и ведер.

					p #[strong Раствор обладает антибактериальными свойствами, нейтрализует неприятные запахи. В него включены такие ингредиенты, как:]

					ul.page-list
						li.page-list__item Яблочная кислота
						li.page-list__item Глиоксаль
						li.page-list__item Эфиры полиоксиалкиленов
						li.page-list__item Вода и др.

					p Средство выпускается в удобной упаковке, которая надежно защищает раствор при транспортировке. Состав подавляет распространение гнилостных процессов, способствует полному растворению отходов.

					p Торговая марка представляет средства для удаления запахов с ткани. Бесцветные жидкости не оставляют разводов, освежают и устраняют даже стойкие ароматы, въевшиеся в материал. Средства поставляются в бутылях с удобными распылителями, позволяющими равномерно распределить раствор на поверхности.

					h3 Особенности продукции

					p #[strong Бренд Smile Helper имеет следующие характеристики:]

					ul.page-list
						li.page-list__item Антибактериальный эффект
						li.page-list__item Доступная цена
						li.page-list__item Натуральный состав
						li.page-list__item Биоразлагаемость
						li.page-list__item Безопасность

					p Средство экономно расходуется, поэтому его хватает на длительное время. Производители используют новейшее оборудование и технологические разработки. Японская компания постоянно работает над усовершенствованием формулы своей продукции. Разработчики учитывают требования к экологической безопасности и делают товары совершенно безвредными ля человека, но максимально эффективными.

					p #[strong Официальный дилер Smile Helper в России «Бьюти Форс» предлагает сотрудничество оптовым и розничным клиентам. Товары японского бренда могут быть доставлены в любой регион страны быстро и безопасно. Сотрудники  компании окажут всестороннюю поддержку нашим партнерам в любое время, ответят на возникшие вопросы.]

			//- .page-sidebar
			//- 	h3.page-sidebar__title О бренде
			//- 	.sidebar
			//- 		.sidebar__col
			//- 			.sidebar__title Изготовитель:
			//- 			p
			//- 		.sidebar__col
			//- 			.sidebar__title Адрес производителя:
			//- 			p
			//- 		.sidebar__col
			//- 			.sidebar__title Год основания:
			//- 			p
			//- 		.sidebar__col
			//- 			.sidebar__title Год выхода в России:
			//- 			p