extends ../page.pug

append config
	- title = 'Swarovski | Beautyforce.ru'
	- h1 = 'Swarovski'
	- desc = 'Под торговой маркой Swarovski выпускаются оригинальные украшения, декоративные фигурки из кристаллов, люстры и др.'
	-	image	=	'headers/brands/placeholder'

block content
	.container
		.breadcrumbs
			ul.breadcrumbs__list
				li.breadcrumbs__item
					a.breadcrumbs__link(href="/") Главная
				li.breadcrumbs__item
					a.breadcrumbs__link(href="brands.html") Бренды
				li.breadcrumbs__item Swarovski
		.page
			.page__content
				h2.page__title Swarovski
				main.main

					p Под торговой маркой Swarovski выпускаются оригинальные украшения, декоративные фигурки из кристаллов, люстры и др. История бренда началась в 19 столетии, когда Даниэль Сваровски изобрел первую машинку для огранки и предложил необычные изделия из хрусталя. Компания считается семейным делом, в ней сохраняются традиции, которые были заложены ее основателем.

					h3 Продукция

					p #[strong Под торговой маркой Swarovski выпускают аксессуары дизайнерскую бижутерию на любой бюджет. Создатели украшений стремятся к совершенству, поэтому постоянно пополняют свои коллекции. Торговая марка предлагает:]

					ul.page-list
						li.page-list__item Кольца
						li.page-list__item Броши
						li.page-list__item Часы
						li.page-list__item Браслеты
						li.page-list__item Колье
						li.page-list__item Аксессуары и др.

					p В производстве используются запатентованные технологии и особые материалы. Яркие оттенки и необычные дизайны бижутерии делают ее стильным дополнением любого имиджа.

					p Кристаллы Swarovski изготавливаются не из природного хрусталя, а из компонентов, которые держатся в строгом секрете. Под торговой маркой выпускаются декоративные фигурки для украшения интерьера, светильники и люстры. Среди товаров, представленных производителем, следует выделить коллекцию ручек, которые являются стильным аксессуаром и важным атрибутом делового человека, демонстрирующим его высокий статус.

					h3 Особенности продукции

					p #[strong Бренд Swarovski – это изысканность, стиль и роскошь. Особенностью изделий торговой марки считаются:]

					ul.page-list
						li.page-list__item Качество и эстетичный внешний вид
						li.page-list__item Большой выбор украшений и аксессуаров
						li.page-list__item Долговечность
						li.page-list__item Доступность
						li.page-list__item Надежность
						li.page-list__item Универсальность

					p Кристаллы от знаменитого бренда надежно крепятся на изделия. Они изготавливаются по особой технологии, благодаря чему по эстетичности не уступают натуральному камню. Дизайнеры ежегодно разрабатывают новые модели для пополнения коллекций. Изделия отличаются роскошным внешним видом и доступностью. При соблюдении рекомендаций по эксплуатации они в течение долгого времени не потеряют изначальный внешний вид и блеск.

					p #[strong «Бьюти Форс» - это официальный дилер Swarovski, который предлагает выгодные условия сотрудничества оптовым и розничным торговым сетям. Доставка организовывается в любые регионы России. Украшения и декоративные предметы от Сваровски пользуются успехом среди женщин различного возраста и социального положения.]

			//- .page-sidebar
			//- 	h3.page-sidebar__title О бренде
			//- 	.sidebar
			//- 		.sidebar__col
			//- 			.sidebar__title Изготовитель:
			//- 			p
			//- 		.sidebar__col
			//- 			.sidebar__title Адрес производителя:
			//- 			p
			//- 		.sidebar__col
			//- 			.sidebar__title Год основания:
			//- 			p
			//- 		.sidebar__col
			//- 			.sidebar__title Год выхода в России:
			//- 			p