extends ../page.pug

append config
	- title = 'The Skin House | Beautyforce.ru'
	- h1 = 'The Skin House'
	- desc = 'The Skin House является молодым брендом Южной Кореи, основанным в 2011 году на базе разработок лаборатории эстетической медицины компании NokSibCho.'
	-	image	=	'headers/brands/placeholder'

block content
	.container
		.breadcrumbs
			ul.breadcrumbs__list
				li.breadcrumbs__item
					a.breadcrumbs__link(href="/") Главная
				li.breadcrumbs__item
					a.breadcrumbs__link(href="brands.html") Бренды
				li.breadcrumbs__item The Skin House
		.page
			.page__content
				h2.page__title The Skin House
				main.main

					p The Skin House является молодым брендом Южной Кореи, основанным в 2011 году на базе разработок лаборатории эстетической медицины компании NokSibCho. Производители с 1979 года проводили исследования для выведения лучших формул биоактивных добавок для средств, используемых в салонах красоты и SPA.

					p Изначально продукция была предназначена только для внутреннего рынка Южной Кореи. Однако, средства получили большую популярность, и сейчас экспортируются во многие страны мира.

					h3 The Skin House: большой выбор средств для кожи

					p #[strong The Skin House предлагает маски, крема, лосьоны, бальзамы для кожи. В состав средств включены такие компоненты, как:]

					ul.page-list
						li.page-list__item Улиточный муцин
						li.page-list__item Экстракты лимона, женьшеня, розы
						li.page-list__item Керамид
						li.page-list__item Миндальное масло
						li.page-list__item Сок алоэ
						li.page-list__item Минеральная вулканическая вода
						li.page-list__item Экстракт лаванды

					p #[strong Производители предлагают средства для лица, волос, тела:]

					ul.page-list
						li.page-list__item Увлажняющие крема
						li.page-list__item Лосьоны и тоники
						li.page-list__item Эмульсии
						li.page-list__item Масла
						li.page-list__item Сыворотки
						li.page-list__item Тонеры
						li.page-list__item Маски и др.

					p Товары торговой марки предназначены для очищения, увлажнения кожи, устранения дерматологических проблем. Они помогают бороться с пигментацией поверхности, угревой сыпью. Крема обладают противовозрастным действием, избавляют от морщин. В продаже встречаются эмульсии, сыворотки с лифтинг-эффектом.

					h3 Преимущества

					p Бренд The Skin House предлагает продукцию высокого качества. Особенностью продукции является присутствие в них такого компонента, как экстракт барбадосского алоэ, дающего хороший результат в уходе за кожей. Среди достоинств косметики отмечают:

					ul.page-list
						li.page-list__item Доступную стоимость
						li.page-list__item Гипоаллергенность
						li.page-list__item Экологичность и безопасность использования
						li.page-list__item Быстрый и действенный результат
						li.page-list__item Широкий выбор средств
						li.page-list__item И3нновационные формулы

					p Продукция бренда позволяет ухаживать за кожей в домашних условиях, избавляет от регулярных походов в салоны. Регулярное применение средств рекомендуется женщинам различного возраста. В составах отсутствуют синтетические соединения и отдушки. Производители не тестируют косметику на животных.

					p #[strong Официальный дилер The Skin House в России «Бьюти Форс» предлагает взаимовыгодное сотрудничество интернет-магазинам, оптовым и розничным сетям. Сотрудники компании помогут определиться с выбором косметики южнокорейских брендов. Развитая логистическая сеть позволяет осуществить быструю доставку в любую точку России.]

			//- .page-sidebar
			//- 	h3.page-sidebar__title О бренде
			//- 	.sidebar
			//- 		.sidebar__col
			//- 			.sidebar__title Изготовитель:
			//- 			p
			//- 		.sidebar__col
			//- 			.sidebar__title Адрес производителя:
			//- 			p
			//- 		.sidebar__col
			//- 			.sidebar__title Год основания:
			//- 			p
			//- 		.sidebar__col
			//- 			.sidebar__title Год выхода в России:
			//- 			p