extends ../page.pug

append config
	- title = 'Valmona | Beautyforce.ru'
	- h1 = 'Valmona'
	- desc = 'Корейский бренд Valmona выпускает косметические средства для ухода за волосами и кожей головы. Секрет эффективности товаров компании в натуральных компонентах и инновационной формуле. Косметика подходит для различного типа волос.'
	-	image	=	'headers/brands/placeholder'

block content
	.container
		.breadcrumbs
			ul.breadcrumbs__list
				li.breadcrumbs__item
					a.breadcrumbs__link(href="/") Главная
				li.breadcrumbs__item
					a.breadcrumbs__link(href="brands.html") Бренды
				li.breadcrumbs__item Valmona
		.page
			.page__content
				h2.page__title Valmona
				main.main

					p Корейский бренд Valmona выпускает косметические средства для ухода за волосами и кожей головы. Секрет эффективности товаров компании в натуральных компонентах и инновационной формуле. Косметика подходит для различного типа волос. Она оказывает лечебное действие на кожу головы, борется с такими проблемами, как перхоть.

					h3 Особенности продукции

					p #[strong Под торговой маркой Valmona представлены такие средства:]

					ul.page-list
						li.page-list__item Шампуни
						li.page-list__item Кондиционеры
						li.page-list__item Сыворотки

					p #[strong Косметика содержит следующие компоненты:]

					ul.page-list
						li.page-list__item Коллаген
						li.page-list__item Протеины
						li.page-list__item Жидкий шелк
						li.page-list__item Яичный желток
						li.page-list__item Тростниковый сахар
						li.page-list__item Экстракты лекарственных растений и др.

					p Бренд Valmona предназначен для питания и увлажнения волос и кожи головы. Косметика корейского производителя обеспечивает СПА-уход в домашних условиях.

					h3 Преимущества

					p #[strong Среди основных достоинств продукции отмечают:]

					ul.page-list
						li.page-list__item Натуральный состав
						li.page-list__item Отсутствие синтетических компонентов и химических веществ
						li.page-list__item Инновационные формулы и проверенные временем рецепты
						li.page-list__item Удобная упаковка
						li.page-list__item Простота использования

					p Товары «Вальмона» известны необычными составами. В средства включены как известные европейские компоненты, так и необычные восточные ингредиенты. Благодаря им шампуни и бальзамы позволяют получить хороший результат уже после нескольких применений.

					p Производители ответственно подходят к выпуску изделий. Качество товаров тщательно контролируется. Составы тестируются перед тем, как поступить в производство. Благодаря этому косметика безопасна и не вызывает аллергических реакций. Средства можно подобрать для любого типа волос.

					p Шампуни и бальзамы выпускаются в компактных упаковках. Они отличаются стильным дизайном, удобным дозатором. Это влияет на то, что средства экономично расходуются, их хватает надолго. К достоинствам продукции относят стоимость косметики. Шампуни, кондиционеры и сыворотки корейского производителя позволят вернуть локонам блеск и силу всего за несколько применений. Средства рекомендуются для тех, кто страдает истончением и выпадением волос.

					p #[strong «Бьюти Форс» - это официальный дилер Valmona в России. Компания предлагает выгодное сотрудничество розничным и оптовым сетям продаж косметики. Стоимость продукции торговой марки доступна для любого бюджета. Логистические компании, с которыми мы работаем, доставят заказ в любо регион России.]

			//- .page-sidebar
			//- 	h3.page-sidebar__title О бренде
			//- 	.sidebar
			//- 		.sidebar__col
			//- 			.sidebar__title Изготовитель:
			//- 			p
			//- 		.sidebar__col
			//- 			.sidebar__title Адрес производителя:
			//- 			p
			//- 		.sidebar__col
			//- 			.sidebar__title Год основания:
			//- 			p
			//- 		.sidebar__col
			//- 			.sidebar__title Год выхода в России:
			//- 			p