extends ../page.pug

append config
	- title = 'Vival | Beautyforce.ru'
	- h1 = 'Vival'
	- desc = 'Торговая марка Vival выпускает мочалки из качественного сырья. Российский производитель предлагает аксессуары для ванны и душа из разнообразных материалов.'
	-	image	=	'headers/brands/placeholder'

block content
	.container
		.breadcrumbs
			ul.breadcrumbs__list
				li.breadcrumbs__item
					a.breadcrumbs__link(href="/") Главная
				li.breadcrumbs__item
					a.breadcrumbs__link(href="brands.html") Бренды
				li.breadcrumbs__item Vival
		.page
			.page__content
				h2.page__title Vival
				main.main

					p Торговая марка Vival выпускает мочалки из качественного сырья. Российский производитель предлагает аксессуары для ванны и душа из разнообразных материалов. В разработке продукции используются инновационные достижения и актуальные технологии.

					h3 Обзор изделий

					p #[strong Vival предлагает товары для детей и взрослых. Они изготавливаются из следующих материалов:]

					ul.page-list
						li.page-list__item Хлопок
						li.page-list__item Люфа
						li.page-list__item Полипропилен
						li.page-list__item Нейлон
						li.page-list__item Крапива

					p Изделия различаются друг от друга формой, размером, уровнем жесткости. Производители предлагают модели для детей. Они делаются из натурального хлопка, не вызывают раздражение, не царапают кожу малышей. Модели встречаются в форме рукавичек, спонжей и др. Они отличаются яркими оттенками и нанесенными на них рисунками. В них вшивается губка-наполнитель, которая хорошо пенится.

					p Мочалки из хлопка могут применяться для сухого массажа. Они гипоаллергенные, рекомендуются для чувствительной кожи. Модели из люфы используются для антицеллюлитного массажа. Для изготовления берется полностью натуральный экологичный материал.

					h3 Достоинства

					p #[strong Бренд Vival обладает такими достоинствами, как:]

					ul.page-list
						li.page-list__item SPA-эффект
						li.page-list__item Различный уровень жесткости
						li.page-list__item Массажный эффект
						li.page-list__item Натуральность и экологичность
						li.page-list__item Длительный срок службы

					p Мочалки от российского производителя встречаются в различных расцветках. Модели могут быть яркие или нейтральные. К особенностям изделий относят SPA-эффект, который они оказывают. Изделия различаются жесткостью, могут применяться для сухого массажа. Регулярное использование продукции российского бренда позволит уменьшить проблемные места, так как помогает бороться с целлюлитом.

					p Мочалки подходят для регулярного использования, изготовлены из гигиеничных и безопасных материалов. Гарантией безопасности считается обязательное тестирование изделий на каждом этапе производства.

					p #[strong Официальный дилер Vival «Бьюти Форс» предлагает выгодное сотрудничество оптовым и розничным клиентам. Компания организовывает доставку по всей территории России. При появлении вопросов необходимо связаться с менеджерами, которые дадут подробные ответы на них. Продукция российского производителя отличается длительным сроком службы, практичностью и функциональностью. При этом ее стоимость ниже, чем у европейских аналогов.]

			//- .page-sidebar
			//- 	h3.page-sidebar__title О бренде
			//- 	.sidebar
			//- 		.sidebar__col
			//- 			.sidebar__title Изготовитель:
			//- 			p
			//- 		.sidebar__col
			//- 			.sidebar__title Адрес производителя:
			//- 			p
			//- 		.sidebar__col
			//- 			.sidebar__title Год основания:
			//- 			p
			//- 		.sidebar__col
			//- 			.sidebar__title Год выхода в России:
			//- 			p