extends ../page.pug

append config
	- title = 'Wella | Beautyforce.ru'
	- h1 = 'Wella'
	- desc = 'Немецкий бренд Wella появился более века назад, в конце 19 столетия. За весь период существования он занял лидирующие позиции в производстве косметики. Компания приобрела популярность благодаря выпуску ухаживающих средств для волос.'
	-	image	=	'headers/brands/placeholder.jpg'

block content
	.container
		.breadcrumbs
			ul.breadcrumbs__list
				li.breadcrumbs__item
					a.breadcrumbs__link(href="/") Главная
				li.breadcrumbs__item
					a.breadcrumbs__link(href="brands.html") Бренды
				li.breadcrumbs__item Wella
		.page
			.page__content
				h2.page__title Wella
				main.main

					p Немецкий бренд Wella появился более века назад, в конце 19 столетия. За весь период существования он занял лидирующие позиции в производстве косметики. Компания приобрела популярность благодаря выпуску ухаживающих средств для волос.

					h3 Особенности

					p Производители выпускают косметику для салонов и домашнего использования. Торговая марка совершенствует продукцию, расширяет ассортимент за счет собственных революционных разработок. Компания владеет несколькими исследовательскими центрами.

					p #[strong Под брендом выпускают:]

					ul.page-list
						li.page-list__item Шампуни и бальзамы для различного типа воло
						li.page-list__item Кондиционеры, маски
						li.page-list__item Муссы, пенки, лаки
						li.page-list__item Лосьоны, сыворотки и др.

					p Товары компании помогают улучшить состояние волос. Они способны вернуть им здоровый блеск, избавить от перхоти. Производители предлагают средства для стайлинга и укладки.

					p #[strong Среди самых популярных линеек бренда Wella отмечают:]

					ul.page-list
						li.page-list__item Brilliance для ухода за окрашенными волосами
						li.page-list__item Color Touch с инновационной формулой
						li.page-list__item Illumina Color с большим выбором оттенков
						li.page-list__item Краски Color Fresh
						li.page-list__item Blondor для осветления
						li.page-list__item Balance для ухода и восстановления здоровья

					p Торговая марка предлагает средства, позволяющие избавиться от перхоти, секущихся кончиков. Косметика улучшает структуру волос. В линейках красок представлен большой выбор цветов, что позволяет подобрать тон на любой вкус.

					h3 Преимущества

					p #[strong Косметика от немецкого бренда – это профессиональный уход в домашних условиях. Среди ее главных достоинств отмечают:]

					ul.page-list
						li.page-list__item Отсутствие аллергических реакций
						li.page-list__item Сохранение результата на длительное время
						li.page-list__item Возможность иприменения для различного типа
						li.page-list__item Сочетание действенных ингредиентов, позволяющее добиться хороших результатов
						li.page-list__item Большой выбор средств для различных целей

					p Продукция компании – это европейское качество в соответствии с последними нормами и требованиями косметическим товарам. Благодаря инновационной формуле краски для волос обеспечивают глубокий уход и стойкое окрашивание.

					p #[strong Официальный дилер Wella компания «Бьюти Форс» предлагает выгодное сотрудничество всем, кто ценит профессиональный подход и хорошие результаты по разумной цене. Мы работаем с розничными и оптовыми сетями. Вся продукция разработана с учетом современных требований, что подтверждено сертификатами. Благодаря развитой логистической сети мы можем доставить товар в любой регион России.]

			//- .page-sidebar
			//- 	h3.page-sidebar__title О бренде
			//- 	.sidebar
			//- 		.sidebar__col
			//- 			.sidebar__title Изготовитель:
			//- 			p
			//- 		.sidebar__col
			//- 			.sidebar__title Адрес производителя:
			//- 			p
			//- 		.sidebar__col
			//- 			.sidebar__title Год основания:
			//- 			p
			//- 		.sidebar__col
			//- 			.sidebar__title Год выхода в России:
			//- 			p