extends ../page.pug

append config
	- title = 'Wella System Professional | Beautyforce.ru'
	- h1 = 'Wella System Professional'
	- desc = 'Немецкий бренд Londa появился в середине 20 столетия. Компания выпускает средства для ухода за волосами. Изначально торговая марка входила в состав Wella AG.'
	-	image	=	'headers/brands/placeholder'

block content
	.container
		.breadcrumbs
			ul.breadcrumbs__list
				li.breadcrumbs__item
					a.breadcrumbs__link(href="/") Главная
				li.breadcrumbs__item
					a.breadcrumbs__link(href="brands.html") Бренды
				li.breadcrumbs__item Wella System Professional
		.page
			.page__content
				h2.page__title Wella System Professional
				main.main

					p Немецкий бренд Wella System Professional выпускает косметику для профессионального ухода за волосами. История компании началась в конце 19 века, когда молодой парикмахер предложил нестандартное решение для выпуска париков и шиньонов. За время существования торговой маркой не раз был применен новаторский подход для изготовления и использования косметики для волос.

					h3 Продукция Wella System Professional: особенности

					p Бренд Wella System Professional предлагает профессиональные средства для укладки, окраски и возвращения здоровья волосам. Среди товаров торговой марки можно найти продукцию для любого типа. Стилисты и парикмахеры более, чем в 100 странах мира используют средства Wella SP. Компания не только предлагает профессиональную продукцию, но и проводит семинары и мастер-классы для специалистов.

					p #[strong Под брендом выпускается несколько линеек косметики:]

					ul.page-list
						li.page-list__item Hydrate для увлажнения сухих волос
						li.page-list__item Shine Define включает маски и бальзамы для придания блеска
						li.page-list__item Volumize для стайлинга
						li.page-list__item LuxeOil для питания и насыщения волос
						li.page-list__item Clear Scalp для устранения перхоти

					p #[strong  Wella System Professional предлагает серию косметики для мужчин. Для представителей сильного пола разработаны специальные формулы и выпущены средства:]

					ul.page-list
						li.page-list__item Шампуни, бальзамы
						li.page-list__item Воск для укладки
						li.page-list__item Гель для фиксации прически
						li.page-list__item Спреи
						li.page-list__item Пасты и др.

					p Косметика европейского бренда предназначена для борьбы с облысением, появлением перхоти и другими проблемами.

					h3 Преимущества

					p #[strong Продукция Велла SP известна такими характеристиками:]

					ul.page-list
						li.page-list__item Европейское качество
						li.page-list__item Видимые результаты применения на долгое время
						li.page-list__item Инновационные формулы
						li.page-list__item Широкий ассортимент
						li.page-list__item Уникальные компоненты

					p Торговая марка предлагает средства для различного типа волос. Качество и результат применения косметики обусловлено натуральными ингредиентами, входящими в ее состав. Европейские производители предлагаю шампуни, масла, сыворотки, бальзамы, муссы, эмульсии, кондиционеры для женщин и мужчин.

					p #[strong «Бьюти Форс» - это официальный дилер Wella System Professional на территории России. Клиентов компании ожидает большой выбор товаров, разумные цены и быстрая доставка. Мы готовы сотрудничать с небольшими магазинами и крупными торговыми сетями, парикмахерскими и салонами красоты. Сотрудники компании расскажут подробную информацию о товарах и их особенностях, помогут оформить заказ.]

			//- .page-sidebar
			//- 	h3.page-sidebar__title О бренде
			//- 	.sidebar
			//- 		.sidebar__col
			//- 			.sidebar__title Изготовитель:
			//- 			p
			//- 		.sidebar__col
			//- 			.sidebar__title Адрес производителя:
			//- 			p
			//- 		.sidebar__col
			//- 			.sidebar__title Год основания:
			//- 			p
			//- 		.sidebar__col
			//- 			.sidebar__title Год выхода в России:
			//- 			p