extends ../page.pug

append config
	- title = 'Yashinomi | Beautyforce.ru'
	- h1 = 'Yashinomi'
	- desc = 'Бренд Yashinomi выпускает японская компания Saraya. Продукция появилась в начале 70-х годов и быстро приобрела популярность среди потребителей.'
	-	image	=	'headers/brands/placeholder.jpg'

block content
	.container
		.breadcrumbs
			ul.breadcrumbs__list
				li.breadcrumbs__item
					a.breadcrumbs__link(href="/") Главная
				li.breadcrumbs__item
					a.breadcrumbs__link(href="brands.html") Бренды
				li.breadcrumbs__item Yashinomi
		.page
			.page__content
				h2.page__title Yashinomi
				main.main

					p Бренд Yashinomi выпускает японская компания Saraya. Продукция появилась в начале 70-х годов и быстро приобрела популярность среди потребителей. Производители делают основной акцент на безопасности, эффективности и экологичности косметики.

					p Saraya известна тем, что заботится об окружающей среде. Производители не тестируют средства на животных. Средства торговой марки разлагаются в воде, не загрязнет окружающую среду. Японский бренд постоянно развивается, работает над усовершенствованием имеющихся средств и выпуском новых товаров.

					h3 Ассортимент

					p #[strong Под торговой маркой Yashinomi продаются средства для ухода за волосами и телом:]

					ul.page-list
						li.page-list__item Шампуни
						li.page-list__item Кондиционеры
						li.page-list__item Мыло
						li.page-list__item Гели для душа
						li.page-list__item Маски и сыворотки для волос и др.

					p В качестве основного ингредиента линейки косметики выступает кокосовое масло. В средства не включаются агрессивные вещества. В качестве ароматизаторов выступают экстракты маракуйи и дыни.

					p Шампунь и кондиционер предназначены для всех типов волос. Они увлажняют, поддерживают здоровый баланс кожи головы. Косметика для ухода придает волосам здоровый блестящий вид, улучшает их состояние.

					p Мыло японской торговой марки выпускается в удобном флаконе-дозаторе. Оно создается на основе кокосового масла, с добавлением экстрактов экзотических фруктов. Мыло тонизирует, увлажняет кожу, способствует устранению некоторых дерматологических проблем. Оно хорошо избавляет от неприятных запахов, даже сильно устойчивых. Гели для душа обладают приятным запахом. Они увлажняют кожу и ухаживают за ней.

					h3 Особенности продукции

					p #[strong Для продукции Yashinomi характерно:]

					ul.page-list
						li.page-list__item Гипоаллергенность
						li.page-list__item Безопасность
						li.page-list__item Качество
						li.page-list__item Эффективность
						li.page-list__item Экологичность

					p Косметические средства отличаются гигиеничностью, соответствуют стандартам, предъявляемым к продукции, которая может использоваться в детских и медицинских организациях. Мыло и гели для душа обладают антибактериальными свойствами. Средства для волос ухаживают и придают здоровый вид.

					p #[strong Официальный дилер Yashinomi «Бьюти Форс» помогает наладить доставку японской косметики для волос в любой регион России. Продукция бренда пользуется популярностью благодаря качеству и невысокой стоимости. Партнерам компании предлагаются выгодные условия, бонусы и акции. Сотрудники «Бьюти Форс» обеспечат клиентам поддержку на всех этапах выполнения заказа.]

			//- .page-sidebar
			//- 	h3.page-sidebar__title О бренде
			//- 	.sidebar
			//- 		.sidebar__col
			//- 			.sidebar__title Изготовитель:
			//- 			p
			//- 		.sidebar__col
			//- 			.sidebar__title Адрес производителя:
			//- 			p
			//- 		.sidebar__col
			//- 			.sidebar__title Год основания:
			//- 			p
			//- 		.sidebar__col
			//- 			.sidebar__title Год выхода в России:
			//- 			p