extends ../page.pug

append config
	- title = 'Zinger | Beautyforce.ru'
	- h1 = 'Zinger'
	- desc = 'Компания Zinger появилась в конце 20 столетия. Под торговой маркой выпускаются инструменты и аксессуары для маникюра и педикюра.'
	-	image	=	'headers/brands/placeholder.jpg'

block content
	.container
		.breadcrumbs
			ul.breadcrumbs__list
				li.breadcrumbs__item
					a.breadcrumbs__link(href="/") Главная
				li.breadcrumbs__item
					a.breadcrumbs__link(href="brands.html") Бренды
				li.breadcrumbs__item Zinger
		.page
			.page__content
				h2.page__title Zinger
				main.main

					p Компания Zinger появилась в конце 20 столетия. Под торговой маркой выпускаются инструменты и аксессуары для маникюра и педикюра. Для производства продукции применяются специальные технологии и современное оборудование. Товары сертифицированы, что подтверждает их качество.

					h3 Ассортимент

					p #[strong Под торговой маркой Zinger выпускаются товары, решающие такие задачи:]

					ul.page-list
						li.page-list__item Удаление кутикулы
						li.page-list__item Защита ногтей от повреждений
						li.page-list__item Хход и укрепление и др.

					p Инструменты помогают легко и быстро сделать совершенный маникюр или педикюр. В продажу поступает продукция торговой марки:

					ul.page-list
						li.page-list__item Ножницы
						li.page-list__item Пилки для ногтей
						li.page-list__item Щипцы
						li.page-list__item Твизеры для кутикулы
						li.page-list__item Щетки и терки для ног и др.

					p Среди особенностей продукции отмечают то, что производители выпускают инструменты для правшей и левшей. Компания расширяет ассортимент, предлагая потребителем новые товары для ухода за ногтями. Под торговой маркой встречаются:

					ul.page-list
						li.page-list__item Составы для укрепления ногтей
						li.page-list__item База для лака
						li.page-list__item Средство для сушки покрытия
						li.page-list__item Декоративные лаки
						li.page-list__item Составы для удаления кутикулы
						li.page-list__item Гель-лаки и др.

					p Помимо отдельных товаров потребители могут приобрести подарочные наборы. Производители предлагают щетки и терки для ног, которые помогут добиться идеального педикюра.

					h3 Преимущества

					p #[strong Бренд Zinger отличается такими характеристиками, как:]

					ul.page-list
						li.page-list__item Новейшие формулы и разработки
						li.page-list__item Невысокая цена
						li.page-list__item Большой выбор продукции
						li.page-list__item Красивая и удобная упаковка

					p Благодаря немецкой педантичности производители доводят свою продукцию почти до совершенства. Инструменты для маникюра изготовлены из высоколегированной стали. Они затачиваются вручную и на долгое время остаются острыми. Инструменты используются в домашних условиях и специализированных нейл-студиях.

					p Торговую марку отличают удобные чехлы или кейсы. Они изготавливаются из мягкого материала, вместительны и долговечны. Производители периодически предлагают новинки с учетом последних достижений.

					p #[strong Официальный дилер Zinger «Бьюти Форс» готов сотрудничать с небольшими магазинами и крупными торговыми сетями. Развитая логистическая сеть позволяет наладить доставку в различные регионы России. Мы заинтересованы в длительном сотрудничестве, поэтому предлагаем партнерам интересные и выгодные условия работы.]

			//- .page-sidebar
			//- 	h3.page-sidebar__title О бренде
			//- 	.sidebar
			//- 		.sidebar__col
			//- 			.sidebar__title Изготовитель:
			//- 			p
			//- 		.sidebar__col
			//- 			.sidebar__title Адрес производителя:
			//- 			p
			//- 		.sidebar__col
			//- 			.sidebar__title Год основания:
			//- 			p
			//- 		.sidebar__col
			//- 			.sidebar__title Год выхода в России:
			//- 			p