.block-brands {
	display: flex;
	justify-content: space-between;
	margin-bottom: 1.5625rem;

	@media (max-width: 610px) {
		flex-direction: column;
	}

	&__brands {
		flex-basis: 65%;
		margin-right: 1.5625rem;

		@media (max-width: 610px) {
			margin-right: 0;
			margin-bottom: 1.5625rem;
		}
	}

	&__form {
		width: 21.875rem;
		margin-right: 1.875rem;

		@media (max-width: 1200px) {
			margin-right: 0;
		}
		@media (max-width: 610px) {
			width: 100%;
		}
	}
}