.brands-grid {
  &__list {
    display: grid;
		grid-template-columns: repeat(5,1fr);
		grid-template-rows: repeat(1,1fr);
		grid-column-gap: 15px;
		grid-row-gap: 15px;
    margin-bottom: 1.875rem;



    @media (max-width: 1200px) {

      grid-template-columns: repeat(5,1fr);
    }

    @media (max-width: 992px) {

      grid-template-columns: repeat(4,1fr);
    }

    @media (max-width: 810px) {

      grid-template-columns: repeat(4,1fr);
    }
  }
  &__item {
    background-color: $white;
    box-shadow: -5px 9px 7px -11px rgba(0,0,0,0.45);
    border-radius: 2px;
    transition: box-shadow $slow;
    &:hover {
      box-shadow: -5px 9px 9px -11px rgba(0,0,0,0.75);
      .brands-grid__img {
        filter: none;
      }
    }

    @media (max-width: 992px) {

      &:last-child {
        display: none;
      }
    }

    @include tablets {
      flex-basis: 15%;
    }

    @include phones {
      flex-basis: 50%;
    }
  }
  &__link {
    display: flex;
  }
  &__img {
    filter: grayscale(1);
    transition: filter $slow;
    height: auto;
  }
}