.brands {
	&__list {
		display: flex;
		flex-wrap: wrap;
	}
	&__item {
		flex: 0 0 32%;
		margin-right: $gutter/2;
		margin-bottom: $gutter/2;
		&:nth-child(3n) {
			margin-right: 0;
		}
	}
	&__link {
		display: flex;
		width: 100%;
		height: 100%;
		position: relative;
		&::after {
			content: '';
			position: absolute;
			display: flex;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(0,0,0,.7);
		}
	}
	&__img {
		display: block;
		width: 100%;
		height: 100%;
	}
	&__content {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		padding: 2rem;
		color: $white;
		text-align: center;
		z-index: 10;
		opacity: .9;
		&:hover {
			opacity: 1;
		}
	}
	&__title {
		font-size: 1.625rem;
		font-weight: 500;
		margin-bottom: $gutter/2;
	}
	&__desc	{
		font-size: .875rem;
		line-height: 1.5;
	}
}