.feedback-block {
	margin: $gutter 0;

	&__list {
		display: flex;

		@include phones {
			flex-direction: column;
			align-items: center;
			justify-content: center;
		}
	}

	&__item {
		margin-right: $gutter;

		&:last-child {
			margin-right: 0;
		}

		@include phones {
			margin-right: 0;
			margin-bottom: $gutter;
		}
	}
}