.footer-nav {
	&__list {
		flex-direction: column;
	}
	&__item {
		margin-bottom: $gutter/2;
		margin-right: 0;
	}
	&__link {
		color: $light;
		&:hover {
			text-decoration: underline;
		}
	}
}