.header {
	background-color: $accent;

	&__container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 1.5625rem 0;

		@include tablets {
			justify-content: initial;
		}
	}
}