.header {
	background-color: $accent;

	&__container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 1.5625rem 1.333333333333333rem;

		@include tablets {
			justify-content: initial;
		}
	}

	&__links {
		display: flex;
	}
}