.lang {
	&__list {
		display: flex;
	}
	&__item {
		display: flex;
		align-items: center;

		&::before {
			content: '';
			width: 1px;
			height: .9375rem;
			margin: 0 .625rem;
			background-color: #7c8391;
			opacity: 50%;
		}

		&:first-child {
			&::before {
				display: none;
			}
		}
	}
	&__link {
		max-width: 1.3125rem;
	}
	&__icon	{
		display: block;
		width: 1.3125rem;
		height: 1.3125rem;
		border-radius: 1px;
	}
}