.logo {
	display: flex;

	@include tablets {
		flex: 1;
	}

	@include phones {
		margin: auto;
	}
	&__icon {
		width: 14.625rem;
		height: 3.125rem;
		fill: $white;

		@include tablets {
			width: 11.25rem;
			height: 2.714285714285714rem;
		}
	}
}