.nav {
	display: flex;
	&__list	{
		display: flex;
	}
	&__item {
		margin-right: .9375rem;
	}
	&__link {
		font-size: 1rem;
		font-weight: 300;
		color: $white;
		&:hover {
			color: $gray;
		}
	}
}