.news {
	&__list {
		display: flex;
	}
	&__item {
		display: flex;
		flex-direction: column;
		flex: 1;
		max-height: 487px;
		padding: .5rem;
		&:last-child {
			margin-right: 0;
		}
	}
	&__text {
		color: $dark;
	}
	&__title {
		font-size: 1.125rem;
		font-weight: 500;
		margin-bottom: $gutter/2;
	}
	&__img {
		margin-bottom: .9375rem;
	}
	&__date {
		font-size: .875rem;
	}
}