.page {
	display: flex;

	@include tablets {
		flex-direction: column;
	}

	&__content {
		flex-basis: 75%;

		@include tablets {
			flex-basis: 100%;
		}
	}

	&__title {
		font-size: 2rem;
		font-weight: 600;
		color: $dark;
		margin: $gutter 0;
	}

	h3 {
		font-size: 1.3125rem;
		font-weight: 600;
		color: $dark;
		margin: $gutter 0;
	}

	&__img {
		margin: $gutter 0;
	}
}