.sidebar {
	display: flex;
	flex-direction: column;

	@include tablets {
		flex-direction: row;
	}

	@include phones {
		flex-direction: column;
	}

	&__col {
		margin-bottom: .3125rem;

		@include tablets {
			flex: 1;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	&__title {
		font-weight: 500;
	}
}