.socials {
	display: flex;

	@include phones {
		display: none;
	}
	&__list	{
		display: flex;
	}
	&__item {
		margin-right: .625rem;
		display: flex;
		&:last-child {
			margin-right: 0;
		}
	}
	&__link {
		display: flex;
	}
	&__icon {
		width: 1rem;
		height: 1rem;
		fill: #7c8391;
		&:hover {
			fill: $white;
		}
	}
}