footer.footer
	.container.footer__container
		.footer__col
			a.logo(href="/"): +icon('logo', 'logo__icon')
			span.copyright © 2019 BeautyForce
		.footer__col
			h3.footer__title Меню
			+footer-nav
		.footer__col
			.footer-brands
				h3.footer__title Бренды
				ul.footer-brands__list
					li.footer-brands__item
						a.footer-brands__link(href="dr-gloderm.html") Dr. Gloderm
					li.footer-brands__item
						a.footer-brands__link(href="cellmiin.html") Cellmiin
					li.footer-brands__item
						a.footer-brands__link(href="wella.html") Wella
					li.footer-brands__item
						a.footer-brands__link(href="londa.html") Londa
					li.footer-brands__item
						a.footer-brands__link(href="opi.html") OPI
					li.footer-brands__item
						a.footer-brands__link(href="swarovski.html") Swarovski
		.footer__col
			.footer-soc
				h3.footer__title Мы в соцсетях
				ul.footer-soc__list
					li.footer-soc__item
						a.footer-soc__link(href="https://www.instagram.com/beauty_force.ru/", target="_blank", rel="noopener")
							+icon('instagram', 'footer-soc__icon')
							span.footer-soc__title Instagram
					li.footer-soc__item
						a.footer-soc__link(href="https://vk.com/club188914260", target="_blank", rel="noopener")
							+icon('vkontakte', 'footer-soc__icon')
							span.footer-soc__title Вконтакте
					li.footer-soc__item
						a.footer-soc__link(href="https://www.facebook.com/Beauty-Force-Group-103228601148308", target="_blank", rel="noopener")
							+icon('facebook', 'footer-soc__icon')
							span.footer-soc__title Facebook
					li.footer-soc__item
						a.footer-soc__link(href="https://ok.ru/group/56276972732615", target="_blank", rel="noopener")
							+icon('odnoklassniki', 'footer-soc__icon')
							span.footer-soc__title Одноклассники
					li.footer-soc__item
						a.footer-soc__link(href="https://www.youtube.com/channel/UCclQv0cHZAxC4z-Ym6friIw", target="_blank", rel="noopener")
							+icon('youtube', 'footer-soc__icon')
							span.footer-soc__title Youtube
		.footer__col
			.contacts
				h3.footer__title Контакты
				ul.contacts__list
					li.contacts__item
						+icon('marker', 'contacts__icon')
						span.contacts__title Адрес:
						.contacts__text Москва, ул. Павловская, д. 27, стр. 4
					li.contacts__item
						+icon('phone', 'contacts__icon')
						span.contacts__title Телефон:
						a.contacts__link(href="tel:+74994092180") +7(499)409-21-80
					li.contacts__item
						+icon('mail', 'contacts__icon')
						span.contacts__title Email:
						a.contacts__link(href="mailto:info@beforce.ru") info@beforce.ru
				ul.contacts__list
					li.contacts__item
						+icon('clock', 'contacts__icon')
						span.contacts__title Работа офиса:
						.contacts__text Пн - Пт 10:00 - 18:00
					li.contacts__item
						+icon('clock', 'contacts__icon')
						span.contacts__title Работа склада:
						.contacts__text Пн - Пт 10:00 - 20:00