footer.footer
	.container.footer__container
		.footer__col
			a.logo(href="/"): +icon('logo', 'logo__icon')
			span.copyright © 2019 BeautyForce
		.footer__col
			h3.footer__title Меню
			+nav('footer-nav')
		.footer__col
			.footer-brands
				h3.footer__title Бренды
				ul.footer-brands__list
					li.footer-brands__item
						a.footer-brands__link(href="dr-gloderm.html") Dr. Gloderm
					li.footer-brands__item
						a.footer-brands__link(href="3w-clinic.html") 3W Clinic
					li.footer-brands__item
						a.footer-brands__link(href="wella.html") Wella
					li.footer-brands__item
						a.footer-brands__link(href="londa.html") Londa
					li.footer-brands__item
						a.footer-brands__link(href="opi.html") OPI
					li.footer-brands__item
						a.footer-brands__link(href="swarovski.html") Swarovski
		.footer__col
			.footer-soc
				h3.footer__title Мы в соцсетях
				ul.footer-soc__list
					li.footer-soc__item
						a.footer-soc__link(href="https://www.instagram.com/beautyforce.ru/", target="_blank")
							+icon('instagram', 'footer-soc__icon')
							span.footer-soc__title Instagram
					li.footer-soc__item
						a.footer-soc__link(href="https://web.facebook.com/gloderm/", target="_blank")
							+icon('facebook', 'footer-soc__icon')
							span.footer-soc__title Facebook
					li.footer-soc__item
						a.footer-soc__link(href="https://www.youtube.com/channel/UCclQv0cHZAxC4z-Ym6friIw", target="_blank")
							+icon('youtube', 'footer-soc__icon')
							span.footer-soc__title Youtube
					li.footer-soc__item
						a.footer-soc__link(href="#", target="_blank")
							+icon('vk', 'footer-soc__icon')
							span.footer-soc__title Вконтакте
					li.footer-soc__item
						a.footer-soc__link(href="#", target="_blank")
							+icon('odnoklassniki', 'footer-soc__icon')
							span.footer-soc__title Одноклассники
		.footer__col
			.contacts
				h3.footer__title Контакты
				ul.contacts__list
					li.contacts__item
						+icon('marker', 'contacts__icon')
						span.contacts__title Адрес:
						.contacts__text Москва, ул. Павловская, д. 27, стр. 4
					li.contacts__item
						+icon('phone', 'contacts__icon')
						span.contacts__title Телефон:
						a.contacts__link(href="tel:+74994092180") +7(499)409-21-80
					li.contacts__item
						+icon('mail', 'contacts__icon')
						span.contacts__title Email:
						a.contacts__link(href="mailto:info@beforce.ru") info@beforce.ru
