- var lang 					    = 'ru'
- var title				 	    = 'Заголовок'
- var h1								= 'Заголовок'
- var desc 					    = 'Описание страницы'
- var csspath 			    = 'css'
- var iconspath 		    = 'img/icons'
- var jQuery 				    = true
-	var	image							=	'1.jpg'
- var currentURL				= 'index.html'